[2020-01-10 16:05] iCollin commented on #3150
Closed via #3191

[2020-01-10 16:05] #3150 closed

[2020-01-10 19:21] iCollin commented on #967
Closed via #2365

[2020-01-10 19:21] #967 closed

[2020-01-13 14:57] iCollin commented on #3135
Closed via #3116 and #3146

[2020-01-13 14:57] #3135 closed

[2020-01-13 16:18] iCollin commented on #995
Closed via #2335

[2020-01-13 16:18] #995 closed

[2020-01-13 20:35] JackLivio commented on #3207
Are you sure this is a bug? The OnBCSystemCapabilityUpdatedNotificationFromHMI class only looks for capability types DISPLAYS and REMOTE_CONTROL. I am leaning more towards that this is a feature request instead of a bug.

[2020-01-14 16:49] dboltovskyi commented on #3207
@theresalech @JackLivio Please notice a new proposal for SDL will be created regarding possibility to update `VIDEO_STREAMING` capabilities through `OnSystemCapabilityUpdated` notification.

[2020-01-14 16:49] #3207 closed

[2020-01-14 19:45] iCollin commented on #1399
Closed via #2370

[2020-01-14 19:45] #1399 closed

[2020-01-14 20:10] JackLivio commented on #3138
Fixed by #3203

[2020-01-14 20:10] #3138 closed

[2020-01-15 11:08] GetmanetsIrina opened #3210 "SDL code errors in code analysis report"
### Bug Report
SDL code errors in code analysis report

##### Reproduction Steps
cppcheck --enable=all --inconclusive --suppress=missingInclude --inline-suppr -i "src/3rd_party-static" -i "src/3rd_party" --xml --xml-version=2 -q src 2> cppcheck.xml

##### Expected Behavior
There are not errors in report.

##### Observed Behavior
460 code errors in report, that are potential SDL issues.

##### OS &

[2020-01-15 14:06] ShobhitAd commented on #3142
Closing with merge of https://github.com/smartdevicelink/sdl_core/pull/3154

[2020-01-15 14:06] #3142 closed

[2020-01-15 16:18] jacobkeeler commented on #2997
Closing with the merge of #3049

[2020-01-15 16:18] #2997 closed

[2020-01-15 21:25] theresalech opened #3211 "[SDL 0234] Proxy Library RPC Generation"
Proposal: [Proxy Library RPC Generation](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0234-proxy-rpc-generation.md)

Review: https://github.com/smartdevicelink/sdl_evolution/issues/741

Steering Committee Decision:

[2020-01-15 21:26] theresalech commented on #3211
Proposal markdown file has been updated per the revisions included in accepted Evolution Proposal [SDL 0234 Revisions - Proxy Library RPC Generation](https://github.com/smartdevicelink/sdl_evolution/issues/853). These revisions required SDL Core to be an impacted platform.  Please reference issue and proposal markdown file for more details.

[2020-01-15 21:39] theresalech opened #3212 "[SDL 0268] Main Menu Updating and Pagination"
Proposal: [Main Menu Updating and Pagination](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0268-main-menu-updating.md)

Review: https://github.com/smartdevicelink/sdl_evolution/issues/883

[2020-01-16 17:10] jacobkeeler commented on #3131
Closing with the merge of #3145

[2020-01-16 17:10] #3131 closed

[2020-01-17 16:37] ShobhitAd commented on #3139
Closing with merge of https://github.com/smartdevicelink/sdl_core/pull/3151

[2020-01-17 16:37] #3139 closed

[2020-01-21 20:48] theresalech opened #3216 "[SDL 0266] New vehicle data GearStatus"
Proposal: [New vehicle data GearStatus](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0266-New-vehicle-data-GearStatus.md)

Review: https://github.com/smartdevicelink/sdl_evolution/issues/881

Steering Committee Decision:

[2020-01-21 21:26] iCollin commented on #1865
Closed via #2394

[2020-01-21 21:26] #1865 closed

[2020-01-21 21:26] iCollin commented on #1868
Closed via #2394

[2020-01-21 21:26] #1868 closed

[2020-01-21 21:26] iCollin commented on #1867
Closed via #2394

[2020-01-21 21:26] #1867 closed

[2020-01-21 21:26] iCollin commented on #1866
Closed via #2394

[2020-01-21 21:26] #1866 closed

[2020-01-22 14:36] iCollin commented on #974
I see these passing, they require `-DBUILD_TESTS=ON`.

Closed via #2249

[2020-01-22 14:36] #974 closed

[2020-01-22 21:03] iCollin commented on #1878
Closed via #2515

[2020-01-22 21:03] #1878 closed

[2020-01-23 14:16] SNiukalov opened #3218 "ATF tests failed using IAP2 transport"
##### Issue
Some ATF tests failed when SDL build without BUILD_TEST flag.
But ATF tests are not dependent on unit tests.

##### Expected Behavior
SDL should be build without BUILD_TEST flag to run ATF tests.

##### Observed Behavior
Some ATF tests failed if the SDL assembly is without the BUILD_TEST flag:
https://github.com/smartdevicelink/sdl_atf_test_scripts/tree/master/test_scripts/iAP2Transpor

[2020-01-23 18:54] theresalech commented on #2797
It's been determined no changes are needed to Core for this feature to function properly.  Closing issue.

[2020-01-23 18:54] #2797 closed

[2020-01-24 21:21] jacobkeeler commented on #3118
Closing with the merge of #3134

[2020-01-24 21:21] #3118 closed

[2020-01-27 15:04] dboltovskyi commented on #3197
@theresalech
Along with the current issue for `sdl_core` we have prepared an updates for `sdl_atf` and `sdl_atf_test_scripts` in order to validate the feature with automated tests.
So we would like to ask you to create 2 additional issues in these repositories as well.

[2020-01-27 15:16] dboltovskyi commented on #3197
@theresalech Please notice one more issue for `sdl_hmi_integration_guidelines` is also required.

[2020-01-27 18:16] theresalech commented on #3197
@dboltovskyi these have been created, thanks!
- https://github.com/smartdevicelink/sdl_hmi_integration_guidelines/issues/188
- https://github.com/smartdevicelink/sdl_atf_test_scripts/issues/2322
- https://github.com/smartdevicelink/sdl_atf/issues/182

[2020-01-27 20:05] jpsalm opened #3220 "openssl1.1.x support"
Is migration to openssl1.1 something on your roadmap?

I am attempting to move the [meta-sdl yocto layer](https://github.com/phongt/meta-sdl/tree/warrior) to a more current yocto release as well as utilize the latest 6.0.1 sdl-core release.

An issue I'm currently running into is sdl-core using openssl1.0 while more current yocto releases are using 1.1.  I can successfully compile the project with

[2020-01-28 18:53] iCollin commented on #2384
Closed via #2516

[2020-01-28 18:53] #2384 closed

[2020-01-28 21:06] theresalech opened #3222 "[SDL 0250] Next RPC Indication for the HMI"
Proposal: [Next RPC Indication for the HMI](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0250-NextRpcIndication.md)

This feature would provide apps with a way for the HMI to know what's next when a button or choice is selected.

This can be used in tandem with [Template Improvements: Additional SubMenus](https://github.com/smartdevicelink/sdl_evolution/blob/master/propos

[2020-01-29 15:43] iCollin commented on #3140
Closed via #3202

[2020-01-29 15:43] #3140 closed

[2020-01-29 17:40] iCollin commented on #2442
Closed via #3155

[2020-01-29 17:40] #2442 closed

[2020-01-29 21:09] theresalech opened #3223 "[SDL 0259] Disabled Softbuttons"
Proposal: [Disabled Softbuttons](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0259-DisabledSoftbuttons.md)

Review: https://github.com/smartdevicelink/sdl_evolution/issues/859

Steering Committee Decision:

- Use `disabledSupported` in place of `disabledButtonPossible` param within `ButtonCapabilites` and make parameter `mandatory="false"`.
- Use `disabledSupported` in pl

[2020-01-30 11:06] GetmanetsIrina opened #3225 "SDL is not built with EXTERNAL_PROPRIETARY"
### Bug Report
SDL is not built with EXTERNAL_PROPRIETARY

##### Reproduction Steps
1. Set `EXTENDED_POLICY=EXTERNAL_PROPRIETARY` in cmake CMakeCache.txt
2. build SDL

##### Expected Behavior
SDL is built successful

##### Observed Behavior
SDL is not built successful

##### OS & Version Information
* OS/Version: Ubuntu 18.10
* SDL Core Version: https://github.com/smartdevicelink/sdl_core/tree/dev

[2020-01-30 16:01] iCollin commented on #3225
Closed via #3224

[2020-01-30 16:01] #3225 closed

[2020-01-31 16:00] iCollin commented on #3123
Hello @zhouxin627,

Can you clarify what you mean by "HMI failed to create socket for video streaming"?
I am confused because the mobile app will send data to Core, which will be forwarded to mobile.
Is the connection between HMI and Core being broken, or is the issue with the mobile app's streaming connection to core?

Can you also help me to understand the logs posted? I only see StartStream sen

[2020-01-31 16:50] iCollin commented on #2830
Closed via #3122

[2020-01-31 16:50] #2830 closed

[2020-01-31 16:51] iCollin commented on #3112
Closed via #3122

[2020-01-31 16:51] #3112 closed

[2020-01-31 16:51] iCollin commented on #2990
Closed via #3122

[2020-01-31 16:51] #2990 closed

[2020-02-03 13:15] HSavynetska opened #3226 "SDL crashes when the HMI sends UI.OnTouchEvent with the 'ts' param has a value greater than maxvalue (not valid)"
### Bug Report
SDL crashes when the HMI sends UI.OnTouchEvent with the 'ts' param has a value greater than maxvalue (not valid)

##### Reproduction Steps
1. SDL and HMI are started
2. Navi_App is registered and activated
3. OnTouchEventOnlyGroup is allowed by policies
4. HMI sends OnTouchEvent notification with the 'ts' param has a value greater than maxvalue (not valid)

##### Expected Behavior
N

[2020-02-03 15:43] theresalech opened #3227 "[SDL 0264] Separating the change of Audible status and the change of HMI Status"
Proposal: [Separating the change of Audible status and the change of HMI Status](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0264-Separating-the-change-of-Audible-status-and-the-change-of-HMI-Status.md)

Review: https://github.com/smartdevicelink/sdl_evolution/issues/872

Steering Committee Decision:

[2020-02-03 19:36] theresalech opened #3228 "Update License to 2020"
License file should be updated from "Copyright (c) 2017 - 2018 SmartDeviceLink Consortium, Inc." to "Copyright (c) 2017 - 2020 SmartDeviceLink Consortium, Inc."

[2020-02-04 09:05] zhouxin627 commented on #3123
Hi, @iCollin Sorry, perhaps I didn't make myself clear.
It means when using a socket for VideoStreaming data transmission between HMI and SDLCore,
HMI as Socket Client and SDLCore as Socket Server.
When this issue occurs, HMI received StopStream notification then closed the socket connection.
This caused VideoStreaming data transmission was interrupted.

Sorry, the attached log file is incomplete.

[2020-02-04 17:10] iCollin commented on #3123
Hello @zhouxin627,

Thank you for your detailed explanation.

In your HMI implementation, would streaming continue without issue if the socket simply was not closed?
If that would not solve the issue, you can ignore my follow up question.

Otherwise, I am curious what causes the HMI to close the streaming socket. If `OnVideoStreamingData(false)` triggers the socket closing, it will be important to

[2020-02-05 14:18] Ypostolov commented on #3165
The issue is not relevant on the current develop branch.
The current implementation of the  Smartdevicelink/sdl_core is different from the implementation of  SYNC/sdl_core for which was opened issue.
Environment:
Test script: https://github.com/smartdevicelink/sdl_atf_test_scripts/pull/2324
SDL build: https://github.com/smartdevicelink/sdl_core/tree/develop (49f5b211ca995193d68301b0b3c08e3df427568

[2020-02-05 14:18] #3165 closed

[2020-02-05 18:17] ShobhitAd commented on #3161
Closing with the merge of https://github.com/smartdevicelink/sdl_core/pull/3201

[2020-02-05 18:17] #3161 closed

[2020-02-05 18:23] iCollin commented on #2693
@LitvinenkoIra did you have success reproducing this issue? It seems to me the script is passing on develop and failing on the fix branch.

[2020-02-05 20:28] theresalech commented on #3228
Closed via #3229

[2020-02-05 20:28] #3228 closed

[2020-02-05 21:30] iCollin commented on #3158
Closed via #3215

[2020-02-05 21:30] #3158 closed

[2020-02-06 04:49] zhouxin627 opened #3232 "SDLCore failed to retry updating the Policy Table"
### Bug Report
SDLCore failed to retry updating the Policy Table

##### Preconditions
Connect the head unit to any Android/iOS phone

##### Reproduction Steps
1. The first time of updating Policy Table is failed that caused by network problems
2. Fix the network problems soon.

##### Expected Behavior
SDLCore retries updating Policy Table is successful.

##### Observed Behavior
SDLCore retries upd

[2020-02-06 05:07] zhouxin627 opened #3233 "SDL failed to start video streaming due to App switching on iPhone(connection via BT+WIFI)"
### Bug Report
SDL failed to start video streaming due to App switching on iPhone(connection via BT+WIFI)

### Preconditions
1. Connect the head unit to iPhone via BT+WiFi
2. Register 2 iOS apps:
・App1: navigation App
・App2: navigation App

##### Reproduction Steps
1. Activate App1 on HU
2. App1 starts video streaming
3. Switch App1 to the background on iPhone
4. Launch App2 on iPhone
5. Activate

[2020-02-06 10:55] GetmanetsIrina opened #3234 "Redundant OnPermissionsChange notification during app registration"
### Bug Report
Redundant OnPermissionsChange notification during app registration on external policy flow

##### Occurrences
Sometimes

##### Precondition
1. SDL is built with EXTERNAL_PROPRIETARY policy flow
2. HMI and SDL are started
3. Mobile device is allowed

##### Reproduction Steps
1. Register app

##### Expected Behavior
SDL sends one OnPermissionsChange notification to mobile app

##### O

[2020-02-06 15:40] iCollin opened #3235 "Warning when compiling related to deprecated JSON StyledStreamWriter"
## Bug Report
Since #3155, a warning has been presented while compiling sdl_core because `Json::StyledStreamWriter` is deprecated in the new JSON cpp library.

##### Reproduction Steps
1. Clone core at or past commit fe71aef64d7c9e1e35a614721acda513bb785c2a
2. Build

##### Expected Behavior
Core builds with no warnings or errors

##### Observed Behavior
Core outputs a warning for using a deprecate

[2020-02-06 19:23] #3211 closed

[2020-02-06 19:49] iCollin commented on #3235
Closed via #3236

[2020-02-06 19:49] #3235 closed

[2020-02-06 21:56] dboltovskyi opened #3237 "Redundant SDL.OnStatusUpdate(UPDATE_NEEDED) notification is sent once device is consented"
### Bug Report
Redundant SDL.OnStatusUpdate(UPDATE_NEEDED) notification is sent once device is consented

##### Occurrences
95%

##### Reproduction Steps
1. Make sure SDL is built in `EXTERNAL_PROPRIETARY` policy mode
2. Start SDL, HMI, connect Mobile device
3. Register new application
=> SDL sends SDL.OnStatusUpdate(UPDATE_NEEDED) notification to HMI
4. Activate application and consent device

##

[2020-02-06 22:06] dboltovskyi commented on #3237
Please notice this is a regression issue which was introduced by [0248-hmi-ptu-support](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0248-hmi-ptu-support.md) feature.
It is not reproduced at e9709e6701

[2020-02-07 06:30] zhouxin627 opened #3238 "APTDisplayText is not displayed properly"
### Bug Report
APTDisplayText is not displayed properly

##### Preconditions
Mobile side：only set audioPassThruDisplayText2，but not set audioPassThruDisplayText1.

##### Reproduction Steps
1.Activate test apps to display APTDisplayText.

##### Expected Behavior
audioPassThruDisplayText2 is displayed.

##### Observed Behavior
audioPassThruDisplayText2 is not displayed.

PerformAudioPassThru has two

[2020-02-07 13:06] zhouxin627 commented on #3123
Our HMI needs to disconnect and reconnect socket when switching NaviApp1 to NaviApp2,
because the property from SetVideoConfig of NaviApp2 may be different. (e.g. video resolution, Codec type)
If we don't do that, NaviApp2 would not send SetVideoConfig.

I think it is different from our case.
This PR can solve the issue of `OnVideoDataStreaming(false)` sending,
but it can't solve the need of reest

[2020-02-07 15:20] iCollin commented on #3123
Closed via #3217

[2020-02-07 15:20] #3123 closed

[2020-02-07 19:40] dboltovskyi commented on #3234
Issue is related to the fact that app is registered right after SDL got `SDL.OnAllowSDLFunctionality` notification from HMI.
Since this is a notification and not request, SDL requires some time to change state for connected device.
Most of the new scripts has a delay after this notification, (e.g. in [mobile.allowSDL](https://github.com/smartdevicelink/sdl_atf_test_scripts/blob/49804a37513a56b25c6

[2020-02-07 19:40] #3234 closed

[2020-02-07 21:04] dboltovskyi opened #3239 "SDL sends BC.PolicyUpdate twice"
### Bug Report
SDL sends BC.PolicyUpdate twice

##### Reproduction Steps
1. Make sure SDL is built in `PROPRIETARY` policy mode
2. Start SDL, HMI, connect Mobile device, register new Application
=> PTU is started
3. Finish PTU successfully
=> SDL sends `VI.GetVehicleData(odometer = true)` request to HMI
4. Respond from HMI with some value, e.g. `1000`
5. Send `VI.OnVehicleData` with other `odomete

[2020-02-07 21:13] dboltovskyi commented on #3239
Please notice this is a regression issue which was introduced by [0248-hmi-ptu-support](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0248-hmi-ptu-support.md) feature.
It is not reproduced at 49f5b211ca

[2020-02-10 13:52] NicoleYarroch opened #3240 "End session handler returns `hashId` as a rejected parameter regardless of the service type"
### Bug Report
In `HandleControlMessageEndSession`, if the protocol version is greater than or equal to version 5.0 and the end session did not succeeded, then `hashId` is appended to the `rejectedParams` regardless of the service type. Since only the RPC service has the `hashId` parameter, this means that `hashId` is returned incorrectly as one of the `rejectedParams` for a video end service NAK

[2020-02-10 15:30] ydementieiev commented on #2693
@iCollin you are right, this bug not reproduction using attached script, we tried to do this with unit test but finished without good result, having studied the problem, we believe that an attached pull request is a potential fix. I wrote why in the [Summary to PR](https://github.com/smartdevicelink/sdl_core/pull/2777). Thank you

[2020-02-10 16:34] iCollin commented on #3148
Closed via #3231

[2020-02-10 16:34] #3148 closed

[2020-02-10 18:11] JackLivio commented on #3149
resolved by #3230

[2020-02-10 18:11] #3149 closed

[2020-02-10 19:41] theresalech opened #3243 "[SDL 0274] Add preferred FPS to VideoStreamingCapability"
Proposal: [Add preferred FPS to VideoStreamingCapability](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0274-add-preferred-FPS.md)

Review: https://github.com/smartdevicelink/sdl_evolution/issues/913

Steering Committee Decision:

[2020-02-11 15:50] iCollin commented on #2693
Closed via #2777

[2020-02-11 15:50] #2693 closed

[2020-02-12 08:49] AStasiuk commented on #1404
A defect is not actual since a the name of the .ini file should be provided as well (i.e. ./smartDeviceLinkCore ../smartDeviceLinkCore.ini).
With a fully specified name (relative and absolute path) defect is not reproduced.
But here comes another defect: if the specified file does not exist, segmentation fault error will occur.

Environment:
SDL Core: [develop](https://github.com/smartdevicelink/s

[2020-02-12 08:49] #1404 closed

[2020-02-12 14:48] dboltovskyi commented on #3237
Issue has the same root cause as #3136 hence could be fixed by #3208

[2020-02-12 14:49] dboltovskyi commented on #3237
@theresalech Please triage this issue

[2020-02-12 14:49] dboltovskyi commented on #3239
@theresalech Please triage this issue

[2020-02-12 16:01] theresalech commented on #3197
Proposal markdown file has been updated per the revisions included in accepted Evolution Proposal [SDL 0240 Revisions - WebEngine support for SDL JavaScript](smartdevicelink/sdl_evolution#923). These revisions change the `appID` parameter within `GetAppProperties` to `policyAppID` and add a minlength of `1` to the param. Please see the proposal markdown file for more details.

[2020-02-12 18:04] theresalech commented on #3239
@dboltovskyi please let us know when the PR to resolve this regression issue is ready for Livio review, thanks!

[2020-02-12 18:30] JackLivio commented on #3156
Fixed with merge of #3194

[2020-02-12 18:30] #3156 closed

[2020-02-13 15:34] AStasiuk commented on #2356
Implemented in PR - https://github.com/smartdevicelink/sdl_core/pull/2394

[2020-02-13 15:34] #2356 closed

[2020-02-17 15:23] theresalech commented on #2465
Closed via #2626

[2020-02-17 15:23] #2465 closed

[2020-02-17 20:41] jacobkeeler commented on #3240
Resolved with the merge of #3241

[2020-02-17 20:41] #3240 closed

[2020-02-18 15:34] dboltovskyi commented on #3239
@theresalech Please notice PRs in `core` and `scripts` are ready for PM review.

[2020-02-18 15:53] ydementieiev opened #3246 "SDL does not support attribute "until" for any element in Mobile_API"
### Bug Report
During implementation [Proposal: Refactor Fuel Information Related Vehicle Data](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0256-Refactor-Fuel-Information-Related-Vehicle-Data.md)  was found that individual elements do not support attribute `until` in `Mobile_API`.

### Reproduction Steps
Update enum `VehicleDataType` adding `until` for individual element

[2020-02-20 11:33] GetmanetsIrina commented on #2966
The small update was performed in the issue script. The archive with script is updated.

[2020-02-20 15:59] theresalech opened #3251 "[SDL 0277] Continuous integration and testing"
Proposal: [Continuous integration and testing](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0277-Continuous-Integration-And-Testing.md)

Review: https://github.com/smartdevicelink/sdl_evolution/issues/934

Steering Committee Decision:

[2020-02-20 19:12] #3239 closed

[2020-02-21 15:28] LitvinenkoIra commented on #2966
@theresalech please triage the issue. SDL incorrectly assigns default permissions for an app if they were defined in preloaded, its reproduced on proprietary and external proprietary policy flows.
 We have already prepared the fix for this issue in https://github.com/smartdevicelink/sdl_core/pull/3244

[2020-02-24 13:57] theresalech commented on #2966
@LitvinenkoIra this issue has not yet been raised to the Steering Committee as priority for Core 6.1. We will work to include if time allows, but would recommend raising as priority in the Steering Committee meeting if it's imperative the issue be included. Thanks!

[2020-02-25 18:19] theresalech opened #3254 "third_party.md revisions - dates and json-cpp"
The following updates need to be made to the third_party.md file:

## Update license dates for 2020

### Actual:

### Expected:

## Change json-cpp to reflect current version and usage

### Actual:
**json-cpp 0.6.0 rc2**

* Copyright (c) 2007-2010 Baptiste Lepilleur
* Licensed under MIT License
* The library is included in jsoncpp 3rd party static src folder
* See https://github.com/open-source-pa

[2020-02-25 19:39] iCollin commented on #3218
Closed via #3219

[2020-02-25 19:39] #3218 closed

[2020-02-25 20:19] theresalech commented on #3254
Closed via #3255

[2020-02-25 20:19] #3254 closed

[2020-02-25 20:48] NicoleYarroch opened #3256 "A race condition with re-starting the video service causes core to unregister the SDL app with a `PROTOCOL_VIOLATION`."
### Bug Report
A race condition with re-starting the video service causes core to unregister the SDL app with a `PROTOCOL_VIOLATION`.

##### Reproduction Steps
1. Connect an iOS SDL navigation app supporting secondary transports to the module. Launch the SDL app by selecting the app icon on the HMI. Video should start streaming over the secondary transport.
1. Put the app on the iOS device in the

[2020-02-25 22:05] ShobhitAd commented on #3246
@ydementieiev The until param change should also be added to the https://github.com/smartdevicelink/rpc_spec/blob/develop/MOBILE_API.xsd file

[2020-02-26 16:18] iCollin commented on #3256
Hello, this issue was fixed in https://github.com/smartdevicelink/sdl_core/pull/3202

I am not sure when this fix will be propagated to SYNC4 but as this bug has already been fixed in sdl_core I will close this issue. Please let me know if you have any questions or think the issue should be reopened.

[2020-02-26 16:18] #3256 closed

[2020-02-26 16:24] ShobhitAd commented on #3246
Closed via https://github.com/smartdevicelink/sdl_core/pull/3249

[2020-02-26 21:31] iCollin commented on #2932
Closed via #3257

[2020-02-26 21:31] #2932 closed

[2020-02-27 15:58] #3197 closed

[2020-02-28 18:20] JackLivio opened #3260 "iOS OnSystemRequest fails to parse PT Snapshot"
### Bug Report
OnSystemRequest policy table updates are failing on ios.

##### Reproduction Steps
1. Connect ios app over tcp on a clean core build

##### Expected Behavior
PTU takes place

##### Observed Behavior
iOS error on parsing the policy table snapshot received from Core's onSystemRequest notification.

##### OS & Version Information
* OS/Version: ios
* SDL Core Version: develop regular po

[2020-02-28 18:20] JackLivio commented on #3260
I think it is related to the new JSONCPP library changes.

[2020-02-28 20:40] JackLivio commented on #3237
Fixed by #3208

[2020-02-28 20:40] #3237 closed

[2020-03-02 14:15] theresalech commented on #3136
Closed via #3208

[2020-03-02 14:15] #3136 closed

[2020-03-02 14:38] iCollin commented on #2966
Closed via https://github.com/smartdevicelink/sdl_core/pull/3244

[2020-03-02 14:38] #2966 closed

[2020-03-02 16:23] ShobhitAd commented on #3246
Found additional attributes(`deprecated` and `removed`) which were also missing in the schema. Creating a new fix PR

[2020-03-02 20:50] dboltovskyi opened #3267 "Sometimes SDL doesn't send OnSystemRequest(LOCK_SCREEN_ICON_URL)"
### Bug Report
Sometimes SDL doesn't send `OnSystemRequest(LOCK_SCREEN_ICON_URL)` even if `url` is defined

##### Occurrence
Sometimes (0.5%)

##### Reproduction Steps
1. Make sure `url` is defined in PT in `endpoints` section
2. Start SDL, HMI, connect Mobile device, register new Application
3. Check SDL sends `OnSystemRequest(LOCK_SCREEN_ICON_URL)`

##### Expected Behavior
Notification is sent

[2020-03-02 21:25] ShobhitAd commented on #3246
Closed via https://github.com/smartdevicelink/sdl_core/pull/3266

[2020-03-02 21:25] #3246 closed

[2020-03-03 01:45] dboltovskyi commented on #3267
Issue became reproducible after merge fix for https://github.com/smartdevicelink/sdl_core/issues/2932

[2020-03-03 13:07] LitvinenkoIra commented on #3204
https://github.com/smartdevicelink/sdl_atf_test_scripts/issues/2355

[2020-03-04 14:04] theresalech commented on #3260
Closed via #3262

[2020-03-04 14:04] #3260 closed

[2020-03-04 18:18] dboltovskyi opened #3275 "Sometimes SDL doesn't consider timeouts during streaming switching"
### Bug Report
Sometimes SDL doesn't consider timeouts during streaming switching

##### Occurrence
Sometimes (0.5%)

##### Reproduction Steps
1. Start SDL, HMI, connect Mobile device, register 2 new streaming applications, e.g.
 - App_1: `PROJECTION`
 - App_2: `NAVIGATION`
2. Deactivate App_1
=> streaming still continue since app has `STREAMABLE` state
3. Activate App_2

##### Expected Behavior
S

[2020-03-04 18:40] iCollin opened #3276 "Vehicle Data Assertion Failed"
## Bug Report

SDL core crashed while attempting to connect an app.

[code]

##### Expected Behavior
SDL Core never crashes

##### Observed Behavior
SDL Core crashed

##### OS & Version Information
* OS/Version: Ubuntu 18.04
* SDL Core Version: develop
* Testing Against: I was trying to connect an older Android Test Suite. (origin/core_6_0_0)

[2020-03-04 21:03] iCollin commented on #3276
Duplicate of https://github.com/smartdevicelink/sdl_core/issues/3108 (fixed by https://github.com/smartdevicelink/sdl_core/pull/3115)

[2020-03-04 21:23] iCollin commented on #3276
While this does seem like a duplicate of #3108, Core crashed with fix #3115.

Reopening as this is an active issue.

[2020-03-05 13:42] dboltovskyi commented on #3267
@theresalech Please triage this issue.
Updates for `core` and `scripts` are ready for PM review.

[2020-03-05 22:29] AKalinich-Luxoft commented on #3275
For understanding of the root cause of that issue, some things should be described here.

Technically, SDL do the following actions after activation of `App_2` at step `App_2_activated__App_1_is_not_unregistered`:
1. Changes HMI state (e.g. `STREAMABLE` -> `NOT_STREAMABLE`) internally
[code]

2. Sends `OnHMIStatus` notification to affected application
[code]

As can be seen, SDL has some time peri

[2020-03-06 15:03] dboltovskyi opened #3278 "Incorrect SDL behavior in case if protected service has started while SSL handshake is in progress"
### Bug Report
Incorrect SDL behavior in case if protected service has started while SSL handshake is in progress

##### Occurrence
Quite often (20-50%)

##### Reproduction Steps
1. Start SDL, HMI, connect Mobile device, register NAVI mobile application
2. Activate application into FULL
3. Start Audio service in protected mode
=> SDL starts SSL handshake procedure
4. Start Video service in protect

[2020-03-09 17:30] ShobhitAd opened #3279 "SDL does not send BC.PolicyUpdate to HMI if no apps are registered"
### Bug Report
Currently, if there are no registered apps, triggering a PTU results in the HMI sending a `BasicCommunication.OnSystemRequest` with `fileName: null`.

The PTS filename is never set in the HMI because SDL does not send a `BasicCommunication.PolicyUpdate` request(which contains the PTS path) to the HMI. This prevents us from being able to use the HMI vehicle modem to handle the PTU if

[2020-03-09 20:51] iCollin opened #3281 "SDL Core does not build without automake"
### Bug Report
SDL Core does NOT build successfully using recommended dependencies / install commands without also installing autoconf / automake.

##### Reproduction Steps
1. start a ubuntu 18.04 docker `docker run -it --rm ubuntu:18.04`
2. Execute the following commands in the docker container:
[code]
3. after make install completes, notice that you cannot start core.
`smartDeviceLinkCore: error

[2020-03-09 21:18] iCollin commented on #3281
Just needed to `ldconfig` after the first install. Not sure why `apt install automake` solved this issue. Perhaps apt install causes an `ldconfig`.

[2020-03-09 21:18] #3281 closed

[2020-03-11 09:40] GetmanetsIrina opened #3284 "SDL does not set the sdlVersion in ini file"
### Bug Report
SDL does not set the `sdlVersion` in `ini` file

##### Reproduction Steps
1. SDL sources are in repo
2. Create a build folder
3. Go to the build folder and perform `cmake <link_to_sdl_sources>`
4. Perform `make` and `make install`
5. Check the `ini` file in `build_folder/bin`

##### Expected Behavior
sdlVersion has value of the current repo commit

##### Observed Behavior
sdlVersion

[2020-03-11 11:03] GetmanetsIrina opened #3285 "SDL stops responding in case it has been started with EnablePolicy=false"
### Bug Report
SDL stops responding in case it has been started with EnablePolicy=false

##### Reproduction Steps
1. `EnablePolicy` value is set to `false` in `ini` file
2. Start SDL
3. Connect mobile device and try to register app

##### Expected Behavior
SDL connects the device and registers the app successful

##### Observed Behavior
SDL disconnects the device after the connection and stops res

[2020-03-11 16:41] dboltovskyi commented on #3279
@ShobhitAd If you don't mind we would like to help you with creating of ATF script for this issue. This will allow us not to face with such issue in future releases since this script will be included in our regression testing scope.

[2020-03-11 18:25] ShobhitAd commented on #3279
Closed via #3280

[2020-03-11 18:29] ShobhitAd commented on #3279
@dboltovskyi Sorry I just saw your comment. That sounds like a good idea. Please let me know when you make a PR for the testing the issue.

[2020-03-12 09:51] GetmanetsIrina commented on #3285
@theresalech, this is the regression issue for 6.1 release. Should we prepare the fix?

[2020-03-12 14:42] theresalech commented on #3285
@GetmanetsIrina yes, if you can prepare a fix, that would be much appreciated!  Please let us know once a PR is ready for review.  Thank you!

[2020-03-12 21:01] iCollin commented on #3267
Do you really see this issue occur 0.5% of runs? I have now run [3267_1_RAI_OnSystemRequest_LOCK_SCREEN_ICON_URL.lua](https://github.com/smartdevicelink/sdl_atf_test_scripts/blob/6eb8406f4762eab4337dc76e3890c9de7e700837/test_scripts/Defects/6_1/3267_1_RAI_OnSystemRequest_LOCK_SCREEN_ICON_URL.lua) 50 times (each run tests 200 times) and I have yet to see a failure.

Can you give me any hint on how

[2020-03-13 15:34] iCollin commented on #3267
Closed via #3271

[2020-03-13 15:34] #3267 closed

[2020-03-17 19:23] jacobkeeler commented on #3232
@zhouxin627 testing with the SDL HMI, this seems to work fine. The HMI sends a url in it's `OnSystemRequest` during the retry sequence, which gets passed down to the application. What policy mode are you using?

I'll note that I am testing with the `release/6.1.0` (and `develop` for the HMI) rather than release 6.0.1, so it's possible that it might have been fixed recently. Could you test against

[2020-03-18 12:34] dboltovskyi commented on #3275
@theresalech Please triage this issue. This one is related to already fixed streaming issues in scope of 6.1.
Please notice linked PR in `sdl_core` is ready for PM review.

[2020-03-18 18:02] iCollin commented on #3276
Could not reproduce.

[2020-03-18 18:02] #3276 closed

[2020-03-19 12:28] zhouxin627 commented on #3232
@jacobkeeler Hi, thanks for your advice. We are using the `regular_PROPRIETARY` mode and I would test with 6.1.0. Could you please give me more information about which PR or commit fixed this issue.

[2020-03-19 14:08] dboltovskyi commented on #3278
Issue was related to ATF and fixed in [sdl_atf/pull/195](https://github.com/smartdevicelink/sdl_atf/pull/195)

[2020-03-19 14:08] #3278 closed

[2020-03-19 14:38] MNikora opened #3295 "There is no technical sdl_core info in README.md"
### Bug Report
There is no info about **sdl_core** dependencies, packages, used technologies, "how to build", "how to start", etc. Also [**Getting started**](https://smartdevicelink.com/en/guides/core/getting-started/install-and-run/) link is opened not found 404 page.

[2020-03-19 17:31] jacobkeeler commented on #3275
Closing with the merge of #3293

[2020-03-19 17:31] #3275 closed

[2020-03-19 17:42] ShobhitAd commented on #3279
Closed via #3294

[2020-03-19 17:43] jacobkeeler commented on #3232
@zhouxin627 I do not know what commit this issue might have been fixed in, I just can't reproduce the issue in that branch. If you test your setup against the `release/6.1.0` branch, we can determine for certain whether this is an actual Core issue or an HMI issue. You are using your own custom HMI, correct?

[2020-03-19 20:56] theresalech opened #3296 "[SDL 0290] Modify The Range of APT's maxDuration"
Proposal: [Modify The Range of APT's maxDuration](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0290-modify-the-range-of-APT's-maxDuration.md)

Review: https://github.com/smartdevicelink/sdl_evolution/issues/964

[2020-03-19 21:03] JackLivio commented on #3295
@MNikora The info is in the develop branch of core guides found here https://github.com/smartdevicelink/sdl_core_guides/blob/develop/docs/Getting%20Started/Install%20and%20Run/index.md

The links are currently broken but will be resolved when the core guides release is made into master.

Please close if the issue is resolved

[2020-03-19 21:04] JackLivio commented on #3295
Preview found here: https://smartdevicelink.com/en/guides/pull_request/core/62ba53a928632228d140fd135b69950dc96e775e/getting-started/install-and-run/

[2020-03-20 11:53] zhouxin627 commented on #3232
@jacobkeeler Yes, I got it! We are using our own custom HMI.

[2020-03-20 15:50] MNikora commented on #3295
@JackLivio thank you for explanation. This ticket should be closed.

[2020-03-20 15:50] #3295 closed

[2020-03-23 15:21] LitvinenkoIra opened #3302 "SDL sends BC.GetSystemInfo twice"
### Bug Report
SDL sends BC.GetSystemInfo twice on **EXTERNAL policy** flow

##### Reproduction Steps
1. Build SDL with  **EXTERNAL policy**
2. Start HMI and SDL

##### Expected Behavior
SDL requests BC.GetSystemInfo one time

##### Observed Behavior
SDL requests BC.GetSystemInfo twice

##### OS & Version Information
* OS/Version: Ubuntu 18.04
* SDL Core Version: develop branch https://github.com/

[2020-03-23 17:32] theresalech commented on #3232
@zhouxin627 thanks for letting us know.  Please advise on the results of your testing against the `release/6.1.0` branch at your earliest convenience.  Thanks!

[2020-03-23 17:36] mrapitis commented on #3233
@theresalech would it be possible to prioritize review of this bug and plan for an upcoming sdl core release?

[2020-03-23 17:54] jacobkeeler commented on #3285
Closing with the merge of #3292

[2020-03-23 17:54] #3285 closed

[2020-03-23 17:58] jacobkeeler commented on #3233
@zhouxin627 point of clarification, could you define VPM?

[2020-03-25 09:00] zhouxin627 commented on #3233
@jacobkeeler Hi, “VPM” is the abbreviation of “Video streaming Projection Mode”. Actually, “VPM“  has the same meaning as video streaming.

[2020-03-25 15:02] HSavynetska opened #3309 "SDL does not cut off parameter from HMI response/notification if app has less version then parameter version"
### Bug Report
SDL does not cut off parameter from HMI response/notification if app has less version then parameter version

##### Reproduction Steps
In case:
1.  App is registered with syncMsgVersion=5.0
2.  `shifted` param in `gps` structure have since=6.0 in DB and API
3.  App sends GetVehicleData (gps) request
4.  SDL transfers this request to HMI
5.  HMI sends GetVehicleData response with "sh

[2020-03-27 00:11] theresalech commented on #3124
Proposal markdown file has been updated per the revisions included in accepted Evolution Proposal [SDL 0256 Revisions - Refactor Fuel Information Related Vehicle Data](smartdevicelink/sdl_evolution#972). The revisions include updating missing type for structure and adding history for deprecated parameters in Mobile_API.  Please reference the issue and proposal markdown file for more details.

[2020-03-27 11:40] oowuag opened #3312 "test"
[Delete any non-applicable sections, but we may ask for more information. Please reference the [SmartDeviceLink GitHub Best Practices](https://d83tozu1c8tt6.cloudfront.net/media/resources/SDL_GitHub_BestPractices.pdf) for further instructions on how to enter an issue.]

### Bug Report
[Summary]

##### Reproduction Steps
1. [Step 1]
2. [Step 2]
3. [Step 3]

##### Expected Behavior
[Some expected be

[2020-03-27 11:40] #3312 closed

[2020-03-27 15:12] AByzhynar commented on #2483
The issue was closed as non-actual.

[2020-03-27 15:12] #2483 closed

[2020-03-30 09:34] LitvinenkoIra commented on #3302
@theresalech please triage this issue. This is not 6.1 regression issue, but anyway fix is ready in https://github.com/smartdevicelink/sdl_core/pull/3305
Thank you!

[2020-03-30 13:03] theresalech commented on #3302
Hi @LitvinenkoIra, thanks for letting us know.  I'll share with the team.  Please note that if it's imperative this be included in the 6.1 release, it will need to be raised to the Steering Committee as high priority.  Thank you!

[2020-03-30 18:08] jacobkeeler commented on #3232
@zhouxin627 My apologies, it seems that a difference in my environment was the reason why I couldn't reproduce the issue, I am able to now. Reviewing your fix now

[2020-03-31 09:56] SNiukalov commented on #3284
@theresalech please triage this issue. Fix is ready in [#3310](https://github.com/smartdevicelink/sdl_core/pull/3310)

[2020-03-31 13:21] theresalech commented on #3284
@SNiukalov can you please advise if this is a regression issue introduced by 6.1, or if this is an existing issue in SDL Core?

[2020-03-31 13:57] NicoleYarroch opened #3318 "Video stream start service ACK payload randomly returns zero for height and width"
### Bug Report
When the video stream is resumed (by sending a start video service control frame) after being stopped (by sending an end video service control frame) sometimes the video start service ACK payload's `width` and `height` are both set to `0`. This never happens the very first time the video start service ACKs and it also seems to be completely random.

I have seen this issue when strea

[2020-03-31 14:16] SNiukalov commented on #3284
@theresalech yes, this is an existing issue in SDL Core.

[2020-03-31 16:50] theresalech commented on #3284
@SNiukalov thank you, understood.  We will work to include a fix in the Core 6.1 release if time permits, but will not have this included in the first release candidate which will be delivered to the Steering Committee today (2020-03-31).

[2020-04-02 16:46] JackLivio commented on #2746
SDL Core does work with proprietary flow. Build with -DHMI_PTU_DECRYPTION=OFF

[2020-04-02 16:46] #2746 closed

[2020-04-02 19:36] theresalech opened #3320 "[SDL 0284] DialNumber Text"
Proposal: [DialNumber Text](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0284-DialNumber_Text.md)

Review: https://github.com/smartdevicelink/sdl_evolution/issues/950

Steering Committee Decision:

- Add JavaScript Suite as an impacted platform
- Add RPC Spec changes
[code]
- Use `promptText` as a parameter name in `DialNumber`, instead of `messageText`
- Add `dialNumberP

[2020-04-02 19:41] iCollin commented on #3284
Closed via #3310

[2020-04-02 19:41] #3284 closed

[2020-04-03 10:54] VjKlepikov opened #3321 "SDL does not send OnAppPropertiesChange notification to HMI in case one of nicknames is removed"
### Bug Report
SDL does not send OnAppPropertiesChange notification to HMI in case one of nicknames is removed

##### Reproduction Steps
1. SDL and HMI are started
2. HMI sends BC.SetAppProperties request with application properties (without two nicknames) of the policyAppID to SDL
HMI → SDL : SetAppProperties ( properties:
{nicknames:{**"Hello Sdl1", "HelloSdl2"**} ,
policyAppID:"12345678",
enabl

[2020-04-03 15:24] iCollin commented on #3302
Closed via #3305

[2020-04-03 15:24] #3302 closed

[2020-04-03 17:55] #3233 closed

[2020-04-03 17:56] JackLivio commented on #3233
Fixed with merge #3290

[2020-04-06 08:55] GetmanetsIrina opened #3323 "Deadlock during transport re-connect via USB"
### Bug Report
Deadlock during transport re-connect via USB with Android device

##### Occurrences
2/30

##### Reproduction Steps
1. HMI and SDL are started
2. Register 3 mobile apps via USB
3. Perform transport re-connect

##### Expected Behavior
Mobile apps reconnect successfully.

##### Observed Behavior
Deadlock is occurred.

##### OS & Version Information
* sdl_hmi branch: [develop](https://g

[2020-04-06 09:02] GetmanetsIrina commented on #3323
@theresalech , Please triage this issue.

[2020-04-06 12:57] theresalech commented on #3323
Hi @GetmanetsIrina, can you please advise if Luxoft will be preparing a fix for this issue?

[2020-04-06 14:55] LitvinenkoIra commented on #3323
Hi @theresalech, yes, we are in progress with the fix. Thank you

[2020-04-06 15:18] dboltovskyi opened #3324 "SDL doesn't unregister app with PROTOCOL_VIOLATION if it continues streaming data"
### Bug Report
SDL doesn't unregister app with PROTOCOL_VIOLATION if it continues streaming data

##### Reproduction Steps
1. Start SDL, HMI, connect Mobile device, register 2 mobile applications:
- `App_1`: `PROJECTION`
- `App_2`: `NAVIGATION`
2. Activate `App_1` and start streaming
3. Activate `App_2` and start streaming

SDL does:
   - send OnHMIStatus(FULL, STREAMABLE) notification to `App_2`

[2020-04-06 15:19] dboltovskyi commented on #3324
Please notice this is regression issue which became reproducible after merge of #3290

[2020-04-06 15:20] dboltovskyi commented on #3324
@theresalech Please triage this issue

[2020-04-06 15:41] theresalech commented on #3324
@dboltovskyi thank you for reporting this issue.  Can you please advise if the Luxoft team is planning on submitting a PR to fix?  If so, we will wait to review that.  Otherwise, the Livio team can work on fixing the issue.

[2020-04-06 15:41] theresalech commented on #3323
@LitvinenkoIra thank you!  Please let us know once the PR is ready for Livio review.

[2020-04-06 15:59] dboltovskyi commented on #3324
@theresalech Please notice currently Luxoft team aren't planning to prepare the fix.

[2020-04-06 16:03] theresalech commented on #3324
@dboltovskyi understood, thanks!  Livio will work on fixing.

[2020-04-07 14:27] theresalech commented on #1409
Closed via #2425

[2020-04-07 14:27] #1409 closed

[2020-04-07 19:00] ShobhitAd commented on #3238
Closed via #3291

[2020-04-07 19:00] #3238 closed

[2020-04-08 12:45] GetmanetsIrina opened #3326 "SDL sends redundant BC.UpdateAppList and BC.UpdateDeviceList requests in case BT is turned on from SDL start"
### Bug Report
SDL sends redundant UpdateAppList requests in case BT is turned on from SDL start

##### Reproduction Steps
1. BT module is turned on
2. HMI and SDL are started

##### Expected Behavior
SDL sends BC.UpdateDeviceList in case of app registration of unregistration.
So after system start there are no BC.UpdateDeviceList requests.
BC.UpdateDeviceList is sent only with WebEngine device(in

[2020-04-08 13:01] VjKlepikov opened #3327 "SDL sends response with "resultCode: GENERIC_ERROR" on GetVehicleData request in case vehicle data is not available"
**Bug Report**
SDL sends response with "resultCode: GENERIC_ERROR" on GetVehicleData request in case vehicle data is not available

**Reproduction Steps**

   1. Start SDL, HMI, connect Mobile, register new App
   2. Send GetVehicleData with speed = true
   3. Send HMI response with {"error":{"code":9,"data": {"method":"VehicleInfo.GetVehicleData"}, message:"error message" },"id":57,"jsonrpc":"2.0

[2020-04-08 17:43] dboltovskyi opened #3328 "SDL sends two END_SERVICE requests during streaming switching between apps"
### Bug Report
SDL sends two END_SERVICE requests during streaming switching between apps

##### Reproduction Steps
1. Start SDL, HMI, connect Mobile device, register 2 mobile applications:
- `App_1`: `PROJECTION`
- `App_2`: `NAVIGATION`
2. Activate `App_1` and start streaming
3. Activate `App_2` and start streaming

SDL does:
   - send OnHMIStatus(FULL, STREAMABLE) notification to `App_2`
   - se

[2020-04-08 17:44] dboltovskyi commented on #3328
Please notice this is regression issue which became reproducible after merge of #2425

[2020-04-08 17:47] dboltovskyi commented on #3328
Reproductions steps are very similar to the #3324 however the last step is different.
Also please notice current issue became reproducible due to merge of another PR.

[2020-04-08 17:48] dboltovskyi commented on #3328
@theresalech Please triage this issue. Luxoft team is going to prepare a fix.

[2020-04-09 13:45] GetmanetsIrina opened #3330 "SetInteriorVehicleData request is processed as invalid without deprecated mandatory parameter"
### Bug Report
`SetInteriorVehicleData` request is processed as invalid without deprecated mandatory parameter

##### Reproduction Steps
1. HMI and SDL are started
2. Remote_control application with version 6.0 and upper is registered and activated
3. Mobile app requests `SetInteriorVehicleData` without id parameter.

##### Expected Behavior
According to API:

So `SetInteriorVehicleData` request s

[2020-04-09 14:29] GetmanetsIrina commented on #3330
@theresalech, please triage this issue.
This is not the regression issue, but we propose to include this issue to Release6.1 scope,
because the requesting of `SEAT` parameters update from a mobile for new apps(starting from 6.0 version) is blocked (new apps do not use deprecated `id` parameter) by this issue.

[2020-04-09 15:38] theresalech commented on #3330
@GetmanetsIrina we are currently focusing on 6.1 regression issues, but will work to include this in the second 6.1 Release Candidate if time allows.  If it's imperative this be included in the release, please raise this issue in the upcoming Steering Committee meeting as priority.  If you could please also let us know if Luxoft plans to submit a PR for this issue, with anticipated timing, we'd ap

[2020-04-09 22:53] #1031 closed

[2020-04-09 22:54] jacobkeeler commented on #1031
Closing due to https://github.com/SmartDeviceLink/sdl_core/issues/1031#issuecomment-559776980

[2020-04-10 16:29] GetmanetsIrina commented on #3330
@theresalech, Luxoft team is going to prepare a fix.

[2020-04-14 07:27] E-SAITO-TMC commented on #2258
@joeygrover -san
A fix has been proposed for this bug, when will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to modify this item.

[2020-04-14 07:34] E-SAITO-TMC commented on #2181
@joeygrover  -san
A fix has been proposed for this bug, when will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to modify this item.

[2020-04-14 07:41] E-SAITO-TMC commented on #2230
@joeygrover -san
A fix has been proposed for this bug. When will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to modify this item.

[2020-04-14 07:42] E-SAITO-TMC commented on #2434
@joeygrover -san
A fix has been proposed for this bug. When will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to modify this item.

[2020-04-14 07:45] E-SAITO-TMC commented on #2381
@joeygrover -san
A fix has been proposed for this bug. When will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to modify this item.

[2020-04-14 07:49] E-SAITO-TMC commented on #2245
@joeygrover -san
A fix has been proposed for this bug. When will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to modify this item.

[2020-04-14 07:50] E-SAITO-TMC commented on #2238
@joeygrover -san
A fix has been proposed for this bug. When will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to modify this item.

[2020-04-14 08:29] E-SAITO-TMC commented on #2192
@joeygrover -san
A fix(#2193) for this issue  has been proposed. Is this issue solved by # 2225? If so, when is this issue reviewed? If not, when is a fix(#2193) merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to modify this item.

[2020-04-14 08:32] E-SAITO-TMC commented on #2116
@joeygrover -san
A fix has been proposed for this bug. When will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to modify this item.

[2020-04-14 08:34] E-SAITO-TMC commented on #1915
@joeygrover -san
A fix has been proposed for this issue. When will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to modify this issue.

[2020-04-14 08:36] E-SAITO-TMC commented on #1908
@joeygrover -san
A fix has been proposed for this issue. When will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to modify this issue.

[2020-04-14 08:38] E-SAITO-TMC commented on #1581
@joeygrover -san
A fix has been proposed for this issue. When will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to modify this issue.

[2020-04-14 08:45] E-SAITO-TMC commented on #885
@joeygrover -san
A fix has been proposed for this issue. When will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to modify this issue.

[2020-04-14 08:56] E-SAITO-TMC commented on #1306
@joeygrover -san
A fix has been proposed for this issue. Is the review of a fix finished? If so, when will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to modify this issue.

[2020-04-14 09:00] E-SAITO-TMC commented on #1398
@joeygrover -san
A fix has been proposed for this issue. Is the review of a fix finished? If so, when will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to modify this issue.

[2020-04-14 09:17] E-SAITO-TMC commented on #1398
@joeygrover -san
A fix has been proposed for this issue. When will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDLCore, so we believe it is necessary to fix this issue.

[2020-04-15 01:43] E-SAITO-TMC commented on #1782
@joeygrover -san
A fix has been proposed for this issue. When will it be merged? For the next HU development of TOYOTA, it is necessary to improve the quality of SDL Core, so we believe it is necessary to modify this issue.

[2020-04-15 06:43] SNiukalov commented on #3323
@theresalech PR is ready for Livio team review. Thank you.

[2020-04-15 12:34] LitvinenkoIra commented on #3328
@theresalech Fix is ready https://github.com/smartdevicelink/sdl_core/pull/3334

[2020-04-15 12:46] theresalech commented on #1306
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:46] theresalech commented on #1398
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:47] theresalech commented on #885
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:47] theresalech commented on #1581
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:47] theresalech commented on #1908
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:48] theresalech commented on #1915
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:48] theresalech commented on #2192
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:48] theresalech commented on #2116
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:49] theresalech commented on #2238
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:49] theresalech commented on #2238
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:49] theresalech commented on #2245
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:49] theresalech commented on #2434
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:50] theresalech commented on #2381
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:50] theresalech commented on #2230
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:50] theresalech commented on #2181
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:51] theresalech commented on #2258
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives.  This particular issue has not yet been raised as high priority.  However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note

[2020-04-15 12:54] theresalech commented on #1782
Hi @E-SAITO-TMC, contents for SDL releases are determined by the Steering Committee, and the Project Maintainer works on features and bug fixes raised as high priority by Steering Committee representatives. This particular issue has not yet been raised as high priority. However, if Toyota would like to see this fix in the next release of SDL Core (planned for October 28, 2020), we can make note of

[2020-04-16 00:34] theresalech opened #3337 "[SDL 0294] App Service - Messaging"
Proposal: [App Service - Messaging](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0294-app-service-messaging.md)

Review: https://github.com/smartdevicelink/sdl_evolution/issues/973

[2020-04-16 05:26] E-SAITO-TMC commented on #2258
@theresalech Thank you for your comment. This issue is important for Toyota. Therefore, we would appreciate it if you can make this a high-priority.

[2020-04-16 05:47] E-SAITO-TMC commented on #2230
@theresalech -san Thank you for your comment. This issue is important for Toyota. Therefore, we would appreciate it if you can make this a high-priority.

[2020-04-16 06:02] E-SAITO-TMC commented on #2181
@theresalech -san Thank you for your comment. This issue is medium-priority for Toyota.

[2020-04-16 06:28] E-SAITO-TMC commented on #2434
@theresalech -san Thank you for your comment. This issue is important for Toyota. Therefore, we would appreciate it if you can make this a high-priority.

[2020-04-16 06:47] E-SAITO-TMC commented on #2381
@theresalech -san Thank you for your comment. This issue is medium-priority for Toyota.

[2020-04-16 08:16] E-SAITO-TMC commented on #2245
@theresalech -san Thank you for your comment. This issue is medium-priority for Toyota.

[2020-04-16 08:32] E-SAITO-TMC commented on #2238
@theresalech -san Thank you for your comment. This issue is medium-priority for Toyota.

[2020-04-16 08:36] GetmanetsIrina opened #3338 "DeadLock in TranpsortManager during transport disconnect"
### Bug Report
Once DeadLock in TranpsortManager during transport disconnect

##### Occurrences
1/100

##### Reproduction Steps
1. HMI and SDL are started
2. ~3 Mobile app is registered
3. Perform transport disconnect

##### Expected Behavior
SDL continues work without deadlock

##### Observed Behavior
DeadLock occurs  in TransportManager. It's unable to connect the device and SDL does not process

[2020-04-16 08:58] E-SAITO-TMC commented on #2192
@theresalech -san Thank you for your comment. This issue is medium-priority for Toyota.

[2020-04-16 09:08] E-SAITO-TMC commented on #2116
@theresalech -san Thank you for your comment. This issue is important for Toyota. Therefore, we would appreciate it if you can make this a high-priority.

[2020-04-16 09:12] E-SAITO-TMC commented on #1915
@theresalech -san Thank you for your comment. This issue is medium-priority for Toyota.

[2020-04-16 09:17] E-SAITO-TMC commented on #1908
@theresalech -san Thank you for your comment. This issue is important for Toyota. Therefore, we would appreciate it if you can make this a high-priority.

[2020-04-16 09:23] E-SAITO-TMC commented on #1782
@theresalech -san Thank you for your comment. This issue is medium-priority for Toyota.

[2020-04-16 09:25] E-SAITO-TMC commented on #1581
@theresalech -san Thank you for your comment. This issue is medium-priority for Toyota.

[2020-04-16 09:28] E-SAITO-TMC commented on #1398
@theresalech -san Thank you for your comment. This issue is medium-priority for Toyota.

[2020-04-16 09:29] E-SAITO-TMC commented on #1306
@theresalech -san Thank you for your comment. This issue is medium-priority for Toyota.

[2020-04-16 22:26] iCollin commented on #3321
Closed via https://github.com/smartdevicelink/sdl_core/pull/3336

[2020-04-16 22:26] #3321 closed

[2020-04-16 22:29] iCollin commented on #3321
@VjKlepikov Can you please create PR against [sdl_atf_test_scripts](https://github.com/smartdevicelink/sdl_atf_test_scripts) with the script to test this issue?
I'd like to merge that script also. Thank you!

[2020-04-17 02:01] E-SAITO-TMC commented on #3190
@joeygrover -san @theresalech -san  This issue is a high-priority for Toyota. So I would like to know the status of this issue,  could you please tell me reproduction steps? Also, does this issue occur in the latest version?

[2020-04-17 02:09] E-SAITO-TMC commented on #3186
@joeygrover -san @theresalech -san  This issue is a high priority for Toyota. Could you please tell me reproduction steps?  Also, Does this issue occur in the latest version?

[2020-04-17 02:10] E-SAITO-TMC commented on #3185
@joeygrover -san @theresalech -san This issue is a high priority for Toyota. Could you please tell me reproduction steps? Also, Does this issue occur in the latest version?

[2020-04-17 02:11] E-SAITO-TMC commented on #3182
@joeygrover -san @theresalech -san This issue is a high-priority for Toyota. Could you please tell me reproduction steps? Also, Does this issue occur in the latest version?

[2020-04-17 02:12] E-SAITO-TMC commented on #3181
@joeygrover -san @theresalech -san This issue is a high priority for Toyota. Could you please tell me reproduction steps? Also, Does this issue occur in the latest version?

[2020-04-17 02:24] E-SAITO-TMC commented on #3178
@joeygrover -san @theresalech -san  This issue is a top priority for Toyota. Does this occur with the reproduction steps described? Also, does this issue occur in the latest version?

[2020-04-17 02:27] E-SAITO-TMC commented on #3176
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Does this occur with the reproduction steps described? Also, does this issue occur in the latest version?

[2020-04-17 02:31] E-SAITO-TMC commented on #3175
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Does this occur with the reproduction steps described? Also, does this issue occur in the latest version?

[2020-04-17 02:31] E-SAITO-TMC commented on #3174
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Does this occur with the reproduction steps described? Also, does this issue occur in the latest version?

[2020-04-17 02:51] E-SAITO-TMC commented on #3171
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Does this occur with the reproduction steps described? Also, does this issue occur in the latest version?

[2020-04-17 02:52] E-SAITO-TMC commented on #3171
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Does this occur with the reproduction steps described? Also, does this issue occur in the latest version?

[2020-04-17 02:52] E-SAITO-TMC commented on #3170
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Does this occur with the reproduction steps described? Also, does this issue occur in the latest version?

[2020-04-17 02:55] E-SAITO-TMC commented on #3169
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Does this occur with the reproduction steps described? Also, does this issue occur in the latest version?

[2020-04-17 02:56] E-SAITO-TMC commented on #3168
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Does this occur with the reproduction steps described? Also, does this issue occur in the latest version?

[2020-04-17 02:57] E-SAITO-TMC commented on #3141
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Does this occur with the reproduction steps described? Also, does this issue occur in the latest version?

[2020-04-17 04:06] E-SAITO-TMC commented on #2935
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Does this occur with the reproduction steps described? Also, does this issue occur in the latest version?

[2020-04-17 04:13] E-SAITO-TMC commented on #2597
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Does this occur with the reproduction steps described? Also, does this issue occur in the latest version?

[2020-04-17 04:44] E-SAITO-TMC commented on #2087
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Does this issue reproduce with when run test scripts? Also, does this issue occur in the latest version?

[2020-04-17 05:06] E-SAITO-TMC commented on #1943
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Does this issue   reproduce with the reproduction steps described? Also, Does this issue occur in the latest version?

[2020-04-17 06:31] E-SAITO-TMC commented on #1918
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Can the reproduction steps described actually reproduce this issue? Also, Does this issue occur in the latest version?

[2020-04-17 06:41] E-SAITO-TMC commented on #1917
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Can the reproduction steps described actually reproduce this issue? Also, Does this issue occur in the latest version?

[2020-04-17 07:40] E-SAITO-TMC commented on #1906
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Can the reproduction steps described (or this test script) actually reproduce this issue? Also, Does this issue occur in the latest version?

[2020-04-17 07:41] E-SAITO-TMC commented on #1693
@joeygrover -san @theresalech -san This issue is a top priority for Toyota. Can the reproduction steps described actually reproduce this issue? Also, Does this issue occur in the latest version?

[2020-04-17 11:59] VjKlepikov commented on #3321
@iCollin Please, be informed we've created PR.  Please take look at https://github.com/smartdevicelink/sdl_atf_test_scripts/pull/2391

[2020-04-17 12:49] theresalech commented on #3327
@VjKlepikov please advise if this is a regression issue introduced by Core 6.1, or if it is an issue that already exists in SDL Core.  Thank you!

[2020-04-17 13:57] ShobhitAd commented on #3323
Closed via #3332

[2020-04-17 13:57] #3323 closed

[2020-04-17 14:04] VjKlepikov commented on #3327
@theresalech Please notice this is regression issue for 6.1 release

[2020-04-17 17:52] #3327 closed

[2020-04-20 00:42] theresalech commented on #3190
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release.  This planning will take place in June.
@LitvinenkoIra, can you please provide reproduction steps for this issue?  If you could also advise if the Luxoft team is seeing this issue in Core 6.1, that would be most helpful!

[2020-04-20 00:42] theresalech commented on #3186
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@LitvinenkoIra, can you please provide reproduction steps for this issue? If you could also advise if the Luxoft team is seeing this issue in Core 6.1, that would be most helpful!

[2020-04-20 00:44] theresalech commented on #3185
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@LitvinenkoIra, can you please provide reproduction steps for this issue? If you could also advise if the Luxoft team is seeing this issue in Core 6.1, that would be most helpful!

[2020-04-20 00:45] theresalech commented on #3182
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@LitvinenkoIra, can you please provide reproduction steps for this issue? If you could also advise if the Luxoft team is seeing this issue in Core 6.1, that would be most helpful!

[2020-04-20 00:45] theresalech commented on #3181
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@LitvinenkoIra, can you please provide reproduction steps for this issue? If you could also advise if the Luxoft team is seeing this issue in Core 6.1, that would be most helpful!

[2020-04-20 00:46] theresalech commented on #3178
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@LitvinenkoIra, can you please advise if the Luxoft team is seeing this issue in Core 6.1?

[2020-04-20 00:47] theresalech commented on #3176
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@LitvinenkoIra, can you please advise if the Luxoft team is seeing this issue in Core 6.1?

[2020-04-20 00:48] theresalech commented on #3175
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@LitvinenkoIra, can you please advise if the Luxoft team is seeing this issue in Core 6.1?

[2020-04-20 00:48] theresalech commented on #3174
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@LitvinenkoIra, can you please advise if the Luxoft team is seeing this issue in Core 6.1?

[2020-04-20 00:49] theresalech commented on #3171
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@LitvinenkoIra, can you please advise if the Luxoft team is seeing this issue in Core 6.1?

[2020-04-20 00:49] theresalech commented on #3170
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@LitvinenkoIra, can you please advise if the Luxoft team is seeing this issue in Core 6.1?

[2020-04-20 00:49] theresalech commented on #3169
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@LitvinenkoIra, can you please advise if the Luxoft team is seeing this issue in Core 6.1?

[2020-04-20 00:50] theresalech commented on #3168
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@LitvinenkoIra, can you please advise if the Luxoft team is seeing this issue in Core 6.1?

[2020-04-20 00:51] theresalech commented on #3141
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@YarikMamykin, can you please advise if the Luxoft team is seeing this issue in Core 6.1?

[2020-04-20 00:52] theresalech commented on #2935
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@AKalinich-Luxoft, can you please advise if the Luxoft team is seeing this issue in Core 6.1?

[2020-04-20 00:52] theresalech commented on #2597
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@HSavynetska, can you please advise if the Luxoft team is seeing this issue in Core 6.1?

[2020-04-20 00:53] theresalech commented on #2087
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@dboltovskyi, can you please advise if the Luxoft team is seeing this issue in Core 6.1?

[2020-04-20 00:55] theresalech commented on #1943
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@VGunasekaranHarman, can you please advise if you are seeing this issue when using Core 6.1?

[2020-04-20 00:56] theresalech commented on #1918
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@HSavynetska, can you please advise if you are seeing this issue when using Core 6.1?

[2020-04-20 00:56] theresalech commented on #1917
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@HSavynetska, can you please advise if you are seeing this issue when using Core 6.1?

[2020-04-20 00:57] theresalech commented on #1906
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@HSavynetska, can you please advise if you are seeing this issue when using Core 6.1?

[2020-04-20 00:57] theresalech commented on #1693
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@dsmyrnov, can you please advise if you are seeing this issue when using Core 6.1?

[2020-04-20 01:01] theresalech commented on #2258
@E-SAITO-TMC, thank you.  We have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 01:01] theresalech commented on #2230
@E-SAITO-TMC, thank you.  We have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 01:02] theresalech commented on #2181
@E-SAITO-TMC, thank you. We have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 01:02] theresalech commented on #2434
@E-SAITO-TMC, thank you. We have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 01:03] theresalech commented on #2381
@E-SAITO-TMC, thank you. We have documented that this is medium priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 01:04] theresalech commented on #2245
@E-SAITO-TMC, thank you. We have documented that this is medium priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 01:04] theresalech commented on #2238
@E-SAITO-TMC, thank you. We have documented that this is medium priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 01:04] theresalech commented on #2192
@E-SAITO-TMC, thank you. We have documented that this is medium priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 01:05] theresalech commented on #2116
@E-SAITO-TMC, thank you. We have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 01:09] theresalech commented on #1915
@E-SAITO-TMC, thank you. We have documented that this is medium priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 01:09] theresalech commented on #1908
@E-SAITO-TMC, thank you. We have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 01:10] theresalech commented on #1782
@E-SAITO-TMC, thank you. We have documented that this is medium priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 01:10] theresalech commented on #1581
@E-SAITO-TMC, thank you. We have documented that this is medium priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 01:11] theresalech commented on #1398
@E-SAITO-TMC, thank you. We have documented that this is medium priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 01:11] theresalech commented on #1306
@E-SAITO-TMC, thank you. We have documented that this is medium priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 01:12] theresalech commented on #885
@E-SAITO-TMC, thank you. We have documented that this is medium priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.

[2020-04-20 04:22] E-SAITO-TMC commented on #3204
@theresalech -san This issue is a medium priority for Toyota. I would like know if this issue occur in the latest version. And could you please include this issue in your plan? Thank you.

[2020-04-20 04:29] E-SAITO-TMC commented on #3054
@theresalech -san This issue is a medium priority for Toyota. I would like know if this issue occur in the latest version. And could you please include this issue in your plan? Thank you.

[2020-04-20 04:30] E-SAITO-TMC commented on #2721
@theresalech -san This issue is a medium priority for Toyota. I would like know if this issue occur in the latest version. And could you please include this issue in your plan? Thank you.

[2020-04-20 04:36] E-SAITO-TMC commented on #2461
@theresalech -san This issue is a medium priority for Toyota. The fix for this issue seems to have already been merged, is this issue resolved? If not, I would like to know if it will occur in the latest version. Also, could you please include this issue in your plan? Thank you.

[2020-04-20 04:37] E-SAITO-TMC commented on #3204
@theresalech -san This issue is a medium priority for Toyota. I would like know if this issue occur in the latest version. And could you please include this issue in your plan? Thank you.

[2020-04-20 04:38] E-SAITO-TMC commented on #1882
@theresalech -san This issue is a medium priority for Toyota. I would like know if this issue occur in the latest version. And could you please include this issue in your plan? Thank you.

[2020-04-20 15:51] jacobkeeler commented on #3328
closing with the merge of #3328

[2020-04-20 15:51] #3328 closed

[2020-04-20 18:35] theresalech commented on #3054
Hi @E-SAITO-TMC, we have documented that this is priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@kekapare, can you please advise on the results of your testing and/or if you are experiencing this issue when using Core 6.1?  Thank you!

[2020-04-20 18:36] theresalech commented on #2721
Hi @E-SAITO-TMC, we have documented that this is medium priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. This planning will take place in June.
@dboltovskyi, can you please advise if you are seeing this issue when using Core 6.1?

[2020-04-20 18:38] theresalech commented on #2461
Hi @E-SAITO-TMC, we have documented that this is medium priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release. The PR you referenced was not merged into the mainline, which is why the issue has not yet been closed.  We will need more information from the reporter in order to determine next steps.

@HSavynetska, can you pleas

[2020-04-20 18:39] theresalech commented on #3204
Hi @E-SAITO-TMC, we have documented that this is medium priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release.

@GetmanetsIrina, can you please advise if you are seeing this issue when using Core 6.1?

[2020-04-20 18:41] theresalech commented on #1882
Hi @E-SAITO-TMC, we have documented that this is medium priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release.

@AByzhynar, can you please advise if you are seeing this issue when using Core 6.1?

[2020-04-20 22:12] jacobkeeler commented on #3232
Closing with the merge of #3329

[2020-04-20 22:12] #3232 closed

[2020-04-20 22:14] jacobkeeler commented on #1210
Closing with the merge of #3329

[2020-04-20 22:14] #1210 closed

[2020-04-20 22:14] jacobkeeler commented on #2910
Closing with the merge of #3329

[2020-04-20 22:14] #2910 closed

[2020-04-21 01:27] dboltovskyi opened #3340 "Build fails for EXTERNAL_PROPRIETARY policy mode"
### Bug Report
Build fails for EXTERNAL_PROPRIETARY policy mode

##### Reproduction Steps
1. Try to build SDL with `-DEXTENDED_POLICY=EXTERNAL_PROPRIETARY` cmake option

##### Expected Behavior
Build finished successfully

##### Observed Behavior
Build fails with error:
[code]

##### OS & Version Information
* OS/Version: Ubuntu 18.04
* SDL Core Version: https://github.com/smartdevicelink/sdl_core

[2020-04-21 01:28] dboltovskyi commented on #3340
@theresalech Please triage this regression issue.

[2020-04-21 06:13] kekapare commented on #3054
@theresalech : Due to project deadlines and release scheduled, we did not include this fix in our product. Also, the issue was not reproducible. So, we could not work further on this issue.

[2020-04-21 07:51] #3330 closed

[2020-04-21 07:52] GetmanetsIrina commented on #3330
Issue is closed as not actual according to https://github.com/smartdevicelink/sdl_core/pull/3333#issuecomment-615371612

[2020-04-21 12:41] theresalech commented on #3340
@dboltovskyi thank you for reporting.  Can you please advise if the Luxoft team plans to submit a PR to resolve this issue?

[2020-04-21 12:47] dboltovskyi commented on #3340
@theresalech We appreciate if PM fixes this issue. Thank you.

[2020-04-21 14:37] JackLivio commented on #3054
@kekapare Closing the issue. Please reopen if you are able to reproduce in the future.

[2020-04-21 14:37] #3054 closed

[2020-04-21 14:52] AKalinich-Luxoft commented on #3326
@theresalech fix for this issue was tested and ready for Livio review.
Note, this is a regression issue found by Luxoft during release testing

[2020-04-21 16:39] iCollin commented on #3324
Closed via https://github.com/smartdevicelink/sdl_core/pull/3325

[2020-04-21 16:39] #3324 closed

[2020-04-21 21:10] iCollin commented on #3326
Closed via https://github.com/smartdevicelink/sdl_core/pull/3339

[2020-04-21 21:10] #3326 closed

[2020-04-21 21:14] jacobkeeler commented on #3340
Closing with the merge of #3341

[2020-04-21 21:14] #3340 closed

[2020-04-22 14:32] ShobhitAd commented on #3196
Closed via #3264

[2020-04-22 14:32] #3196 closed

[2020-04-22 19:48] dboltovskyi commented on #2721
@theresalech Please notice issue is not reproduced at https://github.com/smartdevicelink/sdl_core/tree/release/6.1.0 (a85ef58)
So it can be closed.

[2020-04-22 20:04] #2721 closed

[2020-04-23 09:27] LitvinenkoIra commented on #3075
Hello, @iCollin I have a couple of questions related to this issue.

 As I can see there is a mismatch with **three elements** in the `TextFieldName` enum:  `"navigationText", "notificationText", "timeToDestination"`
I can see these elements in the [HMI_API](https://github.com/smartdevicelink/sdl_core/blob/release/6.1.0/src/components/interfaces/HMI_API.xml) but they do not exist in the [Mobile_AP

[2020-04-23 09:46] E-SAITO-TMC commented on #955
@theresalech -san This issue is a medium priority for Toyota. We tried it about 50 times and couldn't reproduce it. I would like to know if this issue occur in the latest version. And could you please include this issue in your plan for Q4 Core ?  Thank you.

[2020-04-23 12:35] theresalech commented on #955
Hi @E-SAITO-TMC, we have documented that this is medium priority for Toyota, and will include for Steering Committee review and vote when planning the contents for the Q4 Core release, if issue is still reproducible.

@DrachenkoAnastasiia, can you please advise if you are seeing this issue when using Core 6.1?

[2020-04-23 12:51] GetmanetsIrina commented on #3204
@theresalech, this issue is still actual for Core 6.1(https://github.com/smartdevicelink/sdl_core/commit/a85ef58358c456f69fee93addb7066dc02ecae48)

[2020-04-24 10:58] GetmanetsIrina opened #3343 "Redundant OnButtonPress and OnButtonEvent notifiactions after clicking PLAY_PAUSE button"
### Bug Report
Redundant OnButtonPress and OnButtonEvent notifiactions after clicking PLAY_PAUSE button

##### Reproduction Steps
1. HMI and SDL are started
2. HMI supports `PLAY_PAUSE` button
3. Media app is registered
4. Mobile app is Subscribed to `PLAY_PAUSE`(or `OK` if app version is 5.0 and less) button
5. Click `PLAY_PAUSE` button
6. HMI sends `Buttons.OnButtonPress`(`PLAY_PAUSE`) and `Butt

[2020-04-27 13:03] ychernysheva commented on #955
@theresalech This issue is not actual for Core 6.1. There is a need in actualization of corresponding test script, after that it can be delivered on Livio Team review.

[2020-04-27 13:24] ychernysheva commented on #2479
This issue is not actual for RC_6.1

[2020-04-27 13:24] #2479 closed

[2020-04-27 14:50] GetmanetsIrina commented on #1916
Script is updated according to changes in ATF:
ATF: https://github.com/smartdevicelink/sdl_atf/commit/6f0aff7bef8ba7f8c3adbcbf04683862c03128f5
Script: [1916_System_supports_audio_mixing_and_embedded_navigation_starts_streaming_TTS_session.zip](https://github.com/smartdevicelink/sdl_core/files/4540324/1916_System_supports_audio_mixing_and_embedded_navigation_starts_streaming_TTS_session.zip)

[2020-04-28 10:19] GetmanetsIrina opened #3345 "Core dump during the USB device reconnection"
### Bug Report
Core dump during the USB device reconnection

### Occurrences
1/80

##### Reproduction Steps
1. HMI and SDL are started
2. 3 mobile apps are registered via USB
3. Perform USB reconnection

##### Observed Behavior
SDL crashes during the apps reconnection with the message

##### Expected Behavior
All apps are registered successfully

##### OS & Version Information
* OS/Version: Ubuntu

[2020-04-28 10:29] GetmanetsIrina commented on #3338
Issues is reproduced on release_6.1_RC_2, issues has occurrences 1/100.

[2020-04-28 13:17] GetmanetsIrina opened #3346 "Cyclic UpdateDeviceList UpdateAppList in case device is connected or app is registered and BT is turned On"
### Bug Report
Cyclic UpdateDeviceList UpdateAppList in case device is connected or app is registered and BT is turned On

##### Reproduction Steps
1. BT is turned ON (before SDL start!)
2. SDL and HMI are started
3. Connect USB device or register app via WiFi

##### Expected Behavior
SDL sends BC.UpdateAppList in case of app registration of unregistration and  BC.UpdateDeviceList after device con

[2020-04-28 13:18] GetmanetsIrina commented on #3346
This is not the regression issue, issue is reproduced on release 6.0

[2020-04-29 09:05] ychernysheva commented on #2453
This issue is not reproduced on RC_6.1, corresponding ATF script was already merged.

[2020-04-29 09:06] #2453 closed

[2020-04-29 12:50] GetmanetsIrina commented on #1915
The issue is covered by https://github.com/smartdevicelink/sdl_atf_test_scripts/blob/develop/test_scripts/MobileProjection/Phase2/025_Media_app_must_get_ATTENUATED_streaming_state_when_navi_app_starts_streaming.lua

[2020-05-05 12:33] GetmanetsIrina commented on #2432
Issue is not relevant on
SDL: https://github.com/smartdevicelink/sdl_core/tree/6.1.0
Script: https://github.com/smartdevicelink/sdl_atf_test_scripts/pull/2008

[2020-05-05 12:33] #2432 closed

[2020-05-07 10:15] VjKlepikov commented on #3075
@iCollin @LitvinenkoIra Please note that [HMI_API](https://github.com/smartdevicelink/sdl_core/blob/release/6.1.0/src/components/interfaces/HMI_API.xml) has four params at "TextFieldName" enum omitted at [MOBILE_API](https://github.com/smartdevicelink/rpc_spec/blob/master/MOBILE_API.xml)
  <element name="timeToDestination"/> -> omitted at MOBILE_API

  <element name="turnText"/> -> omitted at MOBI

[2020-05-07 14:40] iCollin commented on #3075
Hello @LitvinenkoIra ,

Yes it seems there are four mismatched elements in this enum.

The root cause is this commit to prepare the spec for release 4.0: https://github.com/smartdevicelink/sdl_core/commit/a91f49224cf94614f1753433ad96473fd4572207

1. PM does plan to resolve this issue.
2. All elements are still used by core excluding `notificationText`. The solution will be to remove `notificationT

[2020-05-07 16:52] jacobkeeler commented on #1219
Fixed via #3329

[2020-05-07 16:52] #1219 closed

[2020-05-07 20:17] iCollin commented on #3075
@LitvinenkoIra the proposal has now been created: https://github.com/smartdevicelink/sdl_evolution/pull/1008

[2020-05-07 21:02] jacobkeeler commented on #2463
Issue is not reproducible in the latest version of master

[2020-05-07 21:02] #2463 closed

[2020-05-08 12:03] GetmanetsIrina commented on #2381
Issue is not relevant on
SDL: https://github.com/smartdevicelink/sdl_core/tree/6.1.0
Script: https://github.com/smartdevicelink/sdl_atf_test_scripts/pull/1998

[2020-05-08 12:04] #2381 closed

[2020-05-08 15:47] iCollin commented on #2428
Closed via https://github.com/smartdevicelink/sdl_core/pull/2621

[2020-05-08 15:47] #2428 closed

[2020-05-08 15:47] iCollin commented on #1829
Closed via https://github.com/smartdevicelink/sdl_core/pull/2621

[2020-05-08 15:47] #1829 closed

[2020-05-08 18:02] jacobkeeler commented on #2451
Closing with the merge of #2669

[2020-05-08 18:02] #2451 closed

[2020-05-08 18:32] iCollin commented on #1884
Hello @LitvinenkoIra , does https://github.com/smartdevicelink/sdl_core/pull/2772 fix this issue?

[2020-05-11 13:45] dboltovskyi commented on #1693
@theresalech Please notice this issue is not actual for Core 6.1.

[2020-05-11 13:45] dboltovskyi commented on #1882
@theresalech Please notice this issue is not actual for Core 6.1.

[2020-05-11 13:46] dboltovskyi commented on #2087
@theresalech Please notice this issue is not actual for Core 6.1.

[2020-05-11 13:50] dboltovskyi commented on #2461
@theresalech Please notice issue is still actual for Core 6.1

[2020-05-11 15:01] theresalech commented on #1693
Closing as not reproducible in latest version of Core.

[2020-05-11 15:01] #1693 closed

[2020-05-11 15:02] theresalech commented on #1882
Closing as not reproducible in latest version of Core.

[2020-05-11 15:02] #1882 closed

[2020-05-11 15:03] theresalech commented on #2087
Closing as not reproducible in latest version of Core.

[2020-05-11 15:03] #2087 closed

[2020-05-11 15:08] theresalech commented on #955
Hi @ychernysheva, please let us know once the corresponding test script is ready for review.  We can then review the test script and close this Core issue as not reproducible.

[2020-05-11 17:34] dboltovskyi commented on #2597
@theresalech Please notice this issue is not actual for Core 6.1.

[2020-05-11 17:48] AKalinich-Luxoft opened #3358 "SDL crash while Navigation application is streaming"
### Bug Report
SDL crashes while some Navi application is streaming video data for a few minutes.

##### Reproduction Steps
1. Make sure SDL is built with `ENABLE_LOG=ON`
2. Set in SDL ini file:
[code]
3. Start SDL, HMI
4. Register SPT with `appHmiType = NAVIGATION`
5. Activate SPT on HMI
6. Press "Stream Services" and start unsecured video streaming on SPT
7. Click "OK" on HMI popup prompt
8. Mak

[2020-05-11 17:51] dboltovskyi commented on #955
@theresalech Please notice PR with script is ready for PM review: https://github.com/smartdevicelink/sdl_atf_test_scripts/pull/2071

[2020-05-11 18:03] dboltovskyi commented on #1943
@theresalech Please notice issue is not reproduced under described conditions using Core 6.1.
However we identified similar unexpected behavior related SDL logger and video streaming which is described it in https://github.com/smartdevicelink/sdl_core/issues/3358

[2020-05-11 18:43] theresalech commented on #2597
Closing as not reproducible in latest version of Core.

[2020-05-11 18:43] #2597 closed

[2020-05-11 20:10] theresalech commented on #1943
Closing as not reproducible in the latest version of Core.  Issue 3358 can be raised to the Steering Committee as priority for the Core 6.2 release if desired.

[2020-05-11 20:10] #1943 closed

[2020-05-11 20:43] iCollin commented on #1003
Closed via #3359

[2020-05-11 20:43] #1003 closed

[2020-05-11 20:56] iCollin opened #3360 "App Icons folder will never be used if it is empty"
### Bug Report
The App Icons folder defined in `smartDeviceLink.ini` will not have any files written to it if the folder is empty. This was likely never noticed because by default the icons folder is `storage` in which core will place `policy.sqlite` on every start.

##### Reproduction Steps
1. modify `smartDeviceLink.ini` with this property:
[code]
2. ensure `storage/icons` folder is empty or doe

[2020-05-11 23:15] dboltovskyi commented on #2935
@theresalech Please notice issue is still actual for Core 6.1

[2020-05-12 07:25] kekapare opened #3362 "Crash observed in SDL core"
### Bug Report
Connect iPhone with multiple SDL apps to HU. SDL crashes with below backtrace.

#0 0x76430870 in policy::PolicyHandler::GetAppIdForSending() const ()
from /media/windows/Crashes/Crash_2891733/libAMPolicyLibrary.so
#1 0x7641ea94 in policy::PolicyHandler::CanUpdate() () from /media/windows/Crashes/Crash_2891733/libAMPolicyLibrary.so
#2 0x5f0d3390 in policy::PolicyManagerImpl::StartPTE

[2020-05-12 20:41] iCollin commented on #2192
@E-SAITO-TMC Hello, this issue has already been resolved.

The fix proposed in #2193 was already adopted in https://github.com/smartdevicelink/sdl_core/commit/bd7b7ac6f360ef5764be03c2fc9ad1c7672a0d0b. Related issue https://github.com/smartdevicelink/sdl_core/issues/2143 was also resolved by https://github.com/smartdevicelink/sdl_core/pull/2225.

To be sure, I attempted to reproduce the issue and w

[2020-05-12 20:41] #2192 closed

[2020-05-13 01:41] E-SAITO-TMC commented on #2581
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a medium priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 01:50] E-SAITO-TMC commented on #2810
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a medium priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 01:52] E-SAITO-TMC commented on #2983
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a medium priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 01:56] E-SAITO-TMC commented on #3119
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a medium priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 02:06] E-SAITO-TMC commented on #1903
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a high priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 02:09] E-SAITO-TMC commented on #1907
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a high priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 02:11] E-SAITO-TMC commented on #1916
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a high priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 02:12] E-SAITO-TMC commented on #1920
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a high priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 02:13] E-SAITO-TMC commented on #2322
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a high priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 02:14] E-SAITO-TMC commented on #2857
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a high priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 02:15] E-SAITO-TMC commented on #2888
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a high priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 02:16] E-SAITO-TMC commented on #2599
@theresalech -san, This is a high priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 02:17] E-SAITO-TMC commented on #2798
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a high priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 02:17] E-SAITO-TMC commented on #2808
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a high priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 02:18] E-SAITO-TMC commented on #3162
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a high priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 02:18] E-SAITO-TMC commented on #3172
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a high priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 02:19] E-SAITO-TMC commented on #3173
@theresalech -san, We were able to reproduce this issue with Core 6.0.1. This is a high priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 02:33] E-SAITO-TMC commented on #1178
@theresalech -san, We were able to reproduce this issue with Core 6.0.1, This is a medium priority issue for Toyota. Could you please include this in the Core 6.2 release planning?

[2020-05-13 09:50] GetmanetsIrina opened #3364 "App freezes on HMI after transport disconnect"
### Bug Report
App freezes on HMI after transport disconnect

##### Occurrences
1/10

##### Reproduction Steps
1. Several (navi and media) apps are registered
2. Some app is activated
3. Perform transport reconnect

##### Expected Behavior
All registered apps are unregistered during transport disconnect and successfully registered after transport connect.

##### Observed Behavior
One app freezes o

[2020-05-13 10:27] HSavynetska opened #3365 "SDL transfers OnVehicleData to mobile app if VD param does not exist in app's assigned policies"
### Bug Report
SDL transfers OnVehicleData to mobile app if VD param does not exist in app's assigned policies

##### Reproduction Steps
1. VD_param does not exist in app's assigned policies OnVehicleData RPC (the parameter is not present in `parameters` array or `parameters` array is empty)
2. App is subscribed to VD_data.
3. HMI sends valid OnVehicleData notification

##### Expected Behavior
1.

[2020-05-13 10:48] GetmanetsIrina commented on #1917
@theresalech, please notice this issue is actual for Core 6.1.

[2020-05-13 19:21] iCollin commented on #1398
@E-SAITO-TMC Hello, I find that this issue was fixed when implementing [same app multiple devices](https://github.com/smartdevicelink/sdl_core/pull/2960). To be sure, I created an [ATF test](https://github.com/smartdevicelink/sdl_atf_test_scripts/pull/2403) with the reproduction steps of this issue. I see this test passing against release 6.1.1 as well as the current develop.

If you are still see

[2020-05-13 19:21] #1398 closed

[2020-05-13 19:26] iCollin commented on #3360
Closed via https://github.com/smartdevicelink/sdl_core/pull/3361

[2020-05-13 19:26] #3360 closed

[2020-05-13 21:52] iCollin commented on #1884
@LitvinenkoIra I do not see any way to get a WARNINGS response to a `VR.DeleteCommand`. Can you please provide more reproduction steps?

[2020-05-14 02:28] chinlin0924 commented on #3364
We got the same issue too. This is very easy to reproduce if you perform USB connect/disconnect for long time.

[2020-05-14 10:50] HSavynetska opened #3368 "SDL process empty structure as valid from HMI"
### Bug Report
SDL process empty structure as valid from HMI

##### Reproduction Steps
1. HMI sends erray with empty structure { {} } in fuelRange on GetVehilceData_response / OnVehilceData_notification to SDL

##### Expected Behavior
for **GetVehilceData**:
SDL does respond `GENERIC_ERROR` to mobile
for **OnVehicleData**:
SDL does ignore this notification and SDL does not send OnVehicleData notif

[2020-05-18 02:45] kekapare commented on #3362
Hi @JackLivio  : can you please provide your feedback on this?

Thank you,
Kedar

[2020-05-18 12:27] alexkutsan commented on #3175
Hi @theresalech this issue was fixed on SYNC without specific test cases.
Code fixes potential problem.
Appropriate code is not fixed in scope of 6.1.
Fix now available on https://github.com/smartdevicelink/sdl_core/pull/3370
Test cases will be created.
But due to potential nature of the issue test cases may not fail on open sdl.

[2020-05-18 12:36] iCollin commented on #1306
Closed via https://github.com/smartdevicelink/sdl_core/pull/3357

[2020-05-18 12:36] #1306 closed

[2020-05-18 13:46] iCollin commented on #1915
Hello, I cannot reproduce this issue against [`sdl_core@6.1.1`](https://github.com/smartdevicelink/sdl_core/tree/6.1.1).

[025_Media_app_must_get_ATTENUATED_streaming_state_when_navi_app_starts_streaming.lua](https://github.com/smartdevicelink/sdl_atf_test_scripts/blob/develop/test_scripts/MobileProjection/Phase2/025_Media_app_must_get_ATTENUATED_streaming_state_when_navi_app_starts_streaming.lua)

[2020-05-18 13:46] #1915 closed

[2020-05-18 13:47] jacobkeeler commented on #960
Closing with the merge of #2553

[2020-05-18 13:47] #960 closed

[2020-05-18 14:08] ShobhitAd commented on #2616
Unable to reproduce issue using the latest develop(https://github.com/smartdevicelink/sdl_core/commit/86f87ca36c83f552d414033d0c3c2a7a818b733d). The issue seems to have been resolved by the  merge of https://github.com/smartdevicelink/sdl_core/pull/2676

[2020-05-18 14:08] #2616 closed

[2020-05-18 14:12] ShobhitAd commented on #3279
Closed via #3363

[2020-05-18 14:12] #3279 closed

[2020-05-18 17:15] iCollin commented on #1951
Closed via #3371

[2020-05-18 17:15] #1951 closed

[2020-05-18 20:23] iCollin commented on #3204
Closed via https://github.com/smartdevicelink/sdl_core/pull/3274

[2020-05-18 20:23] #3204 closed

[2020-05-18 21:19] JackLivio commented on #2449
RPC Service unit tests merged in #3250

[2020-05-18 21:21] iCollin opened #3372 "Core Unsubscribes from HMI waypoints when it should not"
### Bug Report
Code in `ApplicationManagerImpl::UnregisterApplication` seems to assume that the app being unregistered is subscribed to waypoints, and checks if there is only one app in the `subscribed_way_points_apps_list_ ` before calling `MessageHelper::SendUnsubscribedWayPoints`

https://github.com/smartdevicelink/sdl_core/blob/0ce76256232bad18bac986e7e68f35c2ae510a29/src/components/applicatio

[2020-05-19 11:31] LuxoftAKutsan commented on #3174
For now we do not have appropriate script to reproduce the issue.
It was reproduced in SYNC environment with manual testing and and reproduced not always.
On open source sdl with linux environment and the issue may not be reproducible.
Any way script will be crated.

The issue is partially fixed with db92580aa80c4caee7e8907274aec22660ea552d

Fix for SYNC-SDL contains more code, that is not  availa

[2020-05-19 11:48] LuxoftAKutsan commented on #3171
Issue reproduced on SYNC version of SDL.
On open source version of SDL issue may be non reproducible.
Script will be created.
Fix for SYNC in incompatible with 6.1
Probably issue may be fixed indirectly with aa8ad39cc936c7de63818d4307d8ac6a4dff5530

[2020-05-19 11:57] LuxoftAKutsan commented on #3170
@theresalech
Issue reproduced on SYNC version of SDL.
On open source version of SDL issue may be non reproducible.
Script will be created.
Fix from SYNC ported to open :  https://github.com/smartdevicelink/sdl_core/pull/3375

[2020-05-19 12:07] LuxoftAKutsan commented on #3169
@theresalech
Issue reproduced on SYNC version of SDL.
On open source version of SDL issue may be non reproducible.
Script will be created.
Fix from SYNC adopted for 6.1 codebase :  https://github.com/smartdevicelink/sdl_core/pull/3376

[2020-05-19 12:26] LuxoftAKutsan commented on #3168
@theresalech
Issue reproduced on SYNC version of SDL.
Issue is related to  iOS device and can't be reproduced in open sdl environment.
Fix from SYNC ported to open : #3377

[2020-05-19 12:33] LuxoftAKutsan commented on #3141
@theresalech  sdl_core 6.1 do not contains appropriate code.
Issue reproduced on SYNC environment.
Script for open sdl will be created. But issue can be not reproducible on open environment.
SYNC fixes requires major reworking to be compatible with 6.1

[2020-05-19 16:26] theresalech commented on #3171
@LuxoftAKutsan, thank you!  We will wait for confirmation if the issue is reproducible in the open source based on the findings of your script.

[2020-05-19 16:29] theresalech commented on #3170
@LuxoftAKutsan, thank you! We will wait for confirmation if the issue is reproducible in the open source based on the findings of your script.

[2020-05-19 16:30] theresalech commented on #3169
@LuxoftAKutsan, thank you! We will wait for confirmation if the issue is reproducible in the open source based on the findings of your script.

[2020-05-19 17:17] theresalech commented on #3141
@LuxoftAKutsan, thank you for the update.  Please let us know once the script is created, and if a PR can be submitted to the open for SYNC alignment.

[2020-05-19 19:14] iCollin commented on #2238
Closed via https://github.com/smartdevicelink/sdl_core/pull/2517

[2020-05-19 19:14] #2238 closed

[2020-05-19 21:28] iCollin commented on #1581
Hello, I am unable to reproduce this issue on Core 6.1.

I have created an ATF test to verify here: https://github.com/smartdevicelink/sdl_atf_test_scripts/pull/2409

Please let me know if you are still seeing this issue and I will be happy to investigate.

Thank you

[2020-05-19 21:28] #1581 closed

[2020-05-20 08:12] LuxoftAKutsan commented on #3190
This issue have ho reproduction steps.
It was found by Hellgrind dynamic code analysis tool in SYNC environment.
PR to open now available https://github.com/smartdevicelink/sdl_core/pull/3379
Regression with automated tests will be performed.

[2020-05-20 08:21] LuxoftAKutsan commented on #3186
This issue has ho reproduction steps.
 It was found by the Hellgrind dynamic code analysis tool in the SYNC environment.
 PR to open now available https://github.com/smartdevicelink/sdl_core/pull/3380
 Regression with automated tests will be performed.

[2020-05-20 08:34] LuxoftAKutsan commented on #3185
This issue has ho reproduction steps.
 It was found by the Hellgrind dynamic code analysis tool in the SYNC environment.
 PR to open now available https://github.com/smartdevicelink/sdl_core/pull/3381
 Regression with automated tests will be performed.

[2020-05-20 08:41] LuxoftAKutsan commented on #3182
This issue has ho reproduction steps.
It was found by the Hellgrind dynamic code analysis tool in the SYNC environment.
6.1 do not contain the fix and issue is possible.
SYNC changes need to be ported on open sdl_core.

[2020-05-20 08:46] LuxoftAKutsan commented on #3181
This issue has ho reproduction steps.
It was found by the Hellgrind dynamic code analysis tool in the SYNC environment.
6.1 do not contain the fix and the issue is possible.
SYNC changes need to be ported on open sdl_core.

[2020-05-20 08:57] LuxoftAKutsan commented on #3178
@theresalech
Issue reproduced on SYNC version of SDL.
On open source version of SDL issue may be non reproducible.
Script will be created.
Fix from SYNC adopted for 6.1 codebase  https://github.com/smartdevicelink/sdl_core/pull/3382

[2020-05-20 09:04] LuxoftAKutsan commented on #3176
@theresalech
Issue reproduced on SYNC version of SDL.
On open source version of SDL issue may be non reproducible.
Script will be created.
Fix from SYNC ported to open https://github.com/smartdevicelink/sdl_core/pull/3383

[2020-05-20 09:52] GetmanetsIrina opened #3384 "Processing of individual vehicle data result codes in SubscribeVehicleData/UnsunscribeVehicleData responses from HMI"
### Bug Report
Processing of individual vehicle data result codes in SubscribeVehicleData/UnsunscribeVehicleData responses from HMI

##### Reproduction Steps
1. SDL and HMI are started
2. `SubscribeVehicleData`,`UnsunscribeVehicleData` are allowed by policies
3. App is subscribed to e.g speed data
4. App requests `SubscribeVehicleData(gps)`
5. HMI responds with `SubscribeVehicleData(resultCode:SUC

[2020-05-20 14:38] iCollin commented on #2434
Closed via https://github.com/smartdevicelink/sdl_core/pull/2534

[2020-05-20 14:38] #2434 closed

[2020-05-20 16:26] iCollin commented on #1955
Hello, I cannot reproduce this issue in [`sdl_core@6.1.1`](https://github.com/smartdevicelink/sdl_core/tree/6.1.1).

I have tried to reproduce by making the following change in the generic_hmi:

[code]

I then started core, rebuilt and started the HMI, and connected a mobile device to the HMI. I activated the mobile app and then disconnected the device to be sure that the UpdateDeviceList request

[2020-05-20 16:26] #1955 closed

[2020-05-20 17:38] JackLivio commented on #2449
@HSavynetska @ychernysheva Are there planned prs for application manager and connection UT coverage?

Also I would like to split this issue into separate issues in order to keep 1 issue to 1 pr.

[2020-05-20 18:19] theresalech commented on #3182
@LuxoftAKutsan thank you for the update.  Please advise when a PR has been submitted.

[2020-05-20 18:22] theresalech commented on #3181
@LuxoftAKutsan thank you for the update. Please advise when a PR has been submitted.

[2020-05-20 18:28] iCollin commented on #2262
I could not reproduce the usb_handler error on [`sdl_core@6.1.1`](https://github.com/smartdevicelink/sdl_core/tree/6.1.1)

The `TcpDevice::IsSameAs` error is fixed by https://github.com/smartdevicelink/sdl_core/pull/3386

[2020-05-20 18:28] #2262 closed

[2020-05-20 18:34] iCollin opened #3387 "Invalid write in threads::ThreadDelegate::~ThreadDelegate()"
### Bug Report
A memory error occurs when a thread is destroyed before its delegate. The delegate will still hold a pointer to the thread and will try to write on that pointer at destruction.

##### Reproduction Steps
1. Start core with valgrind:
`LD_LIBRARY_PATH=. valgrind --trace-children=yes --leak-check=full ./smartDeviceLinkCore > valgrind.log 2>&1`
2. Start SDL HMI
3. Wait patiently for the

[2020-05-20 19:13] iCollin commented on #1884
I am closing this issue as not reproducible. If you are still seeing this issue please let me know.

[2020-05-20 19:13] #1884 closed

[2020-05-20 19:35] IGapchuk commented on #2857
Hi @jacobkeeler ! I would like to propose to take a look at the proposal https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0298-Processing-of-unknown-enum-values-by-SDL-Core.md. I believe the proposal covers this issue and provides changes not only for RAI but for another PRCs too. Thank you!

[2020-05-20 20:09] iCollin commented on #1862
Closed via https://github.com/smartdevicelink/sdl_core/pull/3369

[2020-05-20 20:09] #1862 closed

[2020-05-20 20:47] iCollin commented on #2116
Closed via https://github.com/smartdevicelink/sdl_core/pull/3378

[2020-05-20 20:47] #2116 closed

[2020-05-21 12:55] theresalech commented on #2581
@GetmanetsIrina can you please advise if this issue is reproducible in Core 6.1.1?

[2020-05-21 12:55] theresalech commented on #2810
@LitvinenkoIra can you please advise if this issue is reproducible in Core 6.1.1?

[2020-05-21 13:01] theresalech commented on #2983
@aderiabin can you please advise if this issue is reproducible in Core 6.1.1?

[2020-05-21 13:01] theresalech commented on #3119
@GetmanetsIrina can you please advise if you are able to reproduce this issue in the latest Core release?

[2020-05-21 13:02] theresalech commented on #1903
@GetmanetsIrina can you please advise if you are able to reproduce this issue in the latest Core release?

[2020-05-21 13:02] theresalech commented on #1907
@GetmanetsIrina can you please advise if you are able to reproduce this issue in the latest Core release?

[2020-05-21 13:03] theresalech commented on #1916
@LitvinenkoIra can you please advise if you are able to reproduce this issue in the latest Core release?

[2020-05-21 13:03] theresalech commented on #1920
@GetmanetsIrina can you please advise if you are able to reproduce this issue in the latest Core release?

[2020-05-21 13:04] theresalech commented on #2322
@HSavynetska can you please advise if you are able to reproduce this issue in the latest Core release?

[2020-05-21 13:05] theresalech commented on #2888
@LitvinenkoIra can you please advise if you are able to reproduce this issue in the latest Core release?

[2020-05-21 13:06] theresalech commented on #2599
@LuxoftAKutsan can you please advise if you are able to reproduce this issue in the latest Core release?  If so, can you provide more details on reproduction steps?

[2020-05-21 13:07] theresalech commented on #2798
Hi @Nilesh-harman, can you please advise if you are able to reproduce this issue in the latest Core release (6.1.1)?

[2020-05-21 13:07] theresalech commented on #2808
Hi @kekapare, can you please advise if you are able to reproduce this issue in the latest Core release?

[2020-05-21 13:09] theresalech commented on #3162
@LitvinenkoIra can you please advise if you are able to reproduce this issue in the latest Core release?

[2020-05-21 13:09] theresalech commented on #3172
@LitvinenkoIra can you please advise if you are able to reproduce this issue in the latest Core release?

[2020-05-21 13:10] theresalech commented on #3173
@LitvinenkoIra can you please advise if you are able to reproduce this issue in the latest Core release?

[2020-05-21 13:11] iCollin commented on #2461
Closed via https://github.com/smartdevicelink/sdl_core/pull/3373

[2020-05-21 13:11] #2461 closed

[2020-05-21 13:11] iCollin commented on #3372
Closed via https://github.com/smartdevicelink/sdl_core/pull/3373

[2020-05-21 13:11] #3372 closed

[2020-05-21 13:14] kekapare commented on #2808
@theresalech  : RIght now, we are still working on older release for our customer programs. Hence not tried on the latest releases.
Thank you,
Kedar

[2020-05-21 13:17] kekapare commented on #3362
Hi @JackLivio  @jacobkeeler : can you please provide your feedback on this? We are waiting for our customer releases on this.

[2020-05-21 13:51] LuxoftAKutsan commented on #2599
@theresalech the issue was not reproducible on open SDL.
SYNC-sdl made the changes to improve thread management.
There is no special test case.
Code will be ported to open sdl and full regression will be checked.

[2020-05-21 15:09] theresalech commented on #2599
Hi @LuxoftAKutsan, thank you!  Please let us know once the PR is ready for Livio review.

[2020-05-21 15:13] theresalech commented on #2808
@kekapare, thank you for the quick response!

@E-SAITO-TMC, please advise if you are able to reproduce this issue in the latest Core Release (6.1.1), and provide any logs and additional information that will assist in determining a resolution.

[2020-05-21 15:46] theresalech opened #3390 "[SDL 0298] Processing of unknown enum values by SDL Core"
Proposal: [Processing of unknown enum values by SDL Core](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0298-Processing-of-unknown-enum-values-by-SDL-Core.md)

Review: https://github.com/smartdevicelink/sdl_evolution/issues/989

Steering Committee Decision:

[2020-05-21 17:08] iCollin commented on #2430
Closed via https://github.com/smartdevicelink/sdl_core/pull/2771

[2020-05-21 17:08] #2430 closed

[2020-05-21 17:26] JackLivio opened #3392 "Refactor unit tests for policy manager and cache manager"
### Bug Report
Creating this issue from @2449 in order to have an issue for each component listed as needing updates to unit tests.

[2020-05-21 17:26] JackLivio commented on #3392
Related fixes #3352 & #3353

[2020-05-21 17:28] #3392 closed

[2020-05-21 19:19] JackLivio opened #3393 "Proprietary policy update retry after failed HMI PTU"
[Delete any non-applicable sections, but we may ask for more information. Please reference the [SmartDeviceLink GitHub Best Practices](https://d83tozu1c8tt6.cloudfront.net/media/resources/SDL_GitHub_BestPractices.pdf) for further instructions on how to enter an issue.]

### Bug Report
When testing HMI ptu, if that flow fails the hmi will attempt to update the policy table via a connected mobile de

[2020-05-22 11:49] ychernysheva commented on #1896
This issue is not reproducible on release/6.1.0 branch

[2020-05-22 21:22] iCollin commented on #2316
Closed via https://github.com/smartdevicelink/sdl_core/pull/2315

[2020-05-22 21:22] #2316 closed

[2020-05-25 18:52] dboltovskyi opened #3396 "SDL doesn't start PTU on Days, Ignition Cycles or new Ignition cycle triggers for HTTP policy mode"
### Bug Report
After merge of https://github.com/smartdevicelink/sdl_core/pull/3363 SDL does not start PTU sequence for the following triggers in `HTTP` policy mode:
 `1)` Number of ignition cycles (`exchange_after_x_ignition_cycles`)
 `2)` Number of days (`exchange_after_x_days`)
 `3)` New ignition cycle after unsuccessful retry

##### Reproduction Steps
1. Make sure SDL is built in `HTTP` policy

[2020-05-25 18:55] dboltovskyi commented on #3396
@theresalech Please triage this issue since it's regression one

[2020-05-25 19:07] dboltovskyi commented on #3396
Issue is also applicable for new [028_PTU_snapshot_validation_no_app_connected.lua](https://github.com/smartdevicelink/sdl_atf_test_scripts/blob/develop/test_scripts/WebEngine/028_PTU_snapshot_validation_no_app_connected.lua) script for WebEngine.
Script is aborted since PTS was not created.
Logs: [028.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4678558/028.tar.gz)

[2020-05-26 10:43] ychernysheva opened #3399 "Unit test in WebsocketSessionTest fails with core dump"
### Bug Report
Currently on develop branch unit test WebsocketSessionTest._SendMessage_UnpreparedConnection_WithoutFall fails with ENABLE_GCOV=ON flag (on any policy flow).
##### Reproduction Steps
1. Build SDL core with flag ENABLE_GCOV=ON
2. Run command "make test"

##### Expected Behavior
No core dump

##### Observed Behavior

WebsocketSessionTest.SendMessage_UnpreparedConnection_WithoutFall
/h

[2020-05-26 11:02] LuxoftAKutsan commented on #1903
Issue reproduced on 0ce76256232bad18bac986e7e68f35c2ae510a29 HEAD, tag: 6.1.1

[2020-05-26 11:11] LuxoftAKutsan commented on #2810
Appropriate sync4 changes not present in open sdl_core.
Script will be created and changes will be ported

[2020-05-26 11:14] LuxoftAKutsan commented on #2798
Issue is relate to ios device so cant be reproducible on open sdl.
Code with crashes still exist in codebase, need deeper investigation to find root cause.

[2020-05-26 15:32] theresalech commented on #3396
@dboltovskyi will Luxoft be submitting a PR to resolve this issue?

[2020-05-26 15:40] theresalech commented on #1903
@LuxoftAKutsan thank you for the additional information.  Can you please also advise if Luxoft will be submitting a PR to resolve this issue?

[2020-05-26 15:42] theresalech commented on #2810
Hi @LuxoftAKutsan, thank you! Please let us know once the PR is ready for Livio review.

[2020-05-26 17:37] dboltovskyi commented on #3396
@theresalech We will appreciate if PMs be able to submit a fix.

[2020-05-27 07:15] LuxoftAKutsan commented on #3162
Fix from SYNC 4 is partially applicable to open sdl. Will be applied.
Only regression will be checked because issue related to IOs devices

[2020-05-27 07:18] LuxoftAKutsan commented on #3172
Fix form SYNC4 will be applied.
Test script will be created, but test script may pass on open  sdl_core even without fix. Issue related to race conditions and may be not reproducible on open sdl.

[2020-05-27 07:21] LuxoftAKutsan commented on #3173
Fix from SYNC4 applicable for open sdl.
Additional test will not be created. any test case contains steps t reproduce.
Probably issue can't be reproduce in open sdl environment.
Regression will be checked

[2020-05-27 12:37] theresalech commented on #3162
@LuxoftAKutsan, thank you for the additional information!  Please let us know when a PR is ready for Livio's review.

[2020-05-27 12:43] theresalech commented on #3172
@LuxoftAKutsan, thank you for the additional information! Please let us know when a PR is ready for Livio's review.

[2020-05-27 12:45] theresalech commented on #3173
@LuxoftAKutsan, thank you for the additional information! Please let us know when a PR is ready for Livio's review.

[2020-05-27 19:12] iCollin commented on #3399
Hello @ychernysheva does your team plan to make a fix or should PM investigate this issue?

[2020-05-28 05:07] kekapare commented on #3362
Gentle reminder..!!! @JackLivio @jacobkeeler : can you please provide your feedback on this?

[2020-05-28 08:21] ychernysheva commented on #3399
@iCollin Yes, I've already prepared potential fix for this issue, now this PR is on internal review.

[2020-05-28 19:57] iCollin commented on #3387
Closed via https://github.com/smartdevicelink/sdl_core/pull/3388

[2020-05-28 19:57] #3387 closed

[2020-05-28 21:05] #3393 closed

[2020-05-29 02:54] Yuki-Shoda-Nexty opened #3402 "Report on HMI_API.xml issues(inaccurate description)"
### Report on HMI_API.xml issues(inaccurate description)

We suggest correcting HMI_API.xml(inaccurate description)

In the current `HMI_API.xml`, there is a problem of lack of description in the parameter <description />.
By compensating for this, we can provide a more accurate RPC documents to the SDL developers.
The target items are described in the Excel file.

[HMI_API_inaccurate description.

[2020-05-29 02:55] Yuki-Shoda-Nexty commented on #3402
@theresalech -san
Would this be a good way to report document problems?

[2020-05-29 04:49] MNikora opened #3403 "Cmake process makes user's OS dirty"
Cmake process is not only preparing project to building, but installing extra packages.

##### Reproduction Steps
1. cd sdl_core && mkdir build && cd build
2. cmake ..

##### Expected Behavior
-- Build files have been written to: /home/developer/sdl/sdl_core/build

##### Observed Behavior
The directory '/home/developer/.cache/pip/http' or its parent directory is not owned by the current user and t

[2020-05-29 06:17] kekapare commented on #3362
Gentle reminder..!!! @JackLivio @jacobkeeler  : can you please provide your feedback on this?

[2020-05-29 10:40] LuxoftAKutsan opened #3405 "CCB : protocol handler unit test stuck"
### Bug Report
Jenkins CI got stuck on protocol_handler tests... again. The problem seems to have been present for quite a while, but the exact conditions are unknown. Yet when it happens the CI gets stuck until terminated manually effectively delaying all other jobs for undefined amount of time, which can be a whole night or a whole weekend when no one watches.

##### Reproduction Steps
 - Run un

[2020-05-29 11:07] LuxoftAKutsan opened #3406 "CCB: Fixed Issue related to SetAppIcon Path"
### Bug Report
set_app_icon_request modifying the path as a URL
Converting "!#$&'()*+,:;=?@[] " to there corresponding hex values. This function is
not required for path.

##### Reproduction Steps
1. Execute setupIconrequest with "!#$&'()*+,:;=?@[] "

##### Expected Behavior

"!#$&'()*+,:;=?@[] " transferent to HMI as is

##### Observed Behavior
"!#$&'()*+,:;=?@[] " converted to hex values

#####

[2020-05-29 11:12] ychernysheva commented on #2449
@JackLivio Now we don't have any new PRs with unit tests for Application Manager or Connection. In the case of Connection coverage is large enough (95,5/100 % by lines/functions), that's why it seems that there is no need in new tests.

In the case of Application Manager coverage is not enough (42.4/42.8 %), but major part of complex methods is covered, that's why it seems, that this task may have

[2020-05-29 11:15] LuxoftAKutsan opened #3408 "CCB: AppLink; Apps do not load when Waze is active"
### Bug Report
App resuming Flag is not cleared if resumption fails and also not cleared when the resuming app is activated. which causes  HMIstate to mismatch with the hmilevel of HMI. i.e instead of FULL it stays background

##### Reproduction Steps
TODO : transfer from SYNC4

##### Expected Behavior
TODO : transfer from SYNC4

##### Observed Behavior
TODO : transfer from SYNC4

##### OS & Versi

[2020-05-29 11:18] LuxoftAKutsan opened #3409 "CCB: Co-Existence: Dummy Icon remains when iOS device is disconnected"
### Bug Report
Co-Existence: Dummy Icon remains when iOS device is disconnected

##### Reproduction Steps
Pre-Condition:
1. bench Up and running
2. iOS device available with supported applink apps
3. iOS connected via USB

How To Reproduce:
1. When CP message is displayed accepts terms to have CP available
2. In Apps page applink mobile apps should load
3. disconnect device
4. repeat until issue i

[2020-05-29 11:22] LuxoftAKutsan opened #3410 "CCB : Crash related to HandleOnEvent"
### Bug Report
 Crash related to HandleOnEvent

##### Reproduction Steps
N\A

##### Expected Behavior
No crash

##### Observed Behavior
sdl crash

##### OS & Version Information
##### OS & Version Information
* OS/Version: QNX 7.0
* SDL Core Version: [5.0.1]( https://github.com/smartdevicelink/sdl_core/releases/tag/5.0.1) integrated to SYNC environment
* Testing Against: Hardware Revision: e.g. EV

[2020-05-29 11:35] LuxoftAKutsan opened #3412 "CCB : Smartdevicelink crash observed when 2 Nav apps are connected to SYNC and multiple RPC are sent"
### Bug Report

Crash occurs in SYNC and the system reboots.
Smartdevicelink crash is generated

##### Reproduction Steps
Pre-Requisite:
1. Turn IGN to Run
2. Android device is connected to SYNC via BT
3. iPhone is connected to the SYNC via USB.
4. Make sure Antelope App is uninstalled in iPhone.
5. In Android, in SyncProxyTester app, create a proxy "Navigation" (App ID: 883259982, Media Unchecked

[2020-06-01 10:04] LuxoftAKutsan opened #3413 "Generic Error is getting with in 30 -40 sec while performing Perfrom Interction"BOTH""
### Bug Report
Pre-Requisite:
1. Turn IGN to Run
2. Android device is connected to the SYNC via BT
3. Make sure SyncProxyTester(App ID: 584421907) is registered to SYNC.
4. Make sure policy table is updated

##### Reproduction Steps

1. Select Apps from Status/Interaction bar and select SyncProxyTester app
2. Send CreateInteractionChoiceSet RPC with default values.
3. Send PerformInteraction RPC w

[2020-06-01 18:37] dboltovskyi opened #3414 "Build fails for HTTP policy mode with UT"
### Bug Report
SDL build fails for HTTP policy mode with UT

##### Reproduction Steps
1. Try to build SDL with the following CMake build flags:
[code]

##### Expected Behavior
Build finished successfully

##### Observed Behavior
Build failed with error

##### OS & Version Information
* OS/Version: Ubuntu 18.04
* SDL Core Version: https://github.com/smartdevicelink/sdl_core/tree/develop (c813503)
*

[2020-06-02 14:54] theresalech commented on #3402
Hi @Yuki-Shoda-Nexty, yes this is a good way to report issues with the HMI_API.xml.  Can you please confirm that this issue contains all inaccurate descriptions within the HMI_API.xml?  If so, please submit a PR to fix the descriptions/resolve the issue, and the PM can review.  Thank you!

[2020-06-02 16:54] chinlin0924 opened #3416 "Memory leaked during video streaming"
### Bug Report
Memory leaked during SDL video streaming

##### Reproduction Steps
1. Build Core with -DENABLE_SANITIZE=ON
2. Setup video streaming via pipe and run Core with ASAN_OPTIONS=detect_leaks=1 for memory leak checking
3. Connect any Navigation/Video Streaming SDL app
2. Observe the memory usage  while video streaming is performed
3. Terminate Core and check the leaked information from GCC

[2020-06-03 01:02] dboltovskyi commented on #1906
@theresalech Please notice issue is still actual for Core 6.1
ATF script and logs: [2020-06-02_20-50-16_1906.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4720430/2020-06-02_20-50-16_1906.tar.gz)

[2020-06-03 01:04] dboltovskyi commented on #1917
@theresalech Please notice issue is still actual for Core 6.1
ATF script and logs: [2020-06-02_20-50-57_1917.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4720432/2020-06-02_20-50-57_1917.tar.gz)

[2020-06-03 01:04] dboltovskyi commented on #1918
@theresalech Please notice issue is still actual for Core 6.1
ATF script and logs: [2020-06-02_20-52-08_1918.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4720433/2020-06-02_20-52-08_1918.tar.gz)

[2020-06-03 01:06] dboltovskyi commented on #1919
@theresalech Please notice issue previously was closed by mistake and it's still actual for Core 6.1
ATF script and logs: [2020-06-02_20-52-50_1919.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4720437/2020-06-02_20-52-50_1919.tar.gz)

[2020-06-03 01:06] dboltovskyi commented on #1920
@theresalech Please notice issue is still actual for Core 6.1
ATF script and logs: [2020-06-02_20-53-27_1920.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4720441/2020-06-02_20-53-27_1920.tar.gz)

[2020-06-03 14:04] dboltovskyi commented on #3414
@theresalech Please triage this regression issue

[2020-06-03 15:18] theresalech commented on #1906
Hi @dboltovskyi, thank you for the additional information.  Will Luxoft be submitting a PR to resolve this issue?

[2020-06-03 15:19] theresalech commented on #1917
Hi @dboltovskyi, thank you for the additional information. Will Luxoft be submitting a PR to resolve this issue?

[2020-06-03 15:19] theresalech commented on #1918
Hi @dboltovskyi, thank you for the additional information. Will Luxoft be submitting a PR to resolve this issue?

[2020-06-03 15:21] theresalech commented on #1919
@dboltovskyi thank you for letting us know.  This issue has not yet been prioritized for the Core 6.2 release.  Please let us know if this is high priority for Luxoft in the next release, and if so, if you will be submitting a PR to resolve the issue.  Thanks!

[2020-06-03 15:21] theresalech commented on #1920
Hi @dboltovskyi, thank you for the additional information. Will Luxoft be submitting a PR to resolve this issue?

[2020-06-03 20:11] theresalech opened #3419 "[SDL 0305] Homogenize TextFieldName"
Proposal: [Homogenize TextFieldName](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0305-homogenize-textfieldname.md)

Review: https://github.com/smartdevicelink/sdl_evolution/issues/1020

Steering Committee Decision:

[2020-06-03 21:07] iCollin commented on #2258
I have approved and merged #2259 but while reviewing noticed that `choice_set_map_` is also not cleaned up by the destructor of DynamicApplicationDataImpl so I have created PR #3420 as well.

I will close this issue once #3420 is resolved.

[2020-06-04 01:22] Yuki-Shoda-Nexty commented on #3402
@theresalech -san, Fixed description and example in the Bug Report.

[2020-06-04 12:44] theresalech commented on #3402
@Yuki-Shoda-Nexty, thank you!  Please advise when a PR has been entered to resolve the issue

[2020-06-04 17:10] iCollin commented on #3399
Closed via https://github.com/smartdevicelink/sdl_core/pull/3418

[2020-06-04 17:10] #3399 closed

[2020-06-04 19:07] dboltovskyi commented on #1907
@theresalech Please notice issue is still actual for Core 6.1
ATF script and logs: [2020-06-04_15-05-19_1907.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4732222/2020-06-04_15-05-19_1907.tar.gz)

[2020-06-04 19:27] dboltovskyi commented on #2322
@theresalech Please notice issue is still actual for Core 6.1
ATF script and logs: [2020-06-04_15-26-34_2322.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4732309/2020-06-04_15-26-34_2322.tar.gz)

[2020-06-04 19:40] dboltovskyi commented on #1916
@theresalech Please notice issue is still actual for Core 6.1
ATF script and logs: [2020-06-04_15-38-16_1916.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4732359/2020-06-04_15-38-16_1916.tar.gz)

[2020-06-04 19:48] dboltovskyi commented on #1903
Updated ATF script and logs: [2020-06-04_15-47-08_1903.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4732392/2020-06-04_15-47-08_1903.tar.gz)

[2020-06-04 20:18] ShobhitAd commented on #2758
Closed via https://github.com/smartdevicelink/sdl_core/pull/2759

[2020-06-04 20:18] #2758 closed

[2020-06-05 15:22] iCollin commented on #3396
Closed via #3415

[2020-06-05 15:22] #3396 closed

[2020-06-05 16:10] mrapitis opened #3421 "SSL Context should use MACRO instead of direct struct access"
### Bug Report
SDL Core will not build with security enabled when using OpenSSL 1.1 because the SSL context used inside of ResetConnection is directly accessing the underlying structure inside of the connection.  Instead the context should be referenced by the proper MACRO which will allow core to build with OpenSSL 1.1 as well as older versions.

Replacing the line linked below with the following

[2020-06-05 16:18] dboltovskyi commented on #3421
@mrapitis Please notice this issue may be related to https://github.com/smartdevicelink/sdl_core/issues/3220

[2020-06-06 18:16] iCollin commented on #2272
Closed via https://github.com/smartdevicelink/sdl_core/pull/2273/

[2020-06-06 18:16] #2272 closed

[2020-06-06 18:19] iCollin commented on #2269
Closed via https://github.com/smartdevicelink/sdl_core/pull/2270/

[2020-06-06 18:19] #2269 closed

[2020-06-06 18:21] iCollin commented on #3416
Hello @chinlin0924, this memory leak has been fixed by https://github.com/smartdevicelink/sdl_core/pull/2270/ which is in develop now.

[2020-06-06 18:21] #3416 closed

[2020-06-08 01:19] zhouxin627 opened #3423 "App icon failed to update due to special characters."
### Bug Report
App icon failed to update due to special characters.

##### Preconditions
TestApp's name is "Name Name".

##### Reproduction Steps
1.Register the TestApp.
2.Start the TestAPP.
3.After sending `PutFile(name name)` and receiving `PutFileResponse(success)`, send `setAppIcon(name name)`.
4.Confirm AppIcon's update.

##### Expected Behavior
App icon updated successfully

##### Observed B

[2020-06-08 06:42] Yuki-Shoda-Nexty commented on #3402
@theresalech -san
We have already finished confirmation of the issues you indicated.
We do not propose it as PR, but we will report it on the issue page instead.
We would like PM to fix the issue by using the information on issue page as reference.

[2020-06-08 13:45] ShobhitAd opened #3424 "Bluetooth device scan preventing update app list"
### Bug Report
At the moment, running SDL with bluetooth enabled prevents the app list from being updated until the bluetooth device scan is completed. Additionally, the device scan seems to prevent SDL from shutting down when SIGINT is triggered.

##### Occurrences
1/5

##### Reproduction Steps
1. Enable bluetooth
2. Pair a bluetooth device
3. Add cloud application to the preloaded policy table
[

[2020-06-08 15:03] iCollin commented on #2395
Closed via https://github.com/smartdevicelink/sdl_core/pull/2490

[2020-06-08 15:03] #2395 closed

[2020-06-08 15:08] theresalech commented on #1907
@dboltovskyi thank you for the update!  Can you please advise if Luxoft is planning to submit a PR to resolve this issue?

[2020-06-08 15:09] theresalech commented on #2322
@dboltovskyi thank you for the update!  Can you please advise if Luxoft is planning to submit a PR to resolve this issue?

[2020-06-08 15:09] theresalech commented on #1903
@dboltovskyi thank you for the update!  Can you please advise if Luxoft is planning to submit a PR to resolve this issue?

[2020-06-08 15:09] theresalech commented on #1916
@dboltovskyi thank you for the update!  Can you please advise if Luxoft is planning to submit a PR to resolve this issue?

[2020-06-08 15:12] theresalech commented on #3402
@Yuki-Shoda-Nexty understood, thank you.  This issue has not been raised as high priority for the upcoming release by any Steering Committee members, but the Project Maintainer will work to resolve the issue as time allows.

[2020-06-08 15:36] theresalech opened #3426 "[SDL 0273] WebEngine Projection mode"
Proposal: [WebEngine Projection mode](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0273-webengine-projection-mode.md)

It extends [SDl-0240 - WebEngine support for SDL JavaScript](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0240-sdl-js-pwa.md) to allow using the WebEngine app's web view for the HMI in addition to the other available SDL template

[2020-06-09 00:12] Yuki-Shoda-Nexty commented on #3402
@theresalech -san, Thank you. Please comment if you have any questions.

[2020-06-09 18:55] theresalech commented on #3133
Proposal markdown file has been updated per the revisions included in accepted Evolution Proposal [SDL 0255 Revisions - Enhance BodyInformation vehicle data](https://github.com/smartdevicelink/sdl_evolution/issues/1022).  Please reference the issue and proposal markdown file for revisions details.

[2020-06-09 19:18] theresalech commented on #3414
Closed via #3422

[2020-06-09 19:18] #3414 closed

[2020-06-09 21:07] jacobkeeler commented on #2124
Closing with the merge of #3417

[2020-06-09 21:07] #2124 closed

[2020-06-10 17:51] #2581 closed, assigned to nobody

[2020-06-11 12:47] theresalech commented on #3119
Hi @dboltovskyi, thank you for the additional information.  Can you please advise if Luxoft will be submitting a PR to resolve this issue?

[2020-06-11 17:32] dboltovskyi commented on #1903
@theresalech Please notice we're not planning to create the fix in scope of 6.2, though will try to do as much as possible

[2020-06-11 17:32] dboltovskyi commented on #1906
@theresalech Please notice we're not planning to create the fix in scope of 6.2, though will try to do as much as possible

[2020-06-11 17:32] dboltovskyi commented on #1907
@theresalech Please notice we're not planning to create the fix in scope of 6.2, though will try to do as much as possible

[2020-06-11 17:33] dboltovskyi commented on #1916
@theresalech Please notice we're not planning to create the fix in scope of 6.2, though will try to do as much as possible

[2020-06-11 17:33] dboltovskyi commented on #1917
@theresalech Please notice we're not planning to create the fix in scope of 6.2, though will try to do as much as possible

[2020-06-11 17:33] dboltovskyi commented on #1918
@theresalech Please notice we're not planning to create the fix in scope of 6.2, though will try to do as much as possible

[2020-06-11 17:33] dboltovskyi commented on #1919
@theresalech Please notice we're not planning to create the fix in scope of 6.2, though will try to do as much as possible

[2020-06-11 17:33] dboltovskyi commented on #1920
@theresalech Please notice we're not planning to create the fix in scope of 6.2, though will try to do as much as possible

[2020-06-11 17:34] dboltovskyi commented on #2322
@theresalech Please notice we're not planning to create the fix in scope of 6.2.

[2020-06-11 17:34] dboltovskyi commented on #2888
@theresalech Please notice we're not planning to create the fix in scope of 6.2, though will try to do as much as possible

[2020-06-11 17:34] dboltovskyi commented on #3119
@theresalech Please notice we're not planning to create the fix in scope of 6.2, though will try to do as much as possible

[2020-06-11 17:36] dboltovskyi commented on #2599
@theresalech Please notice we're not planning to create the fix in scope of 6.2, though will try to do as much as possible

[2020-06-11 17:37] dboltovskyi commented on #2810
@theresalech Please notice we're not planning to create the fix in scope of 6.2, though will try to do as much as possible

[2020-06-11 18:11] theresalech commented on #2599
@E-SAITO-TMC please see notes above from Luxoft team, as they have found this issue to **not** be reproducible on open SDL.  If Toyota is able to reproduce the issue and submit a PR to resolve, please let us know.

[2020-06-11 19:45] theresalech opened #3434 "[SDL 0308] Add a Reason Parameter to All Protocol NAKs"
Proposal: [Add a Reason Parameter to All Protocol NAKs](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0308-protocol-nak-reason.md)

Review: https://github.com/smartdevicelink/sdl_evolution/issues/1027

[2020-06-11 20:04] theresalech commented on #3193
Proposal markdown file has been updated per the revisions included in accepted Evolution Proposal [SDL 0261 Revisions - New vehicle data WindowStatus](https://github.com/smartdevicelink/sdl_evolution/issues/1028).  Revisions adding `mandatory=true` attribute to `approximatePosition` and `deviation`, and changing `minValue/MaxValue` attributes to `minvalue/maxvalue`.  Please reference the issue and

[2020-06-12 16:12] ShobhitAd commented on #955
Issue not reproducible in latest develop(https://github.com/smartdevicelink/sdl_core/commit/ef2b88520b4224390ffd332f737fdf5573def60e).

[2020-06-12 16:12] #955 closed

[2020-06-15 12:36] kekapare commented on #3362
Thank you @jacobkeeler . Will add this fix. It will be a bit difficult to verify as the issue reported is once.
And not easily reproducible. But will surely check for sanity test.

[2020-06-15 15:59] dboltovskyi commented on #2323
Please notice issue is still actual for Core 6.1
ATF script and logs: [2020-06-15_11-58-52_2323.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4781459/2020-06-15_11-58-52_2323.tar.gz)

[2020-06-15 16:38] dboltovskyi commented on #1910
Even if the issue contradicts to the item `5.1` in https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0150-video-streaming-state.md we suppose it's still actual for `6.1` release.
Please find updated ATF script and logs: [2020-06-15_12-32-24_1910.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4781652/2020-06-15_12-32-24_1910.tar.gz)

[2020-06-15 19:27] iCollin commented on #2258
Closed via #2259 and #3420

[2020-06-15 19:27] #2258 closed

[2020-06-15 19:39] dboltovskyi commented on #1385
Issue is still applicable for `6.1` release.
Updated ATF script and logs: [2020-06-15_13-36-35_1385.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4782528/2020-06-15_13-36-35_1385.tar.gz)

[2020-06-15 19:42] dboltovskyi commented on #2227
Issue is still applicable for `6.1` release.
ATF scripts and logs: [2020-06-15_15-41-23_2227.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4782548/2020-06-15_15-41-23_2227.tar.gz)

[2020-06-15 19:58] dboltovskyi commented on #1390
Issue is not applicable for `6.1` release and can be closed.
Updated ATF script and logs: [2020-06-15_15-56-19_1390.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4782637/2020-06-15_15-56-19_1390.tar.gz)

[2020-06-15 19:58] #1390 closed

[2020-06-15 20:38] dboltovskyi commented on #1507
Issue is not reproduced within ATF script using `6.1` release.
Script and logs: [2020-06-15_16-36-13_1507.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4782853/2020-06-15_16-36-13_1507.tar.gz)

[2020-06-15 20:52] dboltovskyi commented on #1608
Issue is very similar to https://github.com/smartdevicelink/sdl_core/issues/1906

[2020-06-15 20:53] dboltovskyi commented on #2612
Issue is very similar to https://github.com/smartdevicelink/sdl_core/issues/1908

[2020-06-15 21:12] #2230 closed

[2020-06-15 21:13] jacobkeeler commented on #1944
Not reproducible in develop, closing

[2020-06-15 21:13] #1944 closed

[2020-06-16 17:34] jacobkeeler opened #3440 "Core does not respond to StartService with encrypted=true if PTU timed out"
### Bug Report
If the PTU retry sequence fails when attempting to get a certificate for establishing a secured connection, Core will not respond to the original StartService or inform the HMI that the process failed.

##### Reproduction Steps
1. Build Core with EXTENDED_POLICY=EXTERNAL_PROPRIETARY
2. Set `ForceProtectedService = 0x0A, 0x0B` in `smartDeviceLink.ini`
3. Set the following values in t

[2020-06-16 19:28] dboltovskyi commented on #3440
@jacobkeeler Please notice there is an ATF script to cover this case:
https://github.com/smartdevicelink/sdl_atf_test_scripts/blob/develop/test_scripts/API/ServiceStatusUpdateToHMI/020_Video_service_protected_PTU_FAILED_TimeOut_2_failed_external.lua
It's passed on a current Core develop

Also one thing to notice there is a difference between retry sequences for `PROPRIETARY` and `EXTERNAL_PROPRIET

[2020-06-16 20:54] jacobkeeler commented on #3190
Closing with the merge of #3379

[2020-06-16 20:54] #3190 closed

[2020-06-17 00:51] Yuki-Shoda-Nexty opened #3443 "Report on HMI_API.xml issues(missing parameter minimum value)"
We propose correcting HMI_API.xml(missing parameter minimum value)

In current `HMI_API.xml`, some RPCs has string type parameters that are not indicated about minimum length.
In case length is 0, "Error: Invalid Data" occur, therefore it is necessary to add minlength.
The target items are described in below Excel file.

[HMI_API_missing parameter minimum value.xlsx](https://github.com/smartdevice

[2020-06-17 01:56] Yuki-Shoda-Nexty opened #3444 "Report on HMI_API.xml issues(inconsistent range)"
We propose correcting HMI_API.xml(inconsistent range)

In current `HMI_API.xml`, some of descriptions about actual operation of the Head Unit and setting values of related parameters are inconsistent.
By fixing such descriptions, we can provide more accurate RPC documents for SDL developers.
The target item is below parameter.

Since it takes 1-2 sec to start recording by the onboard Mic after the

[2020-06-17 02:03] Yuki-Shoda-Nexty opened #3445 "Report on HMI_API.xml issues(missing description)"
We propose correcting HMI_API.xml(missing description)

In current `HMI_API.xml`, some RPCs and parameters has no description.
By adding description for such RPCs and parameters, we can provide more accurate RPC documents for SDL developers.
The target items are described in the Excel file.

[HMI_API_missing description.xlsx](https://github.com/smartdevicelink/sdl_core/files/4789936/HMI_API_missin

[2020-06-17 02:11] Yuki-Shoda-Nexty opened #3446 "Report on HMI_API.xml issues(missing parameter range)"
We propose correcting HMI_API.xml(missing parameter range)

In current `HMI_API.xml`, some RPCs has parameters that are not indicated about max/min range.
By adding the range for such parameters, we can provide more accurate RPC documents for SDL developers.
The target items are described in the Excel file.

[HMI_API_missing parameter range.xlsx](https://github.com/smartdevicelink/sdl_core/files/4

[2020-06-17 15:26] jacobkeeler commented on #3440
@dboltovskyi Note that the test case that you reference goes through an extra retry in each PTU retry sequence. 3 attempts should be made, but BC.OnSystemRequest is sent by ATF 4 times, so ATF is not emulating a realistic setup in this case.

[2020-06-17 15:46] JackLivio commented on #3440
@dboltovskyi See updated test: https://github.com/smartdevicelink/sdl_atf_test_scripts/pull/2427

[2020-06-17 16:52] dboltovskyi commented on #3440
@jacobkeeler @JackLivio That was initially by design due to differences between policy flows.
As far as I remember `EXT` flow was originated from `Sync` project
But I'm not quite sure that this number of retries should be differ for OpenSDL and may be this is a good idea to make it the same.
If so we need to do more updates in ATF scripts:
[code]
This list may be not complete, so full regression i

[2020-06-17 17:59] jacobkeeler commented on #3440
@dboltovskyi The sdl_hmi already follows this flow

[2020-06-17 19:37] dboltovskyi commented on #3440
@jacobkeeler Seems you're right since issue https://github.com/smartdevicelink/sdl_hmi/issues/339 and fix for it https://github.com/smartdevicelink/sdl_hmi/pull/315 are still open.

[2020-06-18 15:10] jacobkeeler commented on #3440
Closing with the merge of #3441

[2020-06-18 15:10] #3440 closed

[2020-06-18 15:13] jacobkeeler commented on #3176
Closing with the merge of #3383

[2020-06-18 15:13] #3176 closed

[2020-06-22 10:05] ychernysheva opened #3448 "Duplicated conversion functions in different SDL places"
### Bug Report

We have lots of similar conversion functions, which are located in different SDL places (MessageHelper, RAI request, Application Manager etc.). This conversion functions are duplicates of each other in terms of conversion from string to enum and vice versa. There is no unified approach to perform this conversion, that's why in similar functions this operation is realized by differe

[2020-06-22 21:57] jacobkeeler commented on #3168
Closing with the merge of #3377

[2020-06-22 21:57] #3168 closed

[2020-06-23 12:35] ychernysheva opened #3452 "Unit test from PolicyHandlerTest fails"
### Bug Report
Unit test from PolicyHandlerTest fails with occurrence near 1/200

##### Reproduction Steps
1. Build SDL with unit tests under HTTP or Proprietary flow
2. Run all unit tests or go to folder with unit tests for ApplicationManager and run only affected unit test (./application_manager_test --gtest_filter="PolicyHandlerTest.OnSystemError_SUCCESS" --gtest_repeat=10000)

##### Expected B

[2020-06-23 18:06] iCollin commented on #3125
Closed via #3451

[2020-06-23 18:06] #3125 closed

[2020-06-23 18:47] AKalinich-Luxoft commented on #3338
@theresalech PR with fix is ready for Livio review.

[2020-06-23 20:03] theresalech commented on #3338
Hi @AKalinich-Luxoft, this issue is not currently planned for the Core 6.2 release, but we will work to include if time allows.

[2020-06-23 20:18] theresalech commented on #2935
@dboltovskyi @AKalinich-Luxoft, can you please advise if Luxoft intends to submit a PR for this issue?  If so, can you please provide approximate timing?  Thanks!

[2020-06-23 20:31] dboltovskyi commented on #2935
@theresalech Please notice we suppose this issue is going to be fixed by https://github.com/smartdevicelink/sdl_core/pull/3439 (fix for https://github.com/smartdevicelink/sdl_core/issues/3141 issue) which is in progress now. Our plan is to complete this fix in scope of `6.2` release.

[2020-06-24 12:49] theresalech commented on #2935
@dboltovskyi, thank you!  Please let us know when PR 3439 is ready for Livio review.

[2020-06-25 14:57] jacobkeeler commented on #2283
Closing with the merge of #3355

[2020-06-25 14:57] #2283 closed

[2020-06-25 20:44] JackLivio commented on #885
@jacobkeeler

[2020-06-25 20:44] JackLivio commented on #885
@JackLivio

[2020-06-30 10:53] ShobhitAd commented on #491
Closed via #2184

[2020-06-30 10:53] #491 closed

[2020-06-30 17:57] ShobhitAd commented on #3119
Closed via #3427

[2020-06-30 17:57] #3119 closed

[2020-07-07 14:29] dboltovskyi commented on #3169
@theresalech Please notice the following findings:

Script for provided use case has been created: [3169.lua.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4885400/3169.lua.tar.gz)
Issue was not reproduced on latest SDL develop - neither with fix nor without it.

There could be several reasons why issue is not reproduced in open source environment :
- Timings on Mobile\HMI communication

[2020-07-07 14:51] iCollin commented on #3078
Closed via https://github.com/smartdevicelink/sdl_core/pull/3297

[2020-07-07 14:51] #3078 closed

[2020-07-07 19:45] dboltovskyi commented on #3170
@theresalech Please notice the following findings:

Script for provided use case has been created: [3170.lua.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4886860/3170.lua.tar.gz)

Issue was not reproduced on latest SDL develop - neither with fix nor without it.

There could be several reasons why issue is not reproduced in open source environment :
- Timings on Mobile\HMI communicatio

[2020-07-07 20:22] dboltovskyi commented on #3171
@theresalech Please notice,

Information provided in description is not enough to create exact sequence of actions in script.
Some of the sequences are implelented in: [3171.lua.tar.gz](https://github.com/smartdevicelink/sdl_core/files/4886957/3171.lua.tar.gz)

However we were not able to reproduce described SDL crash on latest develop.

[2020-07-07 20:50] theresalech commented on #3171
@dboltovskyi, thank you for the additional information.  We will close this issue as not reproducible.

[2020-07-07 20:50] #3171 closed

[2020-07-08 16:37] theresalech commented on #3170
@dboltovskyi, thank you for the additional information.  We'll await Luxoft's confirmation of PR #3375 being ready for Livio review.

[2020-07-08 16:37] theresalech commented on #3169
@dboltovskyi, thank you for the additional information.  We'll await Luxoft's confirmation of PR #3376 being ready for Livio review.

[2020-07-13 14:20] ShobhitAd commented on #3185
Closed via #3381

[2020-07-13 14:20] #3185 closed

[2020-07-15 17:40] dboltovskyi opened #3460 "SDL doesn't provide individual VD result code for clusterModeStatus in SubscribeVehicleData/UnsunscribeVehicleData responses from HMI"
### Bug Report
SDL doesn't provide individual VD result code for `clusterModeStatus` in `SubscribeVehicleData/UnsunscribeVehicleData` responses from HMI in case of 2 apps.

##### Reproduction Steps
*Preconditions:*
1. SDL and HMI are started
2. `SubscribeVehicleData` RPC and `<vd_param>` parameter are allowed by policies
3. `App_1` and `App_2` are registered
4. `App_1` successfully subscribes to `

[2020-07-15 17:43] dboltovskyi commented on #3460
Please take into account that for `SubscribeVehicleData/UnsunscribeVehicleData` real VD parameter name is `clusterModes` instead of `clusterModeStatus`
This discrepancy was described in issue https://github.com/smartdevicelink/sdl_core/issues/1696

[2020-07-17 18:07] iCollin commented on #2888
@dboltovskyi I see the attached ATF test completely passing against current develop. Is the issue of button presses not being transferred to apps in LIMITED still actual?

[2020-07-17 18:25] dboltovskyi commented on #2888
@iCollin Confirmed. Issue is not reproduced on a current develop (5e2dff6d31)

[2020-07-17 19:18] iCollin commented on #2888
@LitvinenkoIra I have submitted a fix for the subscribed apps in LIMITED issue in #3461, please let me know if this does fix the reported issue. Thank you.

[2020-07-20 12:58] theresalech commented on #3037
Closed via #3397

[2020-07-20 12:58] #3037 closed

[2020-07-20 19:31] iCollin commented on #2322
It seems that there are two ATF tests expecting the incorrect behavior:
`./test_scripts/MobileProjection/Phase2/003_audioStreamingState_069-103.lua`
`./test_scripts/MobileProjection/Phase2/020_different_types_apps_interactions.lua`

Would it be possible to update the expectations in [ATF PR 1957](https://github.com/smartdevicelink/sdl_atf_test_scripts/pull/1957)?

[2020-07-22 17:11] theresalech commented on #2969
Proposal markdown file has been updated per the revisions included in accepted Evolution Proposal [SDL 0242 Revisions - Subtle Alert Style](https://github.com/smartdevicelink/sdl_evolution/issues/1046).  Revisions include updating several RPC definitions, and adding a policy field to control rate limiting for `SubtleAlert` requests as is currently available for `Alert` requests.  Please reference

[2020-07-22 17:27] theresalech commented on #3212
Proposal markdown file has been updated per the revisions included in accepted Evolution Proposal [SDL 0268 Revisions - Main Menu Updating and Pagination](https://github.com/smartdevicelink/sdl_evolution/issues/1047).  Revisions include adding an `App ID` parameter to `UI.OnUpdateFile` and `UI.OnUpdateSubMenu` in the HMI API.  Please reference the issue and proposal markdown file for revisions det

[2020-07-22 17:38] theresalech commented on #2123
Proposal markdown file has been updated per the revisions included in accepted Evolution Proposal [SDL 0152 Revisions - Driver Distraction Improvements: Command List Limitations](https://github.com/smartdevicelink/sdl_evolution/issues/1048).  Revisions include adding a `driverDistraction` parameter to the `HMICapabilities` struct in the Mobile API.  Please reference the issue and proposal markdown

[2020-07-23 18:10] iCollin commented on #2888
Closed via https://github.com/smartdevicelink/sdl_core/pull/3461 and https://github.com/smartdevicelink/sdl_atf_test_scripts/pull/2434

[2020-07-23 18:10] #2888 closed

[2020-07-24 16:15] iCollin commented on #2245
@dboltovskyi Hello, I see `test_scripts/API/VehicleData/SubscribeVehicleData/002_RPC_parameter_DISALLOWED_by_policies_flow.lua` passing against current develop. Can you confirm if issue is still actual?

[2020-07-24 16:18] iCollin commented on #2181
Hello, a similar solution to the problem was merged as part of the [persisting HMI capabilities implementation](https://github.com/smartdevicelink/sdl_core/pull/3397).

I am closing this issue as now Core does wait for the HMI to provide capabilities before replying to RAI.

[2020-07-24 16:18] #2181 closed

[2020-07-24 20:03] dboltovskyi commented on #2245
@iCollin Confirmed. Issue is not actual for current develop of `sdl_core` (f2119f4b99) and can be closed.

[2020-07-27 13:26] theresalech commented on #2245
Closing per comments above.

[2020-07-27 13:26] #2245 closed

[2020-07-27 15:22] jacobkeeler commented on #1917
@GetmanetsIrina @dboltovskyi A point of clarification with this issue.

With the note:

navigation app_2 gets (LIMITED, AUDIBLE)

Wouldn't this require the HMI to disable the `AUDIO_SOURCE` event before activating the media app for this flow to work properly? I don't see an `OnEventChanged(AUDIO_SOURCE, false)` message in the provided ATF test.

[2020-07-27 15:44] theresalech opened #3465 "[SDL 0296] Possibility to update video streaming capabilities during ignition cycle"
Proposal: [Possibility to update video streaming capabilities during ignition cycle](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0296-Update-video-streaming-capabilities-during-ignition-cycle.md)

Review: https://github.com/smartdevicelink/sdl_evolution/issues/983

**Steering Committee Decision:**

The Steering Committee voted to accept this proposal with the following r

[2020-07-27 15:55] iCollin commented on #1782
Hello, this issue was fixed by https://github.com/smartdevicelink/sdl_core/pull/3154 and is tested by the first test in https://github.com/smartdevicelink/sdl_atf_test_scripts/pull/2298, which is passing against current develop. Closing as it is no longer reproducible.

[2020-07-27 15:55] #1782 closed

[2020-07-27 18:36] jacobkeeler commented on #2612
Closing as duplicate of #1908

[2020-07-27 18:36] #2612 closed

[2020-07-27 20:41] jacobkeeler commented on #1906
Duplicate of #1608

[2020-07-27 20:41] #1906 closed

[2020-07-28 13:22] GetmanetsIrina opened #3466 "SDL doesn't reject the RPC from mobile in case the version of the mobile app is less then RPC version"
### Bug Report
SDL doesn't reject the RPC from mobile in case the version of the mobile app is less then RPC version

##### Preconditions
1. HMI and SDL are started
2. Mobile app is registered with `syncMsgVersion = (minorVersion = 0, majorVersion = 5)`
3. Mobile app is activated

##### Reproduction Steps
1. App requests `CloseApplication`(RPC is available since=6.0)

##### Expected Behavior
SDL r

[2020-07-28 17:21] theresalech commented on #2935
@dboltovskyi, it appears PR #3439 has been closed.  Can you please advise if Luxoft will be submitting another PR to resolve both this issue (2935) and #3141 for the 7.0 release?

[2020-07-29 13:24] dboltovskyi commented on #2935
@theresalech Please notice PR https://github.com/smartdevicelink/sdl_core/pull/3439 was a draft. We're still planning to provide a fix for these issues.

[2020-07-29 14:54] theresalech commented on #2935
@dboltovskyi, thanks!  Please let us know once the fix is ready for Livio review.

[2020-07-29 20:35] jacobkeeler commented on #3338
Closing with the merge of #3347

[2020-07-29 20:35] #3338 closed

[2020-07-29 21:17] #2374 closed

[2020-07-31 11:59] GetmanetsIrina commented on #3343
During investigation were found that it's a mobile issue.

[2020-07-31 11:59] #3343 closed

[2020-07-31 19:06] dboltovskyi opened #3469 "SDL doesn't send RC.SetGlobalProperties during resumption"
### Bug Report
SDL doesn't send RC.SetGlobalProperties during resumption

##### Reproduction Steps
1. Start SDL, HMI, connect Mobile device, register application
2. Send `SetGlobalProperties` with `userLocation` parameter
=> SDL sends `RC.SetGlobalProperties` request to HMI and after receiving succesful response sends `OnHashChange` notification to the app
3. Perform unexpected disconnect and then

[2020-07-31 19:35] dboltovskyi opened #3470 "SDL doesn't send AppService.GetAppServiceData during resumption"
### Bug Report
SDL doesn't send AppService.GetAppServiceData during resumption

##### Reproduction Steps
1. Start SDL, HMI, connect Mobile device, register application
2. HMI published Embedded App Service
3. Mobile app subscribed to get an updates on published app service
4. HMI sends update 'AppService.OnAppServiceData'
=> SDL transfers this notification to mobile app
5. Mobile app unexpectedly

[2020-08-05 17:54] #1507 closed

[2020-08-05 19:17] theresalech commented on #2969
Proposal markdown file has been updated per the revisions included in accepted Evolution Proposal [SDL 0242 Revisions - Subtle Alert Style](https://github.com/smartdevicelink/sdl_evolution/issues/1060).  Revisions include adding a `SubtleAlert`response, including all basic response parameters as well as `tryAgainTime`.  Please reference the issue and proposal markdown file for revisions details.

[2020-08-05 20:19] theresalech commented on #3465
Proposal markdown file has been updated per the revisions included in accepted Evolution Proposal [SDL 0296 Revisions - Possibility to update video streaming capabilities during ignition cycle](https://github.com/smartdevicelink/sdl_evolution/issues/1059).  Revisions include updating public API properties for Android to align with iOS, and extending the list of impacted projects to include RPC Spe

[2020-08-06 14:19] SNiukalov commented on #2599
@theresalech
Possible fix for this issue is ready.
Thank you!

[2020-08-06 17:44] ShobhitAd commented on #3124
Closed via https://github.com/smartdevicelink/sdl_core/pull/3282

[2020-08-06 17:44] #3124 closed

[2020-08-06 17:49] ShobhitAd commented on #3086
Closed via https://github.com/smartdevicelink/sdl_core/pull/3304

[2020-08-06 17:49] #3086 closed

[2020-08-06 21:22] ShobhitAd commented on #3216
Closed via https://github.com/smartdevicelink/sdl_core/pull/3401

[2020-08-06 21:22] #3216 closed

[2020-08-07 15:46] #2084 closed

[2020-08-07 15:46] #2123 closed

[2020-08-07 21:00] ShobhitAd commented on #3193
Closed via https://github.com/smartdevicelink/sdl_core/pull/3391

[2020-08-07 21:00] #3193 closed

[2020-08-09 20:19] SNiukalov opened #3473 "bson_c_lib build failed"
When we build sdl_core first time and have no pre-built bson_c_lib, then sometimes build fails.

### Bug Report
lua/Makefile.am:5: error: 'luaexec_LTLIBRARIES' is used but 'luaexecdir' is undefined
lua/Makefile.am:6: warning: variable 'bson4lua_la_SOURCES' is defined but no program or
lua/Makefile.am:6: library has 'bson4lua_la' as canonical name (possible typo)
lua/Makefile.am:7: warning: variabl

[2020-08-10 15:31] theresalech commented on #3126
Closed via #3394

[2020-08-10 15:31] #3126 closed

[2020-08-10 19:39] ShobhitAd commented on #2702
Closed via https://github.com/smartdevicelink/sdl_core/pull/3259

[2020-08-10 19:39] #2702 closed

[2020-08-17 13:55] ShobhitAd commented on #2788
Closed via https://github.com/smartdevicelink/sdl_core/pull/3454

[2020-08-17 13:55] #2788 closed

[2020-08-17 19:54] jacobkeeler commented on #2969
Closing with the merge of #3459

[2020-08-17 19:54] #2969 closed

[2020-08-20 02:22] dboltovskyi opened #3479 "SDL stops Video service in case if HMI doesn't respond to Navi.StartAudioStream request"
### Bug Report
SDL stops Video service in case if HMI doesn't respond to `Navi.StartAudioStream` request

##### Reproduction Steps
1. App starts Video and Audio services
2. SDL sends requests to HMI:
   a) Navigation.StartStream
   b) Navigation.StartAudioStream
3. HMI responds to a) and doesn't respond to b)
4. SDL sends 3 more b) requests
5. HMI still doesn't respond

##### Expected Behavior
SDL

[2020-08-20 02:26] dboltovskyi commented on #3479
Issue is also reproduced in opposite scenario: SDL stops Audio service in case if HMI doesn't respond to `Navi.StartStream` request(s)

[2020-08-20 15:25] #3466 closed

[2020-08-20 16:43] #3212 closed

[2020-08-21 07:53] AlbertGRMN opened #3482 "Memory leaking while video streaming"
### Bug Report
Memory leak while video streaming.

##### Reproduction Steps
1. Connect SDL navigation streaming app.
2. Observe the memory usage while video streaming is performed.
3. Terminate SDL Core and check the leaked information from GCC leak sanitizer reports.

##### Expected Behavior
Memory should not constant leak.

##### Observed Behavior
Will leak about 0.3% per hour on a 1G Ram machin

[2020-08-21 15:47] #2599 closed, assigned to nobody

[2020-08-23 01:58] dboltovskyi opened #3483 "SDL crashes in case if app continuously reconnects"
### Bug Report
SDL crashes in case if app continuously reconnects.
Issue is reproduced only in `HTTP` policy mode.

##### Occurences: ~20%

##### Reproduction Steps
1. Start SDL, HMI, connect Mobile device, register application
2. Mobile device unexpectedly disconnected and reconnected
3. App re-registers
4. Perform steps 2-3 several times

##### Expected Behavior
SDL re-registers application succ

[2020-08-24 16:28] jacobkeeler commented on #1384
Closing with the merge of #3433

[2020-08-24 16:28] #1384 closed

[2020-08-24 16:29] jacobkeeler commented on #3205
Closing with the merge of #3433

[2020-08-24 16:29] #3205 closed

[2020-08-26 15:23] theresalech commented on #2661
Proposal markdown file has been updated per the revisions included in accepted Evolution Proposal [SDL 0188 Revisions - Interior Vehicle Data resumption](https://github.com/smartdevicelink/sdl_evolution/issues/1072).  Revisions include fixing parameter names for `GetInteriorVehicleData` from `IsSubscribe` to `subscribe` according to the existing API, and replacing `SetInteriorVehicleData` with `Ge

[2020-08-26 15:36] AKalinich-Luxoft commented on #3159
Not applicable to OpenSDL: this issue is not actual for OpenSDL as it has different architecture design and such changes are not required. Application manager does not contain v4 protocol factory as well.

[2020-08-26 15:36] #3159 closed

[2020-08-26 15:57] AKalinich-Luxoft commented on #3177
Fix is not actual for OpenSDL: Such deadlock is not possible in OpenSDL as for access to `policy_manager_` instance SDL is using RWLock in read mode in both threads. RWLock allows multiple readers to have an access to the same resource, that's why in this scenario mentioned thread will not be in a conflict.

[2020-08-26 15:57] #3177 closed

[2020-08-28 09:38] aderiabin commented on #3178
@theresalech Please notice the following findings:

Script for provided use case has been created: [3178.lua.tar.gz](https://github.com/smartdevicelink/sdl_core/files/5141298/3178.lua.tar.gz)

Issue was not reproduced on latest SDL develop - neither with fix nor without it.

There could be several reasons why issue is not reproduced in open source environment :
 - Timings on Mobile\HMI communicati

[2020-08-28 18:25] dboltovskyi opened #3484 "SDL sends unexpectedDisconnect=true to HMI in case HMI close an app with RESOURCE_CONSTRAINT reason"
### Bug Report
SDL sends `unexpectedDisconnect=true` in `BC.OnAppUnregistered` notification to HMI in case HMI close an app using `BC.OnExitApplication` notification with `RESOURCE_CONSTRAINT` reason

##### Occurences: ~5-10%

##### Reproduction Steps
1. SDL and HMI are started
2. App1 and App2 are registered on one mobile connection
3. HMI sends `BC.OnExitApplication` with `RESOURCE_CONSTRAINT` r

[2020-08-31 13:24] jacobkeeler commented on #3169
Closing with the merge of #3376

[2020-08-31 13:24] #3169 closed

[2020-08-31 18:18] jacobkeeler opened #3486 "Core does not check AudioStreamingState when starting audio service"
### Bug Report
Core only checks VideoStreamingState when starting either audio or video streaming services. They should be handled independently of each other.

##### Reproduction Steps
1. Connect `PROJECTION` app1 (with isMediaApplication=false).
2. Activate app1 (app is moved to FULL, NOT_AUDIBLE, STREAMABLE)
3. Attempt to start audio stream

##### Expected Behavior
SDL rejects audio service sta

[2020-08-31 18:28] jacobkeeler commented on #3482
Hello @AlbertGRMN, can you verify if this issue still occurs on the latest release? It looks like similar issues have been submitted before which have been fixed: https://github.com/smartdevicelink/sdl_core/issues/3416

[2020-09-01 17:35] ShobhitAd commented on #1480
Closed via https://github.com/smartdevicelink/sdl_core/pull/3472

[2020-09-01 17:35] #1480 closed

[2020-09-02 02:03] zhouxin627 commented on #3423
Hi @theresalech，do you have a plan to resolve this issue.

[2020-09-02 06:39] AlbertGRMN commented on #3482
Hi @jacobkeeler , thanks for the reply. The result above is with the patch #2270  and the the leak mentioned in #3416  is gone. However, there's still some other leaks found while streaming and the amount seems to be quite big. It'll increase about 0.3% of memory usage on a 1G RAM machine every hour.

[2020-09-02 08:44] aderiabin commented on #3174
@theresalech Please notice the following findings:

Script for provided use case has been created: [CCB-3174 test script](https://github.com/smartdevicelink/sdl_atf_test_scripts/pull/2449)
Issue was not reproduced on latest SDL develop - neither with fix nor without it.

There could be several reasons why issue is not reproduced in open source environment :
 - Timings on Mobile\HMI communication m

[2020-09-02 09:51] LuxoftAKutsan commented on #3178
The issue  is covered with a #3388 fix.

[2020-09-02 13:38] LuxoftAKutsan commented on #3175
Full regression was checked on #3370. Results are similar to develop

[2020-09-02 14:49] jacobkeeler commented on #3174
Closing with the merge of #3374

[2020-09-02 14:49] #3174 closed

[2020-09-02 16:55] theresalech commented on #3423
Hi @zhouxin627, the Steering Committee did not prioritize this issue for the Core 7.0 release. The PM will work to resolve as time allows, but we would recommend raising this issue to the Steering Committee to prioritize for the next release if this is priority for Nexty. If you are able to submit a PR to resolve this issue, that's always helpful in expediting an issue.

[2020-09-02 20:22] jacobkeeler commented on #3178
Closing as covered by #3388

[2020-09-02 20:22] #3178 closed

[2020-09-03 13:18] LuxoftAKutsan commented on #3183
@theresalech PR for this fix is ready for review.
Full regression tested. Results are the same as on the develop branch.

[2020-09-03 16:27] jacobkeeler commented on #3175
Closing with the merge of #3370

[2020-09-03 16:27] #3175 closed

[2020-09-03 19:21] #3186 closed

[2020-09-03 20:51] #3183 closed

[2020-09-04 14:46] AKalinich-Luxoft commented on #3160
@theresalech fix has been submitted and ready for Livio review

[2020-09-04 14:46] AKalinich-Luxoft commented on #3157
@theresalech fix has been submitted and ready for Livio review

[2020-09-04 15:10] AKalinich-Luxoft commented on #3182
@theresalech fix has been submitted and ready for Livio review

[2020-09-04 15:20] jacobkeeler commented on #1916
Closing with the merge of #3476

[2020-09-04 15:20] #1916 closed

[2020-09-04 15:20] jacobkeeler commented on #1917
Closing with the merge of #3476

[2020-09-04 15:20] #1917 closed

[2020-09-04 15:20] jacobkeeler commented on #1918
Closing with the merge of #3476

[2020-09-04 15:20] #1918 closed

[2020-09-04 15:21] jacobkeeler commented on #1908
Closing with the merge of #3476

[2020-09-04 15:21] #1908 closed

[2020-09-04 15:21] jacobkeeler commented on #1608
Closing with the merge of #3476

[2020-09-04 15:21] #1608 closed

[2020-09-04 15:21] jacobkeeler commented on #1907
Closing with the merge of #3476

[2020-09-04 15:21] #1907 closed

[2020-09-04 15:21] jacobkeeler commented on #1903
Closing with the merge of #3476

[2020-09-04 15:21] #1903 closed

[2020-09-04 15:23] jacobkeeler commented on #2322
Closing with the merge of #3476

[2020-09-04 15:23] #2322 closed

[2020-09-04 15:23] jacobkeeler commented on #2227
Closing with the merge of #3476

[2020-09-04 15:23] #2227 closed

[2020-09-04 15:24] jacobkeeler commented on #3167
@AKalinich-Luxoft Are you able to verify if this was resolved by #3476?

[2020-09-04 16:15] iCollin commented on #2460
Closed via #3475

[2020-09-04 16:15] #2460 closed

[2020-09-04 16:17] iCollin commented on #2486
Closed via #3475

[2020-09-04 16:17] #2486 closed

[2020-09-04 16:43] ShobhitAd commented on #3434
Closed via https://github.com/smartdevicelink/sdl_core/pull/3462

[2020-09-04 16:43] #3434 closed

[2020-09-04 17:07] #2449 closed

[2020-09-04 22:11] AKalinich-Luxoft commented on #3184
@theresalech fix has been submitted and ready for Livio review

[2020-09-04 22:11] AKalinich-Luxoft commented on #3187
@theresalech fix has been submitted and ready for Livio review

[2020-09-04 22:12] AKalinich-Luxoft commented on #3188
@theresalech fix has been submitted and ready for Livio review

[2020-09-04 22:12] AKalinich-Luxoft commented on #3189
@theresalech fix has been submitted and ready for Livio review

[2020-09-04 22:37] jacobkeeler commented on #2661
Closing with the merge of #3480

[2020-09-04 22:37] #2661 closed

[2020-09-08 13:42] #3164 closed

[2020-09-08 14:12] jacobkeeler opened #3498 "SDL Core does not store "defvalue" for custom vehicle data items"
### Bug Report
SDL Core does not read or save the `defvalue` field for custom vehicle data items in the policy table.

##### Reproduction Steps
1. Add a custom vehicle data item to the preloaded policy table:
[code]
2. Start Core

##### Expected Behavior
`defvalue` is stored for `customInt` as `6` in the policy table

##### Observed Behavior
`defvalue` is not stored for `customInt`

##### OS & Ver

[2020-09-09 20:14] jacobkeeler commented on #1919
Fixed by #3476

[2020-09-09 20:14] #1919 closed

[2020-09-09 20:14] jacobkeeler commented on #1910
Fixed by #3476

[2020-09-09 20:14] #1910 closed

[2020-09-10 05:54] SNiukalov commented on #3180
After merge https://github.com/smartdevicelink/sdl_core/pull/3471 we do not use multiple conditional variable or lockable objects for guarantee order of precedence of the following calls :
"Wait() in Thread::Start, Stop and Join" or "Broadcast in threadFunc".

In the current implementation, we use a single instance for a conditional variable and a lockable object.

After merge https://github.com/s

[2020-09-10 07:37] LitvinenkoIra commented on #3484
Luxoft will prepare the fix for this issue

[2020-09-10 08:13] LitvinenkoIra commented on #3180
@theresalech we believe that this issue already fixed by https://github.com/smartdevicelink/sdl_core/pull/3471

[2020-09-11 14:02] LitvinenkoIra commented on #3469
Please notice issue is also applicable for 6.1.1 Release

[2020-09-14 10:57] LitvinenkoIra commented on #3486
Please notice issue is also applicable for 6.1.1 Release

[2020-09-14 14:22] ShobhitAd opened #3499 "Core sends OnHMIStatus(FULL) before RegisterAppInterface to Cloud applications"
### Bug Report
It seems that core is sending the `OnHMIStatus(FULL)` before `RegisterAppInterface` when a cloud application is activated on the HMI. This is causing problem on the cloud application's end since it doesn't know how the handle the `OnHMIStatus` before the RAI

##### Reproduction Steps

1. In the test_suite, start appJava
2. Add the cloud app entry to the policy table
[code]

3. Start

[2020-09-14 18:50] dboltovskyi opened #3501 "SDL sometimes sends Navi.SubscribeVehicleData without parameters during resumption"
### Bug Report
 SDL sometimes sends Navi.SubscribeVehicleData without parameters during resumption

##### Occurrences:
~1%

##### Reproduction Steps
1. AddSubMenu related to resumption is sent by App1
2. App1 and App2 are subscribed to the same VehicleData
3. Unexpected disconnect and reconnect are performed
4. App1 and App2 re-register with actual HashId

##### Expected Behavior
SDL starts resump

[2020-09-14 18:53] dboltovskyi commented on #3501
@theresalech Please notice this is regression issue which is related to implementation of [[SDL 0190] Handle response from HMI during resumption data](https://github.com/smartdevicelink/sdl_core/issues/2486) proposal.
Luxoft team is going to prepare a fix.

[2020-09-14 20:02] dboltovskyi opened #3502 "SDL sometimes sends Navi.SubscribeVehicleData twice during resumption"
### Bug Report
SDL sometimes sends `Navi.SubscribeVehicleData` twice during resumption

##### Occurrences:
~0.1%

##### Reproduction Steps
1. AddSubMenu related to resumption is sent by App1
2. App1 and App2 are subscribed to the same Vehicle Data
3. Unexpected disconnect and reconnect are performed
4. App1 re-register with actual HashId

##### Expected Behavior
SDL sends `Navi.SubscribeVehicleDat

[2020-09-14 20:04] dboltovskyi commented on #3502
@theresalech Please notice this is regression issue which is related to implementation of [[SDL 0190] Handle response from HMI during resumption data](https://github.com/smartdevicelink/sdl_core/issues/2486) proposal.
Luxoft team is going to prepare a fix.

[2020-09-14 20:31] dboltovskyi opened #3503 "SDL sometimes doesn't revert the VehicleInfo subscription during resumprion"
### Bug Report
SDL sometimes doesn't revert the VehicleInfo subscription during resumprion

##### Occurrences:
~0.3%

##### Reproduction Steps
1. AddCommand, AddSubMenu, CreateInteractionChoiceSet, SetGlobalProperties, SubscribeButton, SubscribeVehicleData,
 SubscribeWayPoints, CreateWindow (<Rpc_n>) are sent by app
2. Unexpected disconnect and reconnect are performed
3. App re-registers with actu

[2020-09-14 20:37] dboltovskyi commented on #3503
@theresalech Please notice this is regression issue which is related to implementation of [[SDL 0190] Handle response from HMI during resumption data](https://github.com/smartdevicelink/sdl_core/issues/2486) proposal.
Luxoft team is going to prepare a fix.

[2020-09-15 14:51] theresalech commented on #3501
@dboltovskyi thank you! Please let us know when the fix is ready for Livio review.

[2020-09-15 14:51] theresalech commented on #3502
@dboltovskyi thank you! Please let us know when the fix is ready for Livio review.

[2020-09-15 14:51] theresalech commented on #3503
@dboltovskyi thank you! Please let us know when the fix is ready for Livio review.

[2020-09-15 20:36] theresalech opened #3504 "HMI API description typos"
### Bug Report
There are a few typos in descriptions within the HMI_API.xml, which are in the process of being fixed in the MOBILE_API.xml in the RPC Spec repo: https://github.com/smartdevicelink/rpc_spec/pull/278/files

##### Expected Behavior
- "Capabilities" should be spelled correctly within description for `windowCapabilities` param in `DisplayCapability` struct: https://github.com/smartdevic

[2020-09-16 01:19] Shohei-Kawano commented on #3423
@theresalech -san,
Thank you for comment.
This time it wasn't a request to put it in 7.0, but I didn't know when it would be contributed and reviewed, so we hurriedly requested it. Now that we understand your situation, I would appreciate it if you could contribute and review as soon as possible you have time.

[2020-09-16 15:56] dboltovskyi commented on #2803
Please notice issue is still actual for current `sdl_core` [develop](https://github.com/smartdevicelink/sdl_core/tree/develop) (a36ea82)
Report and logs: [2020-09-16_11-48-43.176.tar.gz](https://github.com/smartdevicelink/sdl_core/files/5233328/2020-09-16_11-48-43.176.tar.gz)

[2020-09-16 15:58] theresalech commented on #3423
@Shohei-Kawano, yes we will work to investigate the issue and submit a PR as time allows, but given set priorities and current time constraints, it is unlikely this will be included in the Core 7.0 release. I'd encourage Nexty to raise this issue as priority to the Steering Committee for the next Core release to better ensure its inclusion there. Thanks!

[2020-09-17 15:43] theresalech commented on #3504
Closed via https://github.com/smartdevicelink/sdl_core/pull/3505

[2020-09-17 15:43] #3504 closed

[2020-09-18 11:47] IGapchuk commented on #3167
Hi, @jacobkeeler We have verified the issue on the last develop (1f52a0ef360475ba268c49e1eec8b0a93050f132). The issue wasn't reproduced.
[SmartDeviceLinkCore.log.tar.gz](https://github.com/smartdevicelink/sdl_core/files/5245260/SmartDeviceLinkCore.log.tar.gz)

[2020-09-18 13:08] #3167 closed

[2020-09-21 17:57] ShobhitAd commented on #3499
Closed via https://github.com/smartdevicelink/sdl_core/pull/3506

[2020-09-21 17:57] #3499 closed

[2020-09-22 13:23] #3501 closed

[2020-09-24 06:32] VjKlepikov opened #3511 "SDL does not send the value of samplingRate" parameter stored in hmi_capabilities_cache.json in RegisterAppInterface response"
**Preconditions:**
  1. Value of HMICapabilitiesCacheFile parameter is defined (hmi_capabilities_cache.json) in smartDeviceLink.ini file
  2. HMI capabilities cache file (hmi_capabilities_cache.json) exists on file system
  3. Value of bitsPerSample is defined *"bitsPerSample" : "16_BIT"* in HMI capabilities cache file (hmi_capabilities_cache.json)

"audioPassThruCapabilities" : [{ "audioType" : "

[2020-09-24 15:18] AKalinich-Luxoft commented on #3511
@theresalech please note the fix is ready for Livio review

[2020-09-24 15:44] theresalech commented on #3511
@AKalinich-Luxoft thank you! Is this a Core 7.0 regression issue (introduced by a 7.0 feature/bug fix implementation), or does it currently exist on `master`?

[2020-09-24 16:16] AKalinich-Luxoft opened #3514 "SDL sends GetInteriorVehicleData response with moduleData = null in case of erroneous response type for GetInteriorVehicleData from HMI"
**Preconditions:**
1) sdl_preloaded_pt.json default app_policies
groups: [ "Base-4", "RemoteControl" ]
"moduleType": [ "RADIO", "CLIMATE", "SEAT", "AUDIO", "LIGHT", "HMI_SETTINGS" ]
HMI supports RC functionality
2) SDL and HMI started

**Reproduction Steps:**
1. App→SDL: GetInteriorVehicleData("moduleType": "module_1", subscribe = true )
SDL→HMI: RC.GetInteriorVehicleData("moduleType": "module_1",

[2020-09-24 16:29] AKalinich-Luxoft commented on #3511
@theresalech this issue was found during release 7.0 testing but it is not related to a new features, so I don't think it is a direct regression issue. It is just was not covered by our tests before.

As I can see issue is currently exist on `master` as well. The root cause is that in some places of SDL code there are functions which translate invalid string values into corresponding enum values.

[2020-09-24 19:21] theresalech commented on #3511
@AKalinich-Luxoft, thank you for the additional information! Because this is not a regression issue, and was not included in the Steering Committee-approved issue list for Core 7.0, we will need to place priority on those issues first, but will certainly review this as time allows and make an effort to include in the Core 7.0 release if possible. Thanks!

[2020-09-25 13:21] VjKlepikov opened #3517 "SDL sends GetInteriorVehicleData response with "success":false in case success type of response(resultCode: WRONG_LANGUAGE, RETRY, SAVED) from HMI"
**Preconditions:**
1. SDL and HMI started

**Reproduction Steps:**
Mobile app sends GetInteriorVehicleData("module_1",  subscribe = true) request
*App→SDL:* GetInteriorVehicleData("moduleType": "module_1",  subscribe = true )
*SDL→HMI:* RC.GetInteriorVehicleData("moduleType": "module_1", subscribe = true )
*HMI→SDL:* RC.GetInteriorVehicleData(*"code":16*, "moduleType": "module_1",* isSubscribed =

[2020-09-25 13:29] dboltovskyi commented on #3517
@theresalech Please notice this issue related to the [SDL-0188 Interior Vehicle Data resumption](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0188-get-interior-data-resumption.md) proposal which is in scope of `7.0` Release. It aligns error handling for `GetInteriorVehicleData` RPC in general and resumption scenarios.
Luxoft team is going to prepare a fix.

[2020-09-25 16:01] dboltovskyi commented on #3511
@theresalech Please notice.
Despite the issue reproducible at previous `sdl_core`releases after additional analysis we came into conclusion it is related to [SDL-0249 Persisting HMI Capabilities](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0249-Persisting-HMI-Capabilities-specific-to-headunit.md) proposal which is in scope of `7.0` release.
Without the fix SDL won't be a

[2020-09-25 18:33] dboltovskyi opened #3518 "SDL sometimes sends Navi.SubscribeWayPoints twice during resumption"
### Bug Report
SDL sometimes sends `Navi.SubscribeWayPoints` twice during resumption

##### Occurrences:
~0.3%

##### Reproduction Steps
1. AddSubMenu related to resumption is sent by App1
2. App1 and App2 are subscribed to Way Points
3. Unexpected disconnect and reconnect are performed
4. App1 re-register with actual HashId

##### Expected Behavior
SDL sends `Navi.SubscribeWayPoints` only once

#

[2020-09-25 18:36] dboltovskyi commented on #3518
@theresalech Please notice this is regression issue which is related to implementation of [[SDL 0190] Handle response from HMI during resumption data](https://github.com/smartdevicelink/sdl_core/issues/2486) proposal.
Luxoft team is going to prepare a fix.

[2020-09-28 14:14] LitvinenkoIra commented on #3484
Please notice that this is a regression issue

[2020-09-28 15:12] theresalech commented on #3517
@dboltovskyi, please advise when a fix is ready for Livio's review. Thank you!

[2020-09-28 15:21] theresalech commented on #3511
@dboltovskyi, thank you for the additional information. We'll do our best to take a look!

[2020-09-29 14:01] jacobkeeler commented on #1585
Not reproducible on develop

[2020-09-29 14:01] #1585 closed

[2020-09-29 14:57] iCollin commented on #3502
Closed via #3512

[2020-09-29 14:57] #3502 closed

[2020-09-29 15:28] jacobkeeler commented on #1596
Not reproducible on develop

[2020-09-29 15:37] jacobkeeler commented on #1600
Not Reproducible on develop

[2020-09-29 15:37] #1600 closed

[2020-09-29 20:33] jacobkeeler commented on #3511
Closing with the merge of #3510

[2020-09-29 20:33] #3511 closed

[2020-09-29 20:51] jacobkeeler commented on #3484
@LitvinenkoIra how can this be a regression issue if `RESOURCE_CONSTRAINT` was introduced in this release?

[2020-09-29 23:57] dboltovskyi commented on #3484
@jacobkeeler We're apologize for misunderstanding. By saying 'regression' we meant issue needs to be fixed in scope of `7.0` Release since it's related to the feature of this release.

[2020-09-30 01:47] dboltovskyi opened #3522 "SDL sometimes finishes resumption successfully even if error has been received from HMI"
### Bug Report
SDL sometimes finishes resumption successfully even if error has been received from HMI

##### Occurrences:
~0.01% (very rare)

##### Reproduction Steps
1. App sends `AddCommand` request (which is stored by SDL as resumption data)
2. App adds some other resumption data (e.g. SubMenu, VD and WP subscription etc.)
3. Unexpected disconnect and reconnect are performed
4. App re-register

[2020-09-30 13:30] iCollin commented on #3503
Closed via #3515

[2020-09-30 13:30] #3503 closed

[2020-09-30 16:56] dboltovskyi commented on #3514
@theresalech Please notice this is not regression issue and it's applicable for Release `6.1.1`

[2020-09-30 17:12] iCollin commented on #3180
Closed via #3471

[2020-09-30 17:12] #3180 closed

[2020-09-30 17:26] theresalech commented on #3514
@dboltovskyi, thank you for letting us know. We are currently focused on regression issues (issues introduced during Core 7.0 development), and existing issues that were previously prioritized by the Steering Committee for the Core 7.0 release. We'll therefore look at this issue/PR when time allows, following the regression and previously prioritized issues. Thanks!

[2020-09-30 18:29] #3157 closed

[2020-09-30 19:09] iCollin commented on #3182
Closed via #3491

[2020-09-30 19:09] #3182 closed

[2020-09-30 19:27] #3166 closed

[2020-10-01 12:48] dboltovskyi commented on #3522
@theresalech Please notice this issue is related to [SDL-0190 Handle response from HMI during resumption data](https://github.com/smartdevicelink/sdl_evolution/blob/master/proposals/0190-resumption-data-error-handling.md) proposal which is in scope of `7.0` Release

[2020-10-01 13:09] iCollin commented on #3187
Closed via #3495

[2020-10-01 13:09] #3187 closed

[2020-10-01 15:27] iCollin commented on #2477
@HSavynetska Hello, PR #3453 notes that it fixes this issue but I do not see all these removals in the diff for that PR. Can you confirm whether or not this issue was fixed with the merge of #3453?

[2020-10-01 15:27] #3210 closed

[2020-10-01 15:28] iCollin commented on #2452
@HSavynetska Hello, PR #3453 notes that it fixes this issue but I do not see all the changes listed in the description here in the diff for that PR. Can you confirm whether or not this issue was fixed with the merge of #3453?

[2020-10-01 17:21] theresalech commented on #3522
@dboltovskyi, thank you. Please let us know once the fix is ready for Livio's review.

[2020-10-01 17:35] iCollin commented on #1178
Closed via https://github.com/smartdevicelink/sdl_core/pull/3389

[2020-10-01 17:35] #1178 closed

[2020-10-01 17:42] VjKlepikov opened #3524 "SDL transfers AddSubMenu request with non-existent parentID parameter to HMI"
### Bug Report
SDL transfers AddSubMenu request with non-existent parentID parameter to HMI

#### Preconditions:

1. SDL and HMI are started
2. Mobile device connected
3. Mobile app is registered and activated

##### Reproduction Steps
1. Add submenu item AddSubMenu RPC with non-existent parentID parameter
AddSubMenu(parentID=1)

##### Expected Behavior
APP→SDL: AddSubMenu ( "menuName":"Submenu Na

[2020-10-01 19:54] iCollin commented on #3160
Issue as described was fixed by https://github.com/smartdevicelink/sdl_core/pull/3057.

Issue title and PR #3488 seem to suggest there is a problem when a stream is suspended, can you please update the reproduction steps and/or description to reflect that?

[2020-10-02 09:01] ychernysheva commented on #2477
Hello @iCollin I've investigated this issue during work on #3453. This issue is old and mostly outdated, because now we don't have mentioned methods on current `develop` branch, except method `CheckSnapshotInitialization()`, which probably was moved in the past from `PolicyManagerImpl` class to `CacheManager` class. In fact this check is redundant, that's why I deleted it in https://github.com/sma

[2020-10-02 09:16] ychernysheva commented on #2452
@iCollin Hello, it seems that this issue is possible older duplicate of https://github.com/smartdevicelink/sdl_core/issues/3210, because it also about fixing of Cppcheck issues. But now this issue is probably outdated, because it's description doesn't match to current state of code. All actual Cppcheck issues, found on develop or release branch, were fixed in #3453 in the scope of newer issue http

[2020-10-02 14:42] jacobkeeler commented on #3448
Closing via #3449

[2020-10-02 14:42] #3448 closed

[2020-10-02 14:59] AKalinich-Luxoft commented on #3160
PR #3057 is just solves audio playback issue on socket transport. PR #3488 suggest another solution for all the transports

[2020-10-02 15:22] iCollin commented on #2452
@ychernysheva Thank you for the information. Are there still outstanding cpplint issues on the release branch? If so, does anyone plan to fix them soon? If not then I think we can consider this PR closed by #3453.

[2020-10-02 15:23] iCollin commented on #2477
@ychernysheva Thank you for the info. I will consider this issue fixed by #3453.

[2020-10-02 15:23] #2477 closed

[2020-10-02 16:50] ShobhitAd commented on #3181
Closed via https://github.com/smartdevicelink/sdl_core/pull/3490

[2020-10-02 16:50] #3181 closed

[2020-10-02 17:07] ychernysheva commented on #2452
@iCollin As I know, we have planned to fix issues, found by Cppcheck, and turn on Cppcheck in pre-commit hook in future. And we haven't planned to work with ccplint or fix corresponding issues. That's why I don't know now exactly, are they present on release branch or not.