[2014-10-09 15:32] joeygrover opened #1 "How to handle bad/corrupt data"
So far here are our proposed solutions on core:

-Disconnect on bad packet
-Drop packets/RPCs silently when stuff goes south
-Full retry strategy

[2014-10-11 20:58] justinjdickow opened #2 "BlueZ 5.x transport adapter"
Should implement a separate transport adapter that supports OEMs using BlueZ 5.x.  Known issues so far with the current implementation of BlueZ 4.x are that bt-device is not supported for querying paired devices and connecting with the BlueZ 5.x dev APIs.

[2014-10-13 00:23] justinjdickow opened #3 "Custom Lock Screen Icon Defined by the OEM"
We want the smartphone to display a logo in the lock screen that is defined by the OEM and based on the connected vehicle.  The current proposed solution (POC) for SDL Core is [on GENIVI](http://git.projects.genivi.org/?p=smartdevicelink.git;a=shortlog;h=refs/heads/dev/lock_screen_icon_url)

The solution sends an OnSystemRequest notification with a URL that points to the logo for the application t

[2014-10-25 00:48] adein opened #4 "Contributing guidelines file is missing"
https://github.com/blog/1184-contributing-guidelines

[2014-10-29 18:16] mikeburke106 opened #5 "Whitespace fields in show command being rejected"
In the Livio SDL Tester application, a Show message is automatically sent once the HMI is updated to HMI_FULL to display the initial text the user will see when the app is connected.  This used to work fine in previous versions of the emulator, but the same JSON is now being rejected in the most recent version on github (3.8?).

Here's the JSON:

[code]

Anybody see anything wrong in the JSON stri

[2014-10-29 21:43] #5 closed, assigned to nobody

[2014-11-01 14:16] WangJunru opened #6 "Current CMakelists.txt does not support cross-compiling to Embedded Linux"

[2014-11-06 20:52] justinjdickow opened #7 "Remote App Launch"
SDL_Core should be able to query compatible applications on the smartphone, list them for the user, and launch them remotely even if they are currently not in the background.

For iOS, this solution involves understanding the URL schemes of the applications that are installed on the iOS device. For Android, the package names are required. SDL current supports Android with a service for each SDL An

[2014-12-04 15:11] MikaylaRay44 opened #8 "Loss of communication on Ubuntu 14.04.1"
While running SDL Core on Ubuntu 14.04.1 (64-bit) through VMWare 7 there is a loss of communication that occurs randomly while testing connected apps. Buttons on the emulator and phone may be pressed, but the communication from the emulator to the phone does not occur despite seeing a connected status and the current screen on the emulator is unnavigable.

Closing the app on the phone does not upd

[2014-12-15 07:09] henry-fan opened #9 "Add SDL version info in BasicCommunication.GetSystemInfo Response"
Head unit wants to show SDL version in system diagnosis. Suggest we add SDL version in HMI protocol GetSystemInfo.

[2014-12-16 13:43] jeremiah opened #10 "GENIVI git repos out of sync"
Hi,

The last commit I have from the smartdevicelink repo in GENIVI is from June; http://git.projects.genivi.org/?p=smartdevicelink.git;a=summary

This seems to imply that the GENIVI git repos for SDL have gone out of sync. This might mean that if there are people only following the GENIVI repos, then they will be following an older code base which might contain bugs and likely won't contain the l

[2015-01-12 16:17] genivi commented on #9
I'll write an issue against core so we can discuss during our next meeting.
The versioning for SDL is moving to semantic versioning (semver.org) so the
field would most likely contain something like "4.0.0"

justin

justin dickow, product development project manager

justin@livioconnect.com

cell: 248-842-2836

office: 248-591-0333, ext 889.

skype: justin.dickow.livio

3136 Hilton, Ferndale, MI 4

[2015-01-12 16:20] justinjdickow commented on #9
Oops, I didn't realize this was already an issue. I would suggest we also add a new field alongside syncMsgVersion so we can eventually deprecate that field which will indicate the version in the register app interface response.

[2015-01-19 09:39] henry-fan opened #11 "Add a default response for startH264"
add a default response to notify the mobile app to start encoding video stream.

[2015-01-20 18:50] justinjdickow opened #12 "OnHMIStatus notification should contain the 'trigger source'"
The trigger source defines whether or not the application is being brought into HMI FULL via a selection on the head unit or by voice recognition.

[2015-01-20 22:18] justinjdickow opened #13 "SDL should notify the applications if the head unit switches between day and night mode"
It should also tell the application about the current mode during registeration

[2015-01-21 16:47] idamaster commented on #13
We will need to document, for all applications (probably in the soft buttons UI) that day graphics should/may need to be black, and night mode graphics should/may need to be white. Perhaps we add documentation for graphics colors ranges for day night, and provide a format.

Perhaps we can propose methodology for app developers such as the following:
 Day unselected: icon_day.png
 Day selected: ico

[2015-01-21 22:53] khburdette opened #14 "-DENABLE_LOG=OFF"
By default is ON, tried to compile with it OFF. When off, it no longer compiles and installs 3rd_party_logger. Files that include <log4cxx/logger.h> won't be able to compile.

[2015-01-22 07:21] tpulatha commented on #13
For the sake of SDL this probably should be more of an API that reports the background color so that apps can dynamically choose themselves.
First idea: SDL would return its background color on a scale from 0 .. 255 and the app could decide whether to use the light or the dark icon.

Please note that this is on our list to discuss next week.

[2015-01-23 13:59] lea255ace opened #15 "bluez dependency checking"
Building on a system without libbluetooth-dev or bluez-tools will pass cmake but choke in the build. This should be added as a fatal dependency check for cmake.

[2015-01-23 15:02] joeljfischer opened #16 "[Spec] StartServiceACK control frame is not backward compatible"
To have backward compatibility, the sequence of events runs as follows:

1. The mobile library sends a v1 style StartService packet
2. The HU sends a StartServiceACK packet with the highest version it supports
3. The mobile library starts sending packets with the correct negotiated version

The issue I believe could happen is that in (2), the HU doesn't necessarily send a v1 packet for it's StartS

[2015-01-23 15:04] joeljfischer opened #17 "[Spec] The version can never be increased beyond 15, or backward compatibility is broken"
We discovered #16 when we were discussing this issue.

We can never actually increase the version beyond 15 because of how backward compatibility works. If we attempt to, we would run into an issue with the Head Unit sending it's max version back as part of a StartSessionACK. If the head unit sends a new style ACK with a larger version byte, then previous versions of the mobile library will not be

[2015-01-23 15:12] joeygrover commented on #17
The other issue here is that v2+ head units send back a v2 packet (12 bytes) not a v1 packet (v1). So if an older app only had the v1 protocol  version of the mobile lib it wouldn't know what to do the extra 4 bytes attached to the ACK and most likely crash. (Possible reason why some older apps were crashing when connecting)

We COULD do something along the lines of if version==16 then the payload

[2015-01-23 15:17] joeljfischer commented on #17
@joeygrover Your first paragraph should be covered in #16, I think.

[2015-01-23 15:20] joeygrover commented on #17
You are correct. Didn't see you wrote an issue of it.

[2015-01-26 09:36] chenbd commented on #6
Is there a plan for this?
when cross compiling, do we still want to use cmake build system?

[2015-01-26 16:55] lea255ace opened #19 "Building/running occasionally modifies src/3rd_party/apr-1.5.0/include/apr.h in the source tree"
apr.h is a generated file, and so should change, but these changes should show up in the build directory, not a tracked repository file.

[2015-01-27 14:35] justinjdickow commented on #19
Should this file just be added to the .gitignore?

[2015-01-27 14:44] lea255ace commented on #19
Maybe as a temporary workaround, with a better fix rolled into a build system update.

[2015-01-27 14:52] justinjdickow commented on #11
@henry-fan Could you please give some context for this issue and what behavior is required?

[2015-01-27 15:00] lea255ace opened #21 "cmake update"
Dependency checking should be performed at the cmake phase of the build. We shouldn't have the situation where cmake passes and make fails.
This subsumes #15.

[2015-01-28 20:42] justinjdickow opened #23 "There is code related to lock screen icon that was merged into master - it should be removed"

[2015-02-03 08:46] henry-fan commented on #11
![starth264 sequence chart](https://cloud.githubusercontent.com/assets/9698851/6016999/31b49984-abc4-11e4-80a9-438be468c292.png)

[2015-02-03 12:37] lea255ace commented on #11
The video encoder on the mobile side is on our critical path. The decision to start sending video immediately after the StartH264 message rather than waiting until receiving a response from SDL core serves to hide some of the encoder latency.
In the case of a failed connection, the NACK from SDL core will cause the mobile to close down the connection.

[2015-02-04 13:46] chenbd opened #29 "sdl with qt5 hmi and dbus adapter not work on ubuntu 12.04 X86_64"
sdl with qt5 hmi and dbus adapter not work on ubuntu 12.04 X86_64, but seems to work on ubuntu 12.04 i686.  sdl with web hmi work on ubuntu 12.04 x86_64.
# seems dbus releated problem

[code]

[2015-02-06 18:52] justinjdickow opened #30 "Revise the definition of an invalid Show command"
If any field of a Show command is invalid - the head unit should display what it can instead of sending back invalid data.  The head unit should only send invalid data if there is not a single valid field.

[2015-02-06 18:58] justinjdickow opened #31 ""resultCode" should be more descriptive than "INVALID_DATA""

[2015-02-06 19:18] mikeburke106 commented on #31
There is also an "info" field that is supposed to be populated with why the data is invalid, but core rarely fills in that field, which makes debugging particularly difficult.

[2015-02-09 08:42] yifili09 opened #32 "[Help] SDL Core Internal Error callback func?"
Hi, Guys.

The response of "RegisterAppInterface" shall indicate whether the app could be list on the Head Unit.

Are there any internal Error callbacks / Notifications from SDL Core to Head Unit such as
- JSON parsing(Proxy) errors
- App crash erros
- JSON request/response generating erros
- Transiting data corruption
etc

Thanks a lot!

[2015-02-09 15:34] justinjdickow commented on #32
@yifili09 Could you clarify what you mean by SDL Core to the Head Unit? Also, do you think this issue is a duplicate of #31?

[2015-02-10 01:58] yifili09 commented on #32
Head Unit could be referred to HMI.
There should be possibility that HMI can not start the application.

Is there any pre-defined func by SDL Core to meet with the scenario? Thanks.
![can_not_start_app](https://cloud.githubusercontent.com/assets/1016943/6119904/207e4af2-b10a-11e4-826f-3385c8ebb08c.png)

[2015-02-10 03:29] justinjdickow commented on #32
In the current API version no, but in 4.0 we're adding an error and error code to SDL.ActivateApp. When the application is listed but cannot be launched, the error code will return "APPLICATION_NOT_REGISTERED".

The reason this API does not exist in the current version is that an application cannot be listed by SDL unless it is launched on the phone, has been connected, and is already registered w

[2015-02-10 03:30] #32 closed

[2015-02-10 15:08] lea255ace opened #33 "Namespace capitalization"
The following namespaces contain capital letters:
- [x] Errors
- [x] Formatters
- [x] NsJSONHandler
- [x] NsMessageBroker
- [x] NsSmartDeviceLink
- [x] NsSmartObjects
- [x] protocol_handlerHandler

This is inconsistent with the style guide, and should be fixed. This will not be addressed in #25, and needs its own fix branch.

[2015-02-10 15:34] justinjdickow commented on #9
Some feedback on this issue I got via email

![unnamed](https://cloud.githubusercontent.com/assets/3627664/6130007/57e864f4-b110-11e4-829e-ddd65ddb212e.jpg)
Considering there are variants HMI implementations near future, that should be an enhancement

[2015-02-10 19:02] lea255ace opened #34 "Initialization (et al) method return values"
Many methods have an `int` or `bool` return type, but never vary the return value and are not checked in the calling code.

transport_manager_impl.cc:
[code]
Call from life_cycle.cc:
[code]

Either return values should be checked or functions should have return type of `void`.

[2015-02-11 12:56] justinjdickow commented on #32
@yifili09 Here is more accurate technical information regarding this question

        HMI->SDL: SDL.ActivateApp_request (app_1)
        SDL->app_launcher: OnSystemRequest(launch_app)
        app_1->SDL: RegisterAppInterface
        SDL->HMI: OnAppRegistered (app_1)
        SDL->HMI: SDL.ActivateApp_response (app_1)
    In order not to make changes to SDL.ActivateApp, it was decided to reuse OnApp

[2015-02-13 19:47] justinjdickow commented on #16
We need to investigate that ability to change syncMsgVersion in the register app interface request when a value greater than 3 is received from core.  This would require changing how core determines which RPCs are valid to send to mobile, as well as how mobile communicates which RPCs it supports to the HU.

[2015-02-18 13:45] #4 closed

[2015-02-18 13:45] #23 closed

[2015-02-19 16:49] justinjdickow opened #35 "libusb_open failed: LIBUSB error access"
I have libusb and aoa flags on, when I connect a USB device I get the following error message:

[code]

[2015-02-20 22:53] justinjdickow opened #37 "Deprecating functions and params in the MOBILE_API"
We should consider defining a way of deprecating the functions and parameters in MOBILE_API such that answers to questions like [Mike's regarding the use of different parameter keys for OnSystemRequest](https://github.com/smartdevicelink/sdl_android/issues/122#issuecomment-75266858) are obvious. (If the V1 url and timeout parameter keys are still valid in the current version, they would be shown a

[2015-02-20 23:11] justinjdickow commented on #10
As of today, the GENIVI repos are now mirrored from GitHub - Refs included. Still working on a way of automating the mirror, but I will keep them up to date for now and I believe this warrants closing this issue.

For reference the genivi repos are:

  * [Core](http://git.projects.genivi.org/?p=smartdevicelink.git;a=summary)
  * [Android](http://git.projects.genivi.org/?p=smartdevicelink_android.g

[2015-02-20 23:11] #10 closed

[2015-02-23 19:04] justinjdickow commented on #37
After some internal discussion today

  * This issue should be moved to a new repository specifically for versioning the RPC specification
  * In order to properly maintain the RPC specification we should introduce three new fields.
   1. A Deprecation field to parameters and functions in the xml which denotes the version of the specification that the function or parameter was deprecated
   2.  An

[2015-02-26 10:53] chenbd commented on #35
Is this a permission problem related to udev rules?

[2015-02-26 14:46] justinjdickow commented on #35
@lea255ace Found a fix at least in the environment I was working in:

Set USB Permissions in `/etc/udev/rules.d/90-usbpermission.rules` by adding

`SUBSYSTEM==“usb”,GROUP=“users”,MODE=“0666”`

[2015-02-26 14:46] #35 closed

[2015-03-03 11:13] WhiskeyBravo opened #40 "unsigned variables compared < 0"
Some varialbes which are declared uint32_t are compared < 0
sdl_core/src/components/config_profile/include/config_profile/profile.h
uint32_t                        max_cmd_id_;
uint32_t                        put_file_in_none_;
uint32_t                        delete_file_in_none_;
uint32_t                        list_files_in_none_;

sdl_core/src/components/config_profile/include/config_profile/pr

[2015-03-17 14:59] chrisarney opened #44 "SDL demo with Bluetooth and Pandora question?"
I'm trying to get a demo up and running using SDL, Bluetooth, and Pandora on Android. I've got SDL core up and running on an Ubuntu laptop with these options enabled: EXTENDED_MEDIA_MODE, BUILD_BT_SUPPORT, and BUILD_USB_SUPPORT. I've tried connecting using the SDL helper app on Android, but it doesn't see the SDL over Bluetooth. Do I need to enable something different? How do I get this up and run

[2015-03-23 13:19] genivi commented on #44
Hey Chris,

I have a few questions regarding your issue.

What phone are you using?

Can you confirm that the phone is paired to the laptop?

What branch of SDL did you build?

Are you able to connect via tcp?

best,

justin

justin dickow, product development project manager

justin@livio.io

cell: 248-842-2836

office: 248-591-0333, ext 889.

skype: justin.dickow.livio

3136 Hilton, Ferndale, MI

[2015-03-27 19:27] justinjdickow opened #54 "Need RPC MOBILE_API.xml that is versioned 4.0"
We're merging SDL version 4.0 on 3/31 - we need to be sure that the MOBILE_API.xml specification that we include is the correct version and works with our 4.0 changes

http://pastebin.com/F8Eyknjy is the current version that we have but the ICONS_WITH_TEXT issue exists here. We need the version afterward

[2015-03-27 19:37] justinjdickow commented on #54
The difference between that paste bin and the most recent version of core is the omission of the S in ICONS_WITH_TEXT and LISTS_WITH_SEARCH

[2015-03-27 20:25] justinjdickow opened #55 "Share SDL Contributors CLA spreadsheet with all maintainers"

[2015-04-10 11:27] #21 closed

[2015-04-15 18:00] justinjdickow opened #74 "PredefinedLayout is defined twice in the develop branch"

[2015-04-15 18:03] justinjdickow opened #75 "PredefinedLayout isn't actually used by any RPC"
Instead the SetDisplayType RPC takes a string for the display type, claiming that it can either be a string defined in the PredefinedLayout enum or some other string.

Is there a reason that the PredefinedLayouts aren't used or a situation in which an app would know about a layout that isn't defined by the RPC Specification implemented on a head unit that it's connected to?

[2015-04-15 18:07] justinjdickow opened #76 "DisplayCapabilities in SetDisplayLayout Response should be mandatory"
The display capabilities of the new layout should always be sent back to the application

[2015-04-16 09:15] stefanek22 commented on #75
The PredefinedLayout enum was not explicitly used, allowing the capability for an headunit / app to reference a special layout outside the defined SDL list.  The layout would *still* have to be in the list provided from the head unit (via templatesAvailable).  However, there is no known integration that strays outside the PredefinedLayout list.

[2015-04-16 17:32] justinjdickow opened #78 "How is a putfile stream supposed to work?"
Is there a document describing how the putfile stream concept works using putFiles?

@stefanek22 @mrapitis

[2015-04-16 18:24] mrapitis commented on #78
Although you have probably already reviewed it, the best description may be in the pull request on Android here:
https://github.com/smartdevicelink/sdl_android/pull/74
The next best reference may be the mobile API xml specification

[2015-04-17 20:03] ojmakke opened #80 "Regarding Method formatters::CFormatterJsonSDLRPCv2::fromString"
Path: components/formatters/include
In file: CFormatterJsonSDLRPCv2.hpp
Method: inline bool CFormatterJsonSDLRPCv2::fromString

Looking at the following:

    Json::Value root;
    Json::Reader reader;
    namespace strings = NsSmartDeviceLink::NsJSONHandler::strings;
    bool result = reader.parse(str, root);

The variable root is not initialized. Is the reader.parse looking intentionally for an

[2015-04-17 20:15] ojmakke commented on #80
Nevermind, root is the output if successfully parsed.

[2015-04-17 20:15] #80 closed

[2015-04-28 19:59] justinjdickow opened #101 "Why is there OnButtonPress and OnButtonEvent"
It looks like the only difference is eventMode vs pressMode where the values are UP/DOWN vs. LONG/SHORT. This could easily be one RPC.

[2015-04-29 13:22] idamaster commented on #101
Very much by design, and mimics nearly every single keyboard or button API that is in existence. One notification serves as a way to determine the edges of the press (up/down), and the other serves as a way to determine if the key is stuck or not (long/short).

Happy to discuss how this could be changed...

[2015-04-29 14:03] justinjdickow commented on #101
Got it.

[2015-04-29 14:03] #101 closed

[2015-04-30 14:45] joeljfischer commented on #78
See this issue as well  https://github.com/smartdevicelink/sdl_core/issues/78

[2015-05-05 19:17] ojmakke opened #105 "Regarding onSystemRequest Notification"
Looking at MOBILE_API.XML,

In function onSystemRequest Notification, there is a URL parameter. The description says:
"If blank, the binary data shall be forwarded to the app.".

Where does the binary data go? I see no parameter in that function to hold binary data.

[2015-05-05 21:01] justinjdickow commented on #105
Binary Data is part of the [hybrid service](https://github.com/smartdevicelink/protocol_spec#42-hybrid-bulk-data-service)

You can set it in an RPC class using

[code]

The [application manager](https://github.com/smartdevicelink/sdl_core/blob/develop/src/components/application_manager/src/application_manager_impl.cc#L1801-L1812) reads the binary data off the message and sets it

[code]

[2015-05-05 21:43] ojmakke commented on #105
Thank you. The next question is, at what point will sdl_core identify the RPC as hybrid service? Is that done somewhere in the protocol layer by checking if binary_data is available?

[2015-05-06 00:10] justinjdickow commented on #105
The optional parameter defaults are in the method signature for the [RawMessage constructor](https://github.com/smartdevicelink/sdl_core/blob/develop/src/components/include/protocol/raw_message.h#L57-L60)

[code]

[2015-05-06 03:57] ojmakke commented on #105
Thanks for reply again. Yeah i saw that earlier. I believe I didn't explain well what I meant. I was looking for another constructor which defaults to ServiceType::kBulk or some construction which passes ServiceType::kBulk.

It is not clear where ServiceType is set to kBulk at this point.

I will continue  looking tomorrow with fresh eyes.

[2015-05-06 14:53] justinjdickow commented on #105
Are you referring to messages that are sent from the phone to sdl core or from sdl core to the phone?

[2015-05-06 16:18] ojmakke commented on #105
From sdl core to phone. At what point will Service Type be set to 0x0F Bulk Data

[2015-05-12 15:22] justinjdickow commented on #105
We've confirmed that a message sent from core->mobile is always the RPC service by sending some bulk data in an onSystemRequest after register app interface to the proxy. Will investigate if there are implications of setting the service type correctly...

[2015-05-12 15:23] #105 closed

[2015-05-12 15:25] justinjdickow opened #110 "When Binary Data is attached to a message going out from HMI the service type is not set to 0x0F Hybrid Service"
1. Need to investigate whether setting this correctly has any implications on current systems
  2. Need to update the application manager (or other?) to set the service type correctly

[2015-05-12 19:35] justinjdickow opened #112 "ReadValue(bool* value ...) in Profile.cc doesn't work"
[Source](https://github.com/smartdevicelink/sdl_core/blob/develop/src/components/config_profile/src/profile.cc#L1376-L1395)

It only converts the buffer into an integer and checks if the integer is zero. It should do the following, which is how most boolean values are read out of the .ini file

[code]

The failure in the current implementation can be seen when trying to set `EnableLogs = true` in

[2015-05-21 13:18] #75 closed

[2015-05-28 14:24] ssmereka opened #126 "Documentation for changing SDL server endpoint."
In order to connect core to an SDL server you must update the default policy JSON file or current mysql policy table database to point to the desired SDL server.  Documentation to do this does not currently exist on github, but should!

[2015-05-29 14:10] justinjdickow opened #127 "HTTPRequest in bulk data was malformed."
While trying to do a policy table update by sending the Proprietary system request from SDL Core to SDL Server I get the below error logged out from Sync Proxy Tester.

[code]

When I open the request on Android, the 0x07 endpoint does not appear in the JSON.

[2015-05-29 14:14] ssmereka commented on #126
This issue is currently blocked by issue #127.

[2015-06-04 15:10] justinjdickow commented on #127
SDL retrieves the headers from the file [PROPRIETARY_REQUEST](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/HMI/IVSU/PROPRIETARY_REQUEST). The contents appear to be encrypted and were not being handled by the proxy we were using. Putting a JSON object with valid http headers in this files fixes this particular issue.

[2015-06-04 15:10] #127 closed

[2015-06-12 13:58] jeremiah opened #133 "Extra GENIVI repos for SDL"
Hi!

GENIVI has both archives of old SDL repos and mirrors of current SDL repos hosted in its git repository: http://git.projects.genivi.org/

We wonder if it makes sense for us to still be carrying the older repos? Is anyone using them? Does the SDL project have the same history in its repos?

Feedback welcome!

[2015-06-16 14:36] justinjdickow commented on #126
Added a [policy wiki page](https://github.com/smartdevicelink/sdl_core/wiki/Policies) which addresses this documentation issue.

For convenience the answer is:

SDL uses the 0x07 endpoint defined in the [preloaded policy table](https://github.com/smartdevicelink/sdl_core/blob/develop/src/appMain/sdl_preloaded_pt.json#L16). This endpoint should be changed so that policy table triggers are directed

[2015-06-16 14:36] #126 closed

[2015-06-17 21:43] JackLivio opened #138 "Release Branch Fatal Error"
I am trying to start the version of SDL Core on the release/4.0.0 branch and am getting a fatal error "HMI index.hml doesn't exist!"

Is there any setup/configuration that is different from the version of SDL core on the develop branch that might cause this error?

[2015-06-18 02:48] AGaliuzov commented on #138
There is another opensource project named WebHMI.
Please find Readme here
https://github.com/LuxoftSDL/sdl_hmi

In short, you have to run HMI(index.html) to make SDL Core workable.

[2015-06-18 12:28] justinjdickow commented on #138
If this is the new way of separating HMIs, can you please move the sdl_hmi repo into the smartdevicelink GitHub so that everything is in one place and update the sdl_core readme with new instructions...

[2015-06-18 15:33] JackLivio opened #140 "Policy Table Update not working. SQL DoBackUP: "Incorrect delete from request type.""
Trying to perform a policy table update and am receiving the warning,"Incorrect delete from request type."

Logs claim that the policy table was successfully updated but when viewing sql db, changes are not present.

[2015-06-18 20:39] JackLivio commented on #140
@dev-gh

The "request type" additions made in commits [88912cf] (https://github.com/smartdevicelink/sdl_core/commit/88912cfd2545a63345e862ff68ec82038925f59e) and [51131e0] (https://github.com/smartdevicelink/sdl_core/commit/51131e021e0cb49ce27606790a4e13d13b6252c5). What are these additions for? The delete, insert, and select request type lines are blocking core from backing up the policy table af

[2015-06-19 13:55] justinjdickow commented on #133
I'd like to keep the genivi archives because they contain branches that do not exist in the GitHub repository for features that we previously worked on, such as an OS X port. The archives also do not share a parent commit with the GitHub SDL so we consider them different.

[2015-06-19 14:58] gunnarx commented on #133
No, seriously, it's a complete mess.  We need to take a look at this and sort it out.

There are three(!) repositories that have apparently no commits at all.

In addition, these two appear to have identical content, at least at first look (?):
smartdevicelink_tester_android.git
and
smartdevicelink_tester_android-archive.git

All of the repositories named "test" something have either 9 month old c

[2015-06-19 17:49] JackLivio commented on #140
Dropping the policy table and reinitializing solved the issue. The request_type table was not in the database

[2015-06-19 17:49] #140 closed

[2015-06-22 15:57] JackLivio commented on #138
HMI repo has been moved/merged to smart device link github. S'all goodman.

[2015-06-22 15:57] #138 closed

[2015-06-25 12:27] jeremiah commented on #133
What about empty repos? Like:
http://git.projects.genivi.org/?p=smartdevicelink_test_android.git;a=tree
http://git.projects.genivi.org/?p=smartdevicelink_test_ios.git;a=tree
http://git.projects.genivi.org/?p=smartdevicelink_tester_ios.git;a=tree

Those can be removed, no?

[2015-06-25 12:42] genivi commented on #133
Yes, I mentioned those in my comment too.  Rather than just a quick fix
I'd appreciate if the content/purpose of each one is clearly analyzed and
documented.

Justin, can we reopen this ticket please?

- Gunnar

On 2015-06-25, 14:27, "Jeremiah C. Foster" <notifications@github.com>
wrote:

[2015-06-25 17:25] justinjdickow commented on #133
@jeremiah Those can be removed, it's the android, android tester, and core projects that I'd like to keep the archives for reference.

[2015-06-25 18:23] jeremiah commented on #133
Okay. I'll just remove the empty repos from the web interface for now.

[2015-06-25 18:47] jeremiah commented on #133
So we're now down to;

smartdevicelink.git
smartdevicelink_android-archive.git
smartdevicelink_android.git
smartdevicelink_archive.git
smartdevicelink_ios.git

Can I change the config of the two "archive" repos? I can make it so that they exist on disk, you can clone and pull and everything, but they don't show up in the gitweb interface.

Would that be satisfactory?

[2015-06-25 19:03] justinjdickow commented on #133
Sounds good to me

[2015-06-26 08:11] jeremiah commented on #133
Great. That leaves us with three visible repos and everything is nice and tidy. :-)

I'm fine with closing this bug if everyone else wants to.

[2015-06-30 08:20] gmmyok opened #148 "SDL_Core(Use Qt HMI) Build Error"
Hi!
When I compiled SDL-Core(Use Qt HMI) code, I got a build error:

[ 96%] Built target copy_library_HWButtons
make[2]: *** [src/components/qt_hmi/qml_plugins/hw_buttons/CMakeFiles/qmltypes_HWButtons] Error 127
make[1]: *** [src/components/qt_hmi/qml_plugins/hw_buttons/CMakeFiles/qmltypes_HWButtons.dir/all] Error 2
make: *** [all] Error 2

How can I solve it?
3Q~

[2015-06-30 13:01] jeremiah commented on #148
Which version of Qt? Which platform are you building for? Which version of SDL?

[2015-07-01 01:35] gmmyok commented on #148
Qt version: Qt 5
platform: Ubuntu 14.04 LTS
SDL version: 4.0.0-RC2

[2015-07-01 09:55] gmmyok commented on #148
Has my environment problem, or is CMakeFile with error?

build error detail
///////////////////////////////////////////////////////////////////////////
This program built for x86_64-pc-linux-gnu
Reading makefiles...
Reading makefile `src/components/qt_hmi/qml_plugins/hw_buttons/CMakeFiles/qmltypes_HWButtons.dir/build.make'...
Reading makefile `src/components/qt_hmi/qml_plugins/hw_buttons/CMakeFile

[2015-07-01 19:33] jeremiah commented on #148
Looks like you're problem is related to missing files from Qt, not  SDL.

[2015-07-02 02:14] gmmyok commented on #148
Thank you for your answer.
I will check my QT to find out the problem.

and I have another problem,
I want to build SDL-Core with QML HMI,
I run cmake "cmake <root_SDL_folder> -DHMI=qt -DHMI2=ON", is it correct?

[2015-07-02 13:18] justinjdickow commented on #148
Yes, that's correct

[2015-07-02 17:34] justinjdickow commented on #148
I wrote up some [instructions](https://github.com/smartdevicelink/sdl_core/wiki/SDL-on-Linux-with-QT) to build and run SDL on Linux 14.04 using QT. Don't hesitate to open new issues for any additional questions!

[2015-07-02 17:34] #148 closed

[2015-07-03 02:51] gmmyok commented on #148
Awesome！
thx a million~

[2015-07-07 15:59] ojmakke opened #154 "Are "Long" and "Double" allowed in the API defintions in the xml files?"
So far we have "Integer" and "Float" in HMI_API.xml and MOBILE_API.xml

Are "Long" and "Double" allowed? The intention is to define 64-bit length values.

Are "Integer" and "Float" assumed to be definitions for 32-bit values?

[2015-07-14 10:52] gmmyok opened #157 "Can't start communication with SDL core"
I want to start communication with SDL core,
I notify sdl-core that hmi is ready, my code is as follows:

    QDBusMessage msg = QDBusMessage::createSignal("/", "com.ford.hmi.sdl.BasicCommunication", "OnReady");
    QDBusConnection::sessionBus().send(msg);

Is it right? or what need to be done in advance?
But my UI.IsReady is not called.(UI.IsReady has been registered in dbus)

[2015-07-14 12:22] justinjdickow commented on #157
Can you share your registration code for DBus?

[2015-07-15 11:09] gmmyok commented on #157
code snippet:
main.cpp

	QDBusConnection::sessionBus().registerService("com.ford.sdl.hmi");
	iautoUI* iautoui = new iautoUI();
	new UIAdaptor(iautoui);
	QDBusConnection::sessionBus().registerObject("/", iautoui);

iautoui.h

	class iautoUI : public QObject
	{
	    Q_OBJECT
	    Q_CLASSINFO("D-Bus Interface", "com.ford.sdl.hmi.UI")
	public:
	    explicit iautoUI(QObject *parent = 0);

	public slots

[2015-07-16 11:48] RayBloodworth opened #159 "Build error with QT HMI"
Error occurs building sdl core with qt hmi.

Generating files:
   /home/work/SDL/sdl_core-release-4.0.0/src/components/interfaces/QT_HMI_API.h;/home/work/SDL/sdl_core-release-4.0.0/src/components/interfaces/QT_HMI_API_schema.h
   /home/work/SDL/sdl_core-release-4.0.0/src/components/interfaces/QT_HMI_API_schema.cc
from:
   QT_HMI_API.xml ...

Generating interface source code with following paramete

[2015-07-20 14:12] justinjdickow commented on #159
See #151 for the hotfix to this issue.

[2015-07-20 14:12] #159 closed

[2015-07-20 14:44] justinjdickow commented on #157
I'm not sure this matters, but can you try putting `registerService` after `registerObject`?

[2015-07-21 14:10] genivi commented on #154
From Core's perspective, they're all just "numbers". They are translated on
the mobile side so you can check 64 bit compatibility and type conversions
for any of the RPCs

https://github.com/smartdevicelink/sdl_android/blob/develop/sdl_android_lib/src/com/smartdevicelink/proxy/rpc/OnVehicleData.java#L98-L101
https://github.com/smartdevicelink/sdl_android/blame/develop/sdl_android_lib/src/com/smart

[2015-07-21 18:54] JackLivio opened #166 "Policy Table Update Process (Ford Vs Genivi Impl)"
The policy table update process outlined in the [Software Detailed Design] (https://app.box.com/s/ohgrvemtx39f8hfea1ab676xxrzvyx1y) on pages 36 and 37, shows the Genivi specific implementation and the Ford specific implementation.

Currently the SDL Core and SDL Server repositories implement the Ford specific version of updating the policy table, and due to limitations of the Web browser, the upda

[2015-07-21 19:42] JackLivio opened #167 "DCHECK in release/4.0.0 crashes core"
In message_helper.cc, the DCHECK() calls at lines [1305 and 1307](https://github.com/smartdevicelink/sdl_core/blob/release/4.0.0/src/components/application_manager/src/message_helper.cc#L1305) crash core on an assert. Whether core crashes at line 1305, or crashes on 1307 depends on which tester app I am using.

If I comment out both of those lines and recompile Core, everything works fine.

Why is

[2015-07-21 20:16] JackLivio commented on #166
Also after looking at put_file_request.cc at line [115](https://github.com/smartdevicelink/sdl_core/blob/release/4.0.0/src/components/application_manager/src/commands/mobile/put_file_request.cc#L115), the logic for identifying the put file request as a policy table update seems to be unfinished. Someone left a todo that has yet to be implemented

Code:
[code]

[2015-07-28 18:08] JackLivio commented on #166
Resolved issue by adding an #ifdef to the PolicyManagerImpl::LoadPT function. If the #ifdef USE_HMI_PTU_DECRYPTION is enabled, the policy table update process  will operate as per Ford's specification. If the #ifdef is disabled, then the policy manager uses a different parse function to get the data from an unencrypted array received from SDL server.

[2015-07-29 13:07] justinjdickow opened #177 "[Old Version] SDL Crash when USB device is disconnected"
In SDL 3.8 it was reported that the following test case crashes SDL
[code]
The following backtrace was provided
[code]

The code that is crashing on this version is much different than the current version. The old code is the following and we are wondering what we can do to prevent this crash in the 3.8 version.
[code]

[2015-07-29 15:03] AGaliuzov commented on #167
I believe the lines mentioned above should be removed, because in lines [1348 and 1351](https://github.com/smartdevicelink/sdl_core/blob/release/4.0.0/src/components/application_manager/src/message_helper.cc#L1348) we perform double check for these variables.

Actually assert has performed because application didn't sent either ngn_media_screen_name or application types.

[2015-07-31 12:12] justinjdickow commented on #167
@JackLivio were you using a SPT distribution from hockey app that didn't include ngn_media_screen_name?

[2015-07-31 14:56] justinjdickow commented on #110
@JackLivio Can you please build this pull request and smoke test Pandora on Android?

[2015-08-03 13:14] jgrix opened #182 "SDL_Core crashing during app registration (due to incorrect messaging I believe)"
Have a custom HMI implementation and I'm assuming I have some incorrect messaging. SDL Core functions with out issues when using the web based HMI.

**Messaging captured:**
{"id":110,"jsonrpc":"2.0","method":"VR.AddCommand","params":{"appID":1966668963,"cmdID":55,"grammarID":1094205203,"type":"Choice","vrCommands":["Muse"]}}
{"id":111,"jsonrpc":"2.0","method":"VR.AddCommand","params":{"appID":1966

[2015-08-05 13:24] #182 closed

[2015-08-06 14:23] justinjdickow commented on #166
@JackLivio Was your fix merged into the release branch before this was closed?

[2015-08-06 14:55] JackLivio commented on #167
I am not sure if it included ngn_media_screen_name, I do not have the source code for the version of SPT that was experiencing the crash. The app I was using was a version  of SPT from Luxoft that has support for video streaming.

On the Open SDL Call a couple of weeks ago someone was having an issue with the app crashing on the DCHECK() two lines before:
[code]
I do not know the details of the ap

[2015-08-07 02:10] yifili09 opened #187 "[Old Version] A latency happened on Transport Manager"
@JackLivio

In 3.6, there is an issue report about latency on SDL decoding raw data.
Please review and help to identify whether it was a known issue or not.
Thanks!
## Quote

[2015-08-13 14:41] justinjdickow commented on #167
@JackLivio The DCHECK only happens in debug builds so it won't crash itself when it matters, but I generally agree anyway, we should return useful error messages.

[2015-08-18 09:22] gmmyok commented on #157
Resovled it.
I sent QDBusMessage by error param.
The correct path is "com.ford.sdl.hmi.BasicCommunication", but not "com.ford.hmi.sdl.BasicCommunication".

Thx for answer.

[2015-08-18 09:22] #157 closed

[2015-08-19 00:09] kingtheus opened #195 "How to choose between Ford's Applink and SmartDeviceLink, what's the difference?"
1. If we are smartphone app developers ， which library should we use， Applink libs or sdl libs？
   what's the difference between them?
   my understanding is :
   (1)applink is private so we can only use what it has provided， but with sdl libs，you can implement      your requirements if it hasn't provided.
   (2) applink might show up Ford's Logo in your app which sdl might not?
   (3) app publish

[2015-08-21 07:16] gmmyok opened #196 "How to transfer multi screens?"
I want to develop multi screens in the same App HMI.
(such as A screen and B screen)

First, A screen is displayed,
user presses a button of A screen,
and then B screen is displayed
(the screen is transferred from A to B)

Dose the SmartDeviceLink framework support it?
How to do it?

[2015-08-24 03:08] gmmyok commented on #196
@justinjdickow Could you help me or give me some advice?

[2015-08-24 09:12] stefanek22 commented on #196
Although this is ultimately dependent upon a platform's HMI support, the overall concept is supported by any platform that integrates the SetDisplayLayout RPC.  Using that RPC, you can switch to other defined templates.

[2015-08-24 21:25] JackLivio opened #199 "Wrong use of 'device_info' for UpdateDeviceList and OnDeviceChosen"
## Issue
When selecting a device from the HMI's "Change Devices" option, I get the error from core "Incorrect parameter from HMI". After doing some investigating I found that OnDeviceChosen is sending back the mac address of the selected device in a string to core. It is being rejected by core because the expected parameter should be an integer. Also this parameter shouldn't be the mac address of

[2015-08-25 03:32] gmmyok commented on #196
Basically I know what you mean, and I will investigate the SetDisplayLayout RPC.
thx a lot.

[2015-08-27 07:39] henry-fan commented on #187
@justinjdickow
Just wondering if there's anyone has had a chance to look into the issue?

[2015-08-28 11:09] AGaliuzov commented on #199
@justinjdickow ,
Please take a look on PR #179 it is about to fix the described beahviour. Please let me know in case of any questions

[2015-08-28 13:53] #1 closed

[2015-08-28 13:54] JackLivio commented on #199
Yes this looks good. We would like to have the device_info as a string added to the release/4.0.0 branch as a hotfix. I will open a pull request for this shortly. Just a heads up if this creates a merge conflict with develop down the road.

[2015-08-28 14:42] justinjdickow commented on #3
Fixed in: #28

[2015-08-28 14:42] #3 closed

[2015-08-28 14:44] justinjdickow commented on #6
@chenbd Sorry for such a ridiculously late response on this.. if this is still an issue can you provide some details regarding the system you're trying to cross compile SDL onto?

[2015-08-28 14:45] #7 closed

[2015-08-28 14:47] justinjdickow commented on #8
Closing this issue as something that only happens in debug builds of SDL core running on computers rather than head units

[2015-08-28 14:47] #8 closed

[2015-08-28 14:49] justinjdickow commented on #9
We added sdl version and system software version to register app interface response to communicate this information. It sounds like the proposal is to also add this information to be sent to the HMI.

[2015-08-28 14:50] justinjdickow commented on #9
@henry-fan Can you let us know if that information in the register app interface being communicated to the application is enough for your system diagnosis purposes or whether it needs to be on the hmi?

[2015-08-28 14:57] justinjdickow commented on #12
Need use cases for whether or not the application or HMI needs to know if an app was activated via voice or HMI

[2015-08-31 07:29] henry-fan commented on #9
@justinjdickow
we need SDL version string to be exposed to HMI. Thanks.

[2015-09-03 02:46] justinjdickow commented on #187
@henry-fan I'm in the process of implementing video streaming on iOS, and the Android video streaming that we've tested (now merged into develop), does not seem to exhibit the behavior. If I see an issue in iOS streaming latency I will report back here.

[2015-09-14 07:54] henry-fan opened #214 "Add platform support for WinCE"
We've successfully had sdl_core up and run on wince6. The changes were made for 3.6, we are merging them to 4.0. Raise the issue for upcoming pull requests. Thanks!

[2015-09-24 12:47] kingtheus opened #222 "Can't git clone the tutorial code"
hi, i can't get the code: https://bitbucket.org/fmcalt/sdlmobile_ios_mobileweather_tutorial

fatal: Authentication failed for 'https://bitbucket.org/fmcalt/sdlmobile_ios_mobileweather_tutorial/'

is this project in private mode?

[2015-09-25 15:26] justinjdickow opened #223 "Multiple includes in HMI_Capabilities"
https://github.com/smartdevicelink/sdl_core/blob/release/4.0.0/src/components/application_manager/src/hmi_capabilities.cc#L42-L46

message_helper and smart_object_keys are included twice.

[2015-09-29 13:48] justinjdickow commented on #222
@kingtheus The correct URL for mobile weather iOS is https://github.com/smartdevicelink/sdl_mobileweather_tutorial_ios.git

[2015-09-29 13:48] #222 closed

[2015-10-06 22:48] asm09fsu opened #238 "SSL Encryption does not support the decryption of multi-part messages."
Currently, when a multipart message is sent to Core after the SSL handshake has been successful, Core fails to decrypt the message.

[2015-10-07 13:44] JackLivio commented on #238
Could you please provide some further details and logs for this issue? Are you receiving an error, or is the message improperly decrypted?

[2015-10-13 15:12] GregDescamps opened #239 "Compatible mobile applications"
As far as I know, this page lists up SDL compatible applications for iOS and Android:
http://owner.ford.com/how-tos/sync-technology/all/sync-applink/use-voice-commands-to-control-your-smartphone-apps.html
However, I heard that there are some limitations. For example, such app is not compatible with such data transport.
Is there centralized and up to date information about applications compatibilit

[2015-10-13 15:21] GregDescamps opened #240 "Application behaviour during usage"
What are the guidelines for the behaviour of a mobile application while it is connected with the Head-Unit? Or what is the de-facto behaviour?

Can we switch off the phone?
Can we switch to another application?
If same application, is it still usable?

[2015-10-14 12:31] justinjdickow commented on #240
Applications that are connected on the phone which receive the OnDriverDistraction notification should use it to display a lock screen and lock the user out based on Ford-specific requirements. In coming enhancements to the SDKs we'll have a lock screen manager which handles this logic for the developer. For your other questions, we do not dictate the user behavior but the following would happen

[2015-10-14 12:31] #240 closed

[2015-11-02 22:51] asm09fsu opened #257 "Update Dependencies to Include GCC"
It seems with my testing, that there is a minimum version of GCC required. I am not sure which version is requires, however I do know the gcc 4.6 does not work when using make, as the error below comes up:

[code]

I have been able to successfully make with gcc-4.9

To help future compilers, please provide the minimum acceptable version of gcc.

[2015-11-06 13:19] justinjdickow commented on #257
I think this is a very minor error to require a minimum acceptable version of gcc. If you change

`printf("%" PRId64 "\n", object.asInt64());`

to

`printf("%"PRId64 "\n", object.asInt64()); // one less space`

That line won't produce an error for earlier compiler versions.

[2015-11-16 12:37] jinujose50 opened #263 "[SDL3_5] in SDL 3.5 version reset occasionally"
Seems like the below code in bool AddCommandRequest::CheckCommandName(ApplicationConstSharedPtr app) function cause reset of radio sometimes (May be once in 300 times).

The SDL code version is 3.5.

  for (; commands.end() != i; ++i) {

    if(!(*i->second).keyExists(strings::menu_params)) {

      continue;

    }

The code is modified in latest version, is this reset fixed in latest version??

[2015-11-17 14:29] justinjdickow commented on #263
Do you have a backtrace for when the crash happens?

Based on the code above the only thing that comes to mind is that the commands map is being accessed and modified elsewhere. While removing an element would not invalidate the iterator every time, it would invalidate the iterator in the case that it is pointing to the member that was erased, which could explain the very low occurrence rate.

[2015-11-17 15:04] jinujose50 opened #267 "[SDL3.5] SDL QT interface integrate to QT HMI (not SDL HMI), deadlock happens frequently"
There have a critical technical design issue between SDL and HMI. Deadlock happen between HMI Main thread and HMI QML thread.

![dbus_deadlock](https://cloud.githubusercontent.com/assets/14186440/11214999/1ddb01ae-8d6a-11e5-9bed-4d1c93dea8e8.png)

This deadlocking is caused by SDL QDBUS send data to HMI QML thread with connection mode BLOCKING_QUEUE_CONNECTION. It broke the normal thread design lo

[2015-11-17 15:21] jinujose50 commented on #263
yes, please find the backtrace
FAULT - Stack backtrace: 0xe640 0x2c52da40 0x2c277d30 0x2b03b304 0x2b039ff4 0x2af856b8 0x2af89a38 0x2af8b31c 0x2afb1104 0x2afb074c 0x2c15f724

2c500000-2c619000 r-xp 00000000 b3:01 552        /lib/libc-2.13.so
NsSmartDeviceLink::NsSmartObjects::SmartObject::keyExists(std::string const&) const
smart_object.cc:973

application_manager::ApplicationManagerImpl::ManageMob

[2015-11-19 07:38] BrandonHe opened #269 "Add platform support for Win32"
We've successfully had sdl_core up on win32 platform. The changes were made based v3.6 and have merged to v4.0. Raising the issue for upcoming pull requests. Thanks!

[2015-11-30 02:51] kon-shine opened #279 "Does SDL4.0 support protocol version 1.0 ?"
I checked application_manager_impl.cc
the code inside  "case ProtocolVersion::kV1:"(line:1660)  would always return false.

Could  SDL4.0 be backward compatible with protocol version 1.0 ?

Thanks

[2015-12-02 11:53] kindow opened #288 "One SDL app (smartphone) for all HU vendor or one SDL app for each HU vendor ?"
SDL could connect HU with SmartPhone, it helps user interact with these smartphone app on HU interface.   My question is since tempalte is defined by vendor , so different HU vendor might define different template (layout) for SDL apps, i think it's impossible for smartphone app developer to develop just one version of sdl app compatible with all HU models by different vendor, right?  Or is there

[2015-12-14 14:02] justinjdickow commented on #288
There are several predefined template layouts which guide an OEMs implementation of each template defined in SDL, which enables app developers to make assumptions about the screen or controls that are available to the user during the interaction with their app. See attached.

![App Templates](https://cloud.githubusercontent.com/assets/3627664/11782821/6f1792d0-a241-11e5-820f-1bc1d1a417c4.png)

[2015-12-14 14:02] #288 closed

[2015-12-14 14:05] justinjdickow commented on #279
@kon-shine Can you explain how that code always returns false?

[2015-12-17 03:22] kon-shine commented on #279
There is an error log :"Message received: UNSUPPORTED_VERSION" when a V1 message coming, and if this's a well-formed V1 message, false would returned.
please see the check steps for details:
1, I compared HandleIncomingMessageProtocolV1() and  HandleIncomingMessageProtocolV2() in moblie_message_handler.cc:84 -179 and found that no set_function_id() is called in HandleIncomingMessageProtocolV1(). s

[2015-12-24 16:28] anupamwcities opened #307 "after running 'cmake' command getting following error"
Hi ,
I am installing sdlcore on my linux OS , getting following error while running 'cmake' command.
any help will be appreciated .

error message -

 [ 12%] Building CXX object src/components/transport_manager/CMakeFiles/TransportManager.dir/src/tcp/tcp_client_listener.cc.o
In file included from /sdl_core/src/components/transport_manager/src/tcp/tcp_client_listener.cc:45:
/usr/include/linux/tcp.h

[2015-12-28 03:26] huaguoping opened #309 "SDL Core dumped in armv7l platform"
I run smartDeviceCore in x86 platform, it is OK. But when I run smartDeviceCore in armv7l platform, it core dumped.
This is the core dump log:

      (gdb)bt
      #0 0x448740c8 in ?? () from /lib/libcrypto.so.1.0.0
      Cannot access memory at address 0x0
      #1 0x448709e4 in OPENSSL_cpuid_setup () from /lib/libcrypto.so.1.0.0
      #2 0x445bfa14 in ?? () from /lib/ld-linux.so.3
      #3 0x7ef

[2015-12-28 06:43] huaguoping commented on #309
More details:
1.I create a thread to run a websocket server using libwebsockets API in ApplicationManagerImpl.
2.When I get a message from the connected client, I send response or notification to Mobile in ApplicationManagerImpl, using specific connection_id 65537 and relevant function_id.

[2015-12-29 02:58] huaguoping opened #311 "where is the release candidate branches of sdl_core?"
where is the release candidate branches of sdl_core?I get "Page not found!" when I click the links.

[2015-12-29 07:41] #309 closed

[2016-01-05 01:22] #311 closed

[2016-01-05 11:48] maddin200 opened #314 "mem leak"
\src\components\transport_manager\src\bluetooth\bluetooth_device_scanner.cc
line 100
missing delete [] buffer;

[2016-01-14 03:09] luchengchao opened #324 "How to determine which template will be used?"
There are several templates in the stack. When one app is registered and activated, how to determine which template will be used? Through which RPC? What is the procedure?

[2016-01-18 16:13] kfogel opened #333 "No LICENSE file. Is this project open source?"
There is no LICENSE (or LICENSE.md, etc) file.  I assume this project is meant to be open source and the absence of a license is just an oversight, though?

(By the way, noticed same for the `hello_sdl_ios`, `hello_sdl_android`, `sdl_hmi` and `sdl_shaid` repositories, but I haven't filed issues about it in each of those repositories.)

[2016-01-19 15:32] justinjdickow commented on #333
Yes, the license can be found at the top of most of the source files. Will add a license file now as well

[code]

[2016-01-19 15:35] #333 closed

[2016-01-19 15:40] justinjdickow commented on #324
The developer can use the setDisplayLayout RPC to specify a preferred template.

The PredefinedLayout enum lists the current templates that are supported. The registerAppInterface response RPC from SDL Core to Mobile has a parameter called DisplayCapabilities which contains a list of all the supported templates on that specific vehicle.

[2016-01-19 15:40] #324 closed

[2016-01-19 15:45] justinjdickow commented on #314
A pull request has been submitted to fix this

[2016-01-19 15:47] justinjdickow commented on #307
What version of GCC are you using?

[2016-01-19 16:02] #257 closed

[2016-01-19 16:06] justinjdickow commented on #239
That information is not currently available - I've added it to our internal backlog to put together a matrix of app partners with supported head units and features :D hopefully this will see a release with the SmartDeviceLink developer portal in the coming months

[2016-01-19 16:06] #239 closed

[2016-01-19 16:07] JackLivio commented on #238
Closing due to inactivity.

[2016-01-19 16:07] #238 closed

[2016-01-19 16:14] #199 closed

[2016-01-19 16:17] #196 closed

[2016-01-19 16:19] justinjdickow commented on #279
I've confirmed that SDL does not support protocol version 1.

[2016-01-19 16:19] #279 closed

[2016-01-19 16:20] #166 closed

[2016-01-22 03:10] kingtheus opened #345 "If we want to port sdl to our platform , which version is suggested to start with？"
There are many tags & branches like 4.0RC2, 4.0.1, 4.0.2 etc,

Which one is the best to start with ?

thanks in advance.

[2016-01-22 15:53] kfogel commented on #333
Thanks, @justinjdickow!

[2016-01-25 14:58] #223 closed

[2016-01-25 14:58] #314 closed

[2016-01-25 14:58] #167 closed

[2016-01-27 11:54] Manabu-GT opened #357 "[SDL4.0 - Question] How to build a SDL app which supports video streaming?"
Hi,

I'm trying to test the video streaming feature via wifi connection based on https://github.com/smartdevicelink/sdl_core/wiki/Video-Streaming-Setup tutorial.

However, the MobileNavi app mentioned in the document is not available and it's not clear how to build such an app and test with SDL core.
Could you please provide a sample code snippet or app to test the video streaming functionality?

[2016-01-29 05:41] chenbd opened #363 "why define "MAXIMUM_FRAME_DATA_V2_SIZE " as 1488?"
when using usb transport (and we did mainly using usb transport for product),can we increase this size, maybe for better performance?

[2016-01-29 06:39] tulip0425 opened #364 "How to build sdl for embedded linux environemt"
we have set up yocto environment on an i.MX6 evaluation board, and would like to run sdl on that board. Is there any guide or demo showing how to modify the CMake thus to build the sdl on embedded linux board?
Thanks.

[2016-01-29 07:38] huaguoping commented on #345
The latest released version。

[2016-01-29 14:42] JackLivio commented on #345
The 'latest released' version was merged into the master branch. Use the master branch as it is the most up to date and stable version of SDL Core.

[2016-01-29 14:58] JackLivio commented on #364
We are working on getting sdl setup to run in a yocto environment. Once we have it running I will let you know about what changes were made in the cmake file.

What architecture type does your eval board use?

[2016-01-29 15:06] JackLivio commented on #363
That is the max frame size used for protocol version 2.

There is protocol version 4 that uses MaximumPayloadSize = 131072.

MaximumPayloadSize is defined in the smartdevicelink.ini configuration file.

https://github.com/smartdevicelink/sdl_core/blob/master/src/appMain/smartDeviceLink.ini

[2016-02-01 08:39] #357 closed

[2016-02-01 08:39] Manabu-GT commented on #357
Figured it out by looking at the SDL Mobile library.

[2016-02-02 02:42] tulip0425 commented on #364
Great thanks.
The main cpu is i.MX6dl with dual ARM Cortex A9 at 1G/1.2G Freq.
We are also working on migrating the sdl to this embedded yocto environment but met many problems.
Looking forward to your good news.

[2016-02-02 19:55] popctrl opened #369 "Can't validate URL Schema for SDL Server"
I'm working on getting SDL set up on an Ubuntu VM. I'm up to the SDL Server configuration. I'm able to create an app, but when I try to update the iOS setting for the app, I can't get it to validate a URL/Schema.

What is the purpose of this? Obviously my app doesn't have an iTunes URL since it's in development. I can get it to validate a URL such as `http://google.com` but no Schema works. I've t

[2016-02-02 19:59] madhuy opened #370 "Show and Putfile Behavior"
As per spec (6.19.2.2 OnPutFile. File is uploaded after RPC is used) , Show should succeed even image file is updated.

But SDL core implementation returns INVALID_DATA if no file is uploaded prior to show
https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/commands/mobile/show_request.cc#L98

Please let us know behavior and update spec or SDL core

[2016-02-03 22:12] JackLivio opened #374 "IviInfoUpdated Only Returns Navi Applications"
I was testing interior vehicle data notifications and I can only receive vehicle data notifications in SPT if the HMI type is set to NAVIGATION.

[This is the function in question] (https://github.com/smartdevicelink/sdl_core/blob/develop/src/components/application_manager/src/application_manager_impl.cc#L310).

[IviInfoUpdated will only return apps that are of type "navi"](https://github.com/smar

[2016-02-05 16:07] JackLivio opened #376 "Clean up readme"
Remove app launching from core readme. Specify that policies server is not needed to see an app connect.

[2016-02-05 19:37] #369 closed

[2016-02-05 19:37] popctrl commented on #369
Closing as it turns out I don't need to use SDL Server

[2016-02-05 23:02] jackwilliambell opened #377 "Make step fails on logger, even though liblog4cxx* not installed"
Having a problem building sdl_core.

I believe I have properly installed all dependencies and have removed liblog4cxx\*. (More accurately, I did a 'sudo apt-get remove liblog4cxx\*' and it reported there was nothing to remove.)

So far as I can tell I have followed all the steps in the readme properly. I have searched the Internet and the mailing list looking for anyone else reporting the same err

[2016-02-05 23:18] jackwilliambell commented on #377
Note: I get the same results when exporting CXX as either 'gcc' or 'g++'.

[2016-02-06 02:33] justinjdickow commented on #377
Do you have all these dependencies? `cmake build-essential libavahi-client-dev libsqlite3-dev chromium-browser libssl-dev libudev-dev libgtest-dev libbluetooth3 libbluetooth-dev bluez-tools gstreamer1.0* libpulse-dev`

[2016-02-06 19:49] jackwilliambell commented on #377
As it turns out I did not have libssl-dev, libudev-dev, libgtest-dev, libbluetooth3, libbluetooth-dev, bluez-tools, gstreamer1.0*, or libpulse-dev. Should I enter a second ticket to get those dependencies added to the readme and/or cmake tests?

However, installing those did not fix the problem. Make output attached, but its basically the same as before.

[makeoutput.txt](https://github.com/smartd

[2016-02-06 19:55] jackwilliambell commented on #377
Interesting, I did a 'make clean' and then a 'make' using 'g++' as the CXX export. I am now getting the following make output:
[code]

[2016-02-06 19:59] jackwilliambell commented on #377
Note: Using 'gcc' as the CXX export produces the same output.

[2016-02-11 22:17] jackwilliambell commented on #377
I was finally able to get back to this today and made some progress...

The fix for the last problem I had was to start over from a fresh git clone of sdl_core, but with all the dependencies described by Justin above. I ran cmake, make, and make install without problems.

NOTE: I exported CXX as 'g++' for this build.

I now have a new problem: I can't get it to run. Here is the result:
[code]

Has

[2016-02-11 22:52] jackwilliambell commented on #377
Turns out the fix was: 'apt-get install liblog4cxx*'. Which is exactly the opposite of what the readme recommends. I now have a working sdl_core installation.

Justin, et al: you guys can close this issue. But I do request you update the readme to reflect the extra dependencies and the fact you may need to install liblog4cxx in some cases.

[2016-02-12 14:00] nk0leg opened #389 "Remove optional argument in MessageBroker Thread::Join"
Investigate is possible remove optional argument for `Thread::Join(void** ret)`
for `pthread_join` we can use  `pthread_join(thread, NULL);`

For OS Windows:
`GetExitCodeThread(m_id, &val);`
`CloseHandle(m_id);`
`m_id = NULL;`
`*ret = (void*)val;` <-- ASSERT

[2016-02-15 15:52] JackLivio opened #391 "OnButtonEventNotification::Run() Skips 'OK' Button Event Notification"
[OnButtonEventNotification::Run() Skips 'OK' Button Event Notification if the app is in full]
(https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/commands/mobile/on_button_event_notification.cc#L118).

Proposed fix:

[code]

[2016-02-16 06:12] jinujose50 opened #393 "Multiple APP support on iOS"
Can you please provide the documentation or reference regarding the usage of "com.smartdevicelink.prot" protocol to support multiple APPs on iOS? In which version of SDL this feature is added?

[2016-02-17 02:37] chenbd commented on #363
@JackLivio  Is there any document which shows the changes of protocol between versions?

[2016-02-18 15:29] justinjdickow opened #397 "Create an Issue template for sdl_core"
similar to https://github.com/smartdevicelink/sdl_ios/commit/e95d0a4723de2896ccf5468fa07bb6c43c031ecf

[2016-02-19 23:33] jackwilliambell commented on #195
Has this issue been resolved? I'm curious about this things as well.

[2016-02-24 07:24] BrandonHe commented on #307
Maybe you can try include netinet/tcp.h instead linux/types or do  s/__cpu_to_be32/__constant_cpu_to_be32/ in <linux/tcp.h> to avoid this error. Hope it's useful.

[2016-03-01 16:03] JackLivio opened #401 "PolicyHandler::SendMessageToSDK using unimplemented container"
In the Master Branch, [PolicyHandler::SendMessageToSDK](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/policies/policy_handler.cc#L728-L763) is using an unimplemented container 'last_used_app_ids_'.

SendMessageToSDK() will always return false since last_used_app_ids_ is always empty.

[The develop branch uses GetAppIdForSending() instead of 'last_us

[2016-03-01 18:30] madhuy commented on #401
need this change as well. other url been not sent to Mobile https://github.com/smartdevicelink/sdl_core/blob/develop/src/components/application_manager/src/message_helper/message_helper.cc#L2093

[2016-03-02 18:21] JackLivio opened #402 "Develop Branch Policy Update Breaks Ford PTSnapshot Process"
I am seeing some differences for the policy table update process in the Develop and Master Branch.

[Commit to develop branch in question] (https://github.com/smartdevicelink/sdl_core/commit/5abb7cdca5e23e9765b616fef5440fe4b0e49d31)

Changes to ../mobile/on_system_request_notification.cc: A part of code was removed where core reads the file contents of the filename passed as a parameter from the h

[2016-03-02 22:08] JackLivio commented on #402
Here is a diagram of the ford process that this commit breaks.
<img width="1198" alt="screen shot 2016-03-02 at 5 00 58 pm" src="https://cloud.githubusercontent.com/assets/12038416/13477203/3c9192f2-e099-11e5-90a2-c6e9388a3c99.png">

[2016-03-02 23:16] madhuy commented on #402
with develop branch PT , even it is not working non-ford version PT update . because mobile proxies expecting FORD specific format in JSON (ex: HTTPRequest, headers,body).
https://github.com/smartdevicelink/sdl_ios/blob/develop/SmartDeviceLink-iOS/SmartDeviceLink/SDLProxy.m#L361

https://github.com/smartdevicelink/sdl_ios/blob/develop/SmartDeviceLink-iOS/SmartDeviceLink/SDLProxy.m#L476

[2016-03-03 09:06] tulip0425 opened #403 "How to connect to other Apps besides Livio SDL tester"
Hi,
Besides Livio SDL tester, How can i test connecting with other Apps which support Applink?
For example,  those apps officially announced supporting Applink on Ford Website, like spotify, glympse, or others.
thanks.

[2016-03-03 16:44] JackLivio commented on #402
@madhuy: We are working on adding HTTP SystemRequest (Genivi) support to the ios proxy today. We plan to have the mobile libraries construct the HTTP Request header and body for http onSystemRequests.

[2016-03-03 17:26] madhuy commented on #402
Thanks, I modified SDLproxy locally it working for me .

And also I noticed , SDL core master branch does not work ford specific implementation also.
Ford specific PT exchange start from PTExchangeHandlerExt::Start() (pt_exchange_handler_ext.cc). this file not been added in make for compiling.

Please check this as well.

[2016-03-03 21:27] madhuy opened #405 "Ford specific PT update sequence is not working in master branch"
Ford specific PT exchange start from the the function PTExchangeHandlerExt::Start()
pt_exchange_handler_ext.cc not been added make file to compile.
https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/CMakeLists.txt#L65

[2016-03-04 19:01] madhuy opened #406 "enable PLAY/PAUSE functionality"
As per HMI spec 7.29.3.16 ButtonName. there is PLAY/PAUSE button but not added in SDL core.
Please check this.

[2016-03-07 13:22] maddin200 opened #407 "Unreachable code"
\components\application_manager\src\message_helper.cc

line 2552: return true; is used before logging

[2016-03-10 15:04] JackLivio opened #411 "Web HMI code present in core repository and in separate repository"
[Web HMI directory in core](https://github.com/smartdevicelink/sdl_core/tree/master/src/components/HMI)

[Web HMI Repository](https://github.com/smartdevicelink/sdl_hmi)

Can we strip the web hmi code from the sdl_core repository if we are going to keep the web hmi code maintained in a separate repository?

[2016-03-11 05:50] madhuy opened #412 "Dialnumber API support"
This Dial number API is not supported in master but it does support in develop branch.
https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/commands/mobile/dial_number_request.cc#L52

[2016-03-11 18:40] jgrix opened #416 "Slider timeout error code showing as "wrong language" when it should be "time out""
-Bug Report
let slider timeout, result code should be "time out", SPT show result code as "wrong language".

-Reproduction Steps
1. Pair phone with web HMI, run SPT3, create a media app proxy.
2. Send slider message RPC with a time out
3. wait for slider time out

-Expected Behavior
response result code should be "time out"

-Observed Behavior
response result code is "wrong language" in SPT. HMI i

[2016-03-11 19:05] zyang46 opened #417 "click cancel button on slider, result code should be “aborted”, SPT show result code as invalid id"
-Bug Report
click cancel button on slider, result code should be “aborted”, SPT show result code as invalid id.

-Reproduction Steps
1. Pair phone with emulator via Bluetooth, run SPT3, create a Bluetooth media app proxy.
2. Send slider message RPC
3. click cancel button or back button

-Expected Behavior
response result code should be "Aborted"

-Observed Behavior
resposne result code is invalid_

[2016-03-11 19:30] JackLivio commented on #416
The result code "10" on the HMI_API.xml side corresponds to "TIMED_OUT". On the MOBILE_API.xml side the 10th enum for result code is "WRONG_LANGUAGE". I think when core gets the result code from the hmi, it is then indexing the mobile api result enums with the response code when constructing the response to mobile.

[2016-03-11 19:39] madhuy commented on #416
I see similar behavior in some other API's like
-ChangeRegistration
-getVehicleData
-setGlobalProperties
-performInteraction
-ScrollableMessage
-Slider

Reason is , hmi_response::code is directly assigned to mobile_apis result, instated of converting by using GetMobileResultCode() as below

mobile_apis::Result::eType result_code =
          GetMobileResultCode(static_cast<hmi_apis::Common_Result::

[2016-03-11 19:43] JackLivio commented on #416
In [slider_request.cc](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/commands/mobile/slider_request.cc#L132-L148)

...after receiving the timeout response from the hmi, core gets the repsonse_code as an integer from the message parameters

[code]

and later uses this integer to look up the response code corresponding to the mobile_api spec

[code]

[2016-03-11 19:44] JackLivio commented on #417
In [slider_request.cc](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/commands/mobile/slider_request.cc#L132-L148)

...after receiving the timeout response from the hmi, core gets the repsonse_code as an integer from the message parameters

[code]

and later uses this integer to look up the response code corresponding to the mobile_api spec

[code]

[2016-03-11 20:45] madhuy opened #418 "SDL is core is allowing 'TextField' text more than Max value(500)"
The Max value  is 500 for textfield . but SDL core is sending to HMI even mobile app sends more than 500.
https://github.com/smartdevicelink/sdl_core/blob/master/src/components/interfaces/MOBILE_API.xml#L1614

I am not sure who should control it . is it HMI or is it SDL core?

Please clarify.

[2016-03-11 21:16] JackLivio commented on #418
I think that value is for 500 character per row.

[code]

Is sdl sending a line more than 500 chars long in a single row?

[2016-03-12 00:02] madhuy commented on #418
Yes. mobile app sending more than 500 chars for each line. SDL core sending to HMI.

[2016-03-14 18:46] madhuy commented on #418
It is our Mobile app issue. Sorry for confusion.

[2016-03-14 18:46] #418 closed

[2016-03-16 17:22] JackLivio commented on #403
What transport method are you using to connect to sdl core? If you are using android, most production apps require you to connect via bluetooth/usb. If you are connecting via a tcp connection then apps like Spotify will not connect to core.

[2016-03-19 21:53] jeremiah opened #421 "GENIVI would like to use SDL mirror repo here: https://github.com/genivi"
Hi,

I believe some folks from the SDL project setup a GitHub repo called genivi: https://github.com/genivi
GENIVI is hoping to move some, if not all, their repos to a mirror on GitHub and would like to use the above named repo to do so. Is it possible to grant ownership to GENIVI of that repo? Of course we would change anything with SDL repos.

Thanks!

Jeremiah

[2016-03-21 02:33] justinjdickow commented on #421
Sent you a private email

[2016-03-21 02:33] #421 closed

[2016-03-21 20:23] justinjdickow commented on #412
Since this is something that was included in the API in 4.0 but not fully implemented, we can consider its implementation a hot fix for 4.0.x. We're looking into getting this work scheduled. The dial_number_request.cc implementation is obviously not the only change that needs to be made. We have to support the associated HMI API as well as the rpcs in the command factories.

[2016-03-21 20:26] justinjdickow commented on #406
The HMI spec is updated with some features that will be done in develop, and for this it was unfortunately updated in advance. For now, and for all media apps using current mobile proxies, the button they will subscribe to for play/pause events is called OK

[2016-03-21 20:26] #406 closed

[2016-03-21 20:31] justinjdickow commented on #370
The current behavior in master is correct, and will be changed in 4.1 according to HMI Guidelines. We'll have better versioning for the SDL HMI Guidelines with the launch of the developer portal so you'll be able to understand specific versions for any particular behavior. We'll locate the current behavior and upload here

[2016-03-21 20:54] JackLivio commented on #416
Hotfix was merged into master

[2016-03-21 20:54] #416 closed

[2016-03-21 20:54] JackLivio commented on #417
Hotfix Merged

[2016-03-21 20:54] #417 closed

[2016-03-21 21:03] JackLivio commented on #407
I am updating to use the logger instead of printf

[2016-03-22 02:34] tulip0425 commented on #403
Yes, I was using Android and WiFi/TCP connection to connect to core.
I have read through the mailing list that USB connection was not supported yet, right?
So does sdl core support connecting production apps via bluetooth?

thanks.

[2016-03-22 13:44] #401 closed

[2016-03-22 13:44] #374 closed

[2016-03-22 13:45] #391 closed

[2016-03-23 18:45] JackLivio opened #434 "Policy Table Snapshot Includes Consumer Friendly Messages"
[According to the policy spec](https://github.com/smartdevicelink/sdl_core/wiki/Policy-Manager-Specification#contents-2)  the policy table snapshot should only include the version number of the consumer friendly messages, and not the messages themselves.

Currently core includes these messages in a snapshot.

[2016-03-24 17:02] ojmakke opened #437 "What is deviceStatus intended for?"
I am looking at: [deviceStatus](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/interfaces/MOBILE_API.xml#L1215)

What is that intended for? It seems that the device is the "mobile" device. Later, it is used in [SubscribeVehicleData](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/interfaces/MOBILE_API.xml#L3408)

Is there any specific use for this? It

[2016-03-29 14:34] justinjdickow opened #444 "Coverity for Code Coverage Reports and CI"
We should consider integrating with Coverity, which scans open source projects for free and provides reports:  https://scan.coverity.com/

[2016-03-29 21:23] justinjdickow opened #445 "Add .travis.yml file for travis-ci builds"
Repository is already set up on travis-ci.org, just need to add the correct .travis.yml file (PR incoming)

[2016-03-29 21:25] justinjdickow opened #446 "Remove use of PRId64 from message_helper.cc:2599"
Since this just causes incompatibility with some compilers, and the containing function returns true immediately anyway instead of executing any code, we can safely remove this line. This is also required for the travis-ci build to pass.

[2016-03-30 11:53] #446 closed

[2016-03-30 11:53] #445 closed

[2016-03-31 22:16] madhuy opened #452 "sometimes SDL core exits after "OnAppUnregistered" RPC"
code base : master branch
Commit number : e76f8e79294b55a58889ca9b6f90027918e7e25d

Logs:
[code]

[2016-04-02 00:41] madhuy opened #455 "Alert timeout in case KEEP_CONTEXT button"
SDL core resets 0 when alert has buttons.
https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/commands/mobile/alert_request.cc#L80

How do HMI should handle KEEP_CONTEXT type buttons?
HMI does call the OnResetTimeout but SDL core renew timeout with 0
https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/commands/mo

[2016-04-05 05:36] surabhiz opened #458 "How to send data from sdl-core to mobile app"
I have made an app which will interact with the SDL-core. The app basically has to send a request to the sdl-core asking for data. I expect the sdl-core to provide the requested data back to the application only when requested. The sdl-core should send data continuously after a request  is recieved.
The only RPC which came close to doing the above task was OnSystemRequest but I am not entirely sur

[2016-04-05 14:14] JackLivio commented on #452
@madhuy

Are you seeing this over a single connection type of multiple?

Are you initiating the OnAppUnregistered?

[2016-04-05 19:03] madhuy commented on #452
@JackLivio
#1 - Single connection
#2 - OnLanguageChange from Mobile or exit mobile app .

[2016-04-06 12:22] jgrix opened #460 "Bug - SubscribeButton - CUSTOM_BUTTON"
Cannot subscribe to CUSTOM_BUTTON after it has been unsubscribed to

-Reproduction Steps
1. Make sure CUSTOM_BUTTON is currently unsubscribed
2. Subscribe to CUSTOM_BUTTON

-Expected Behavior
Successful response, button is subscribed

-Observed Behavior
The failure response is UNSUPPORTED_RESOURCE. Custom buttons were not subscribed to.

-OS & Version Information
Phone Type/Model and OS version: S

[2016-04-06 15:00] JackLivio opened #461 "Initial policy table load, crashes core on startup"
(https://github.com/smartdevicelink/sdl_core/commit/ea2eaa6a2ac6b4ce59aa3f8e89086aaff1db08b0) - code from that pull request that's causing core to crash on startup after its first build or after the storage folder is deleted.

This crash only happens on the initial start of SDL Core. Attempting to start SDL Core after this initial crash seems to work fine.

[2016-04-07 07:22] TaoheGit opened #462 "How to solve this error:cc1plus: all warnings being treated as errors"
[code]

[2016-04-07 20:52] madhuy opened #466 "onFindApplication Notification Not implemented in SDL core"
https://github.com/smartdevicelink/sdl_core/blob/ea2eaa6a2ac6b4ce59aa3f8e89086aaff1db08b0/src/components/application_manager/src/commands/hmi/on_find_applications.cc#L48

Please clarify if we need this API or not .

and also, what does "Find applications" in ford TDK does?

[2016-04-08 04:40] BrandonHe commented on #462
The warning-suppression does not work with gcc-5.3.0. Suggest you use 4.8.4.
**Or** you can change your local sdl_core code in [connection_handler_impl.cc#L923] (https://github.com/smartdevicelink/sdl_core/blob/master/src/components/connection_handler/src/connection_handler_impl.cc#L923), as to below:
[code]
because auto_ptr is deprecated in C++11

[2016-04-08 05:58] malirod commented on #462
@TaoheGit, the problem occurs because gcc5 uses c++11 by default and auto_ptr, indeed, deprecated there. Unfortunately we cannot use c++11 features(unique_ptr is one of them), because we have to support older compilers.
Propose two options:
- use pre gcc5 compiler. e.g. gcc 4.9
- set c++98 explicitly for the gcc5. This should be possible with something like -std=c++98 (or -std=c++03, not sure abou

[2016-04-08 21:50] madhuy opened #469 "After BT disconnecting and connecting SPP is not established with Android Multiplexer based apps"
Here is test environment
1. Have 2 simple multiplexer based apps.
2.using SDL core version 4.0.10
3. Android phone and model : nexus 6 and version 5.1.1

Repro steps
1. start sdl core
2. all application shows in HMI and function properly
3. Disconnect BT in Mobile(settings->Bluetooth)
4. Connect BT
5. Apps are not shown on HMI. Connection establishment failed.

Notes: I tried with SYNC TDK and the

[2016-04-08 21:52] madhuy commented on #469
[log_android_multiplexer.txt](https://github.com/smartdevicelink/sdl_core/files/210912/log_android_multiplexer.txt)
[SmartDeviceLinkCore.txt](https://github.com/smartdevicelink/sdl_core/files/210914/SmartDeviceLinkCore.txt)

[2016-04-11 15:32] justinjdickow commented on #452
@madhuy Which connection type are you seeing this on? We're trying it on Android over WiFi and don't see a crash even though we can see an unexpected disconnect

[2016-04-11 17:20] madhuy commented on #452
we are using BT connection.

[2016-04-11 19:09] madhuy commented on #469
Attaching logs from HelloSDL app . also attaching Mobile apps to repro issue.
[log2.txt](https://github.com/smartdevicelink/sdl_core/files/213692/log2.txt)

[SmartDeviceLinkCore.txt](https://github.com/smartdevicelink/sdl_core/files/213694/SmartDeviceLinkCore.txt)
[apps.zip](https://github.com/smartdevicelink/sdl_core/files/213698/apps.zip)

[2016-04-11 19:11] justinjdickow commented on #455
Right now the following use cases are possible

1. Alert has no soft buttons and times out -> Good
2. Alert has a KEEP_CONTEXT && (DEFAULT_ACTION || STEAL_FOCUS) -> Good, closes when one of the two are pressed, KEEP_CONTEXT button press sends a button event to mobile but alert stays open.
3. Alert has only DEFAULT_ACTION and STEAL_FOCUS soft buttons -> Good, closes when any buttons are pressed
4.

[2016-04-11 19:27] madhuy commented on #469
And also, I verified with TDK with latest build. 1 out of 4 times, user have to select "find applications" button to show apps after disconnecting and connecting BT.

[2016-04-11 20:10] justinjdickow commented on #452
Is there a particular way you're forcing an unexpected disconnect? We see unexpected disconnect when turning off bluetooth as well as swiping the app away on the Android phone but have still not witnessed this crash.

[2016-04-11 21:30] madhuy opened #479 "AddCommand API responses GENERIC_ERROR response after Sending 200 addCommand"
We are trying to test with 200 AddCommand.

We noticed,
1. for first140 requests SDL core responses SUCCESS
2. remaining 60 Requests it reponse GENERIC_ERROR. but it added to command list and shows in HMI.
Note: We are using default time out 20 sec.

Please let us know if we are doing anything wrong.

Attaching logs.
[SmartDeviceLinkCore-2.txt](https://github.com/smartdevicelink/sdl_core/files/213

[2016-04-12 06:12] madhuy commented on #452
OnLanguageChange RPC causes "OnAppUnregistered"

[2016-04-12 11:17] AnastasiyaBritanova commented on #455
Setting timeout to 0 - **is not a bug**.
- SDL "disables" internal timeout for **Alert with SoftButtons**.
- Meaning - such Alert-w-SB display time should be dependent on "HMI-default-timeout-for-system-alerts", which might be rather different between HMIs and is definitely longer than SDL's default 10s.
- So. to "save resources" for HMI and to not make it send OnResetTimeout every 10s for such Al

[2016-04-12 11:18] AnastasiyaBritanova commented on #455
about the case where KEEP_CONTEXT is the only button - it's not so bad in fact )
HMI can:
1) also provide own "Close" button -> and close with "ABORTED" result, for example
2) close such dialog by HMI timeout with returning "TIMED_OUT" result.

[2016-04-12 11:23] justinjdickow commented on #466
Historically, the RPC was going to be used to search for SDL Enabled applications on a connected bluetooth device. Currently, SDL searches for bluetooth devices and applications [periodically](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/transport_manager/src/bluetooth/bluetooth_device_scanner.cc#L379-L383) without interaction from the user. "Find Applications" on Sync do

[2016-04-12 11:23] #466 closed

[2016-04-12 11:23] justinjdickow opened #480 "Deprecate and Remove OnFindApplications API"
See #466

[2016-04-12 11:34] #455 closed

[2016-04-12 12:09] #6 closed

[2016-04-12 12:10] justinjdickow commented on #9
@henry-fan Do you know if this was ever resolved?

[2016-04-12 12:12] #11 closed

[2016-04-12 13:40] justinjdickow commented on #16
@joeljfischer Are you good with closing this?

[2016-04-12 13:42] justinjdickow commented on #17
Moving to spec repo

[2016-04-12 13:42] #17 closed

[2016-04-12 13:45] joeljfischer commented on #16
Sure

On Tue, 12 Apr 2016 at 09:40 Justin Dickow <notifications@github.com> wrote:

[2016-04-12 13:45] justinjdickow commented on #19
This hasn't been reproduced in a while, believed fixed for now.

[2016-04-12 13:45] #19 closed

[2016-04-12 18:00] madhuy commented on #466
AS I mentioned in #469 "Find Applications" in TDK does some thing to show applications.

[2016-04-12 18:03] madhuy commented on #452
if it helps, below is the environment, compiler, tools chain been is used

    export EXTRA_CXX_FLAGS="-march=armv7-a -mthumb-interwork -mfloat-abi=hard -mfpu=neon -mtune=cortex-a7 -pipe -feliminate-unused-debug-types";
    export TOOLCHAIN=/opt/poky/1.6.1/sysroots/x86_64-pokysdk-linux/usr/bin/arm-poky-linux-gnueabi/arm-poky-linux-gnueabi-;
    export EXTERNALS=/opt/poky/1.6.1/sysroots/cortexa7hf-

[2016-04-12 18:10] madhuy commented on #479
in iOS, SDL core responds multiple SUCCESS responses for same AddCommand Request. it is reproducible with Wifi Transport also.

[2016-04-13 15:19] AnastasiyaBritanova commented on #460
please make sure CUSTOM_BUTTON is returned as a supported buttonName in Buttons.GetCapabilities_response from HMI
(alternatively - check RegisterAppInterface_response ("ButtonCapabilities") - it must list CUSTOM_BUTTON for expected successful scenario).

[2016-04-13 17:35] JackLivio opened #488 "DialNumber Disallowed"
When performing a Dial Number Request, Core is returning Disallowed.

Dial number is not included in the "Base-4" functional grouping  and therefore permission for DialNumber is not given to apps by default.

Now that DialNumber is implemented, do we want to include this RPC as a default permission for app policies?

[2016-04-13 18:32] yang1070 commented on #460
yes, we have CUSTOM_BUTTON
with shortPressAvailable/longPressAvailable/upDownAvailable all true in the
Buttons.GetCapabilities response, but sdl core still do the same.

Thanks,
Zhimin

On Wed, Apr 13, 2016 at 11:19 AM, Anastasiya Britanova <
notifications@github.com> wrote:

[2016-04-13 18:41] jgrix commented on #460
Please note this behavior is happening with the web based HMI from  https://github.com/smartdevicelink/sdl_hmi

[2016-04-14 02:57] BrandonHe commented on #9
@justinjdickow
As far as we know, neither sdl_version nor kApplicationVersion exposed to HMI. Thanks.

[2016-04-14 15:19] madhuy commented on #452
I see some fixes related timer in this https://github.com/smartdevicelink/sdl_core/pull/473/files. could you please check if this PR fixes it ?

[2016-04-14 23:51] chrisdrehernuance opened #491 "Microphone format not set, settings from PerformAudioPassThru request ignored by OnAudioPassThru notification"
The OnAudioPassThru notification sends microphone audio data from the headunit to the mobile device as binary PCM data (preceded by a wav file header).  Unfortunately, this data does not match the PCM format requested in the preceding PerformAudioPassThru request from the phone.

For example, PerformAudioPassThru can request microphone audio data in a format of 8-bit PCM at 22KHz but OnAudioPassTh

[2016-04-15 01:49] chrisdrehernuance opened #492 "Heartbeat starvation during AudioPassThru over Bluetooth, resulting in SDL apps dropped by SDL Core"
While using OnAudioPassThru over Bluetooth, heartbeat starvation has intermittently occurred resulting in the SDL Core dropping SDL apps from the mobile phone.

The current working theory is that:
1. Bluetooth is bandwidth constrained.  At 3Mbps, Bluetooth offers a max of 2.1Mbps to applications (after subtracting overhead) but only under ideal conditions.
2. Due to issue #491, PCM audio data can

[2016-04-15 13:12] justinjdickow opened #494 "AllowDeviceToConnect is never used"
It should be deprecated and removed.

[2016-04-16 18:41] asm09fsu opened #495 "Register App Interface Response should give information relating to drawable area."
For video streaming applications, there is no way for developers to know what the drawable area is.

We receive the screen dimensions for the connected head unit, however we cannot assume that all head units in the future will have a drawable area equivalent to the size of the screens dimensions.

We should ideally return a `drawable_rect` property or something with an equivalent name. This should

[2016-04-18 18:19] justinjdickow commented on #452
@madhuy I can't check if that fixes the issue because I can't replicate it in the first place. Can you check if it fixes your issue?

[2016-04-18 21:23] MprenticeUIE commented on #479
The issue appears to be tied to timing (SDL core takes to process and respond) not a specific request limitation.

[2016-04-20 21:20] JackLivio commented on #479
@madhuy @MprenticeUIE

So the issue here its that the AddCommands are timing out. Since there are so many add commands being sent by mobile at once, it doesn't appear that core is able to process all 200 commands before hitting the default timeout.

By default this value is set 10 seconds in the smartDeviceLink.ini file. Once possible fix is to increase this timeout value.

Another suggestion woul

[2016-04-20 21:25] JackLivio commented on #479
Additionally I am looking into if the request controller should be updating its timers under certain circumstances. This might be a case.

[2016-04-20 21:42] madhuy commented on #452
It is crashing in pthread_join() method .

Program terminated with signal 11, Segmentation fault.
#0  0xb51164bc in pthread_join () from /home/sdlserver/Desktop/pio/binary/lib/libpthread.so.0
(gdb) bt
#0  0xb51164bc in pthread_join () from /home/sdlserver/Desktop/pio/binary/lib/

Could you please let us if you have any resolution for this.

[2016-04-20 21:47] madhuy commented on #479
@JackLivio  the default time out is 20 sec.
"Note: We are using default time out 20 sec"

[2016-04-21 05:03] madhuy commented on #452
I found the reason for crash . pthread_join() behavior is undefined when try to join uncreated thread.
in case of "AudioStreamSuspend" or "VideoStreamSuspend" timer threads, thread is not created (pthread_create() not been called) until WakeUpStreaming(https://github.com/smartdevicelink/sdl_core/blob/ea2eaa6a2ac6b4ce59aa3f8e89086aaff1db08b0/src/components/application_manager/src/application_impl.c

[2016-04-25 14:22] AnastasiyaBritanova commented on #492
HeartBeat (HB) request is not treated as a high priority request by SDL -> because mobile app should reset its "heartbeat expectation" timer by *any* data received from SDL:

app -> get HB_request *or* RPC *or* frame(s) ==> reset "HB expectation" timer.

[2016-04-25 15:28] justinjdickow opened #504 "Use after free error causes return info to be blank"
in [set global properties request](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/commands/mobile/set_global_properties_request.cc#L351-L352) a temporary string is used to create the c string which is sent to sendResponse. The temporary string goes out of scope immediately causing the c string to become invalid and sendResponse to send an empty strin

[2016-04-25 17:55] MprenticeUIE commented on #469
Repros on Nexus 5

[2016-04-25 19:52] chrisdrehernuance commented on #492
I wasn't very clear above.  The SDL Core on the head unit is the side whose heartbeat expectation timer is timing out, not the the mobile app side.

When the head unit is sending microphone audio to the mobile app, it is sent as `OnAudioPassThru` notifications from the head unit to the mobile app.  These notifications are consumed by the mobile app and do not require the mobile app to response bac

[2016-04-25 20:52] madhuy opened #508 "OnScanDevicesFailed and OnConnectionFailed is not implemented"
How does SDL core notifies to HMI about the Scan fail and connection fail ?

[2016-04-26 09:04] AnastasiyaBritanova commented on #492
understood. thank you for explaining.

From the requirements,

so, if SDL queued the HB (per scenario above) - mobile app has own HB_request to let SDL know it's there.

[2016-04-26 19:26] chrisdrehernuance commented on #492
Correct.

The last post does bring up an alternative solution.  The mobile side's HB code could be modified to send out a HB_request if the mobile side has not _transmitted_ anything in a while to let the SDL Core know that the mobile app is still there.  This logic would be separate from the mobile app's own timeout logic if it has not _received_ a HB request/response, RPC, or frame from the SDL

[2016-04-27 13:05] jinujose50 opened #516 "clarification on heartbeat lock"
In code we see the HeartBeatMonitor process function is locking the lock AutoLock auto_lock(sessions_list_lock_); also we see the same lock is locked by HeartBeatMonitor::RemoveSession(uint8_t session_id) which in turn is called from HeartBeatMonitor process function. Are we missing something? will this removesession function be ever executed?

[2016-04-27 18:21] JackLivio opened #517 "Policy Manager Impl unit tests are omitted from build"
[Line omitted here](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/policy/test/CMakeLists.txt#L56)

After uncommenting that line and including that file in the build to be tested, I was not surprised to see that the test did not pass.

The policy table created is not valid.

Here are some of the tests logs highlighting why the test failed

[code]

[2016-04-28 05:27] chinlin0924 opened #518 "Compile failed with -DHMI=qt -DHMI2=ON -DEXTENDED_MEDIA_MODE=ON on new DialNumber RPC"
/autooem/projects/SDL/sdl_core/src/components/application_manager/src/commands/hmi/dial_number_response.cc: In member function ‘virtual void application_manager::commands::hmi::DialNumberResponse::Run()’:
/autooem/projects/SDL/sdl_core/src/components/application_manager/src/commands/hmi/dial_number_response.cc:48:29: error: ‘BasicCommunication_DialNumber’ is not a member of ‘hmi_apis::FunctionID’

[2016-05-02 14:16] justinjdickow commented on #452
@madhuy Can you submit a pull request for the fix into master called hotfix/452?

[2016-05-02 14:30] justinjdickow commented on #508
Currently RPCs don't exist for failures of scans or connections.

[2016-05-02 14:30] #508 closed

[2016-05-05 02:11] TaoheGit opened #528 "How to run sdl_core in an android board"
I want to know how transplant sdl_core on an android board,I have no idear

[2016-05-05 02:24] TaoheGit commented on #462
@malirod @BrandonHe
Thanks

[2016-05-05 02:24] #462 closed

[2016-05-05 02:34] BrandonHe commented on #528
Hi Tao,
We have transplanted sdl_core on android port, but now it runs on sdl_core 3.6 version. We will have a latest version release combined with sdl_core 4.1.0 version(it's also not released yet) in the future. You can directly download an available apk file from [here](https://github.com/APCVSRepo/hmi_sdl_android). I will add instruction wiki files for how to build on andriod board in these da

[2016-05-05 05:14] TaoheGit commented on #528
@BrandonHe
Thank you very mach
I am looking forward to your good news.

[2016-05-05 05:49] TaoheGit commented on #528
@BrandonHe
非常感谢能得到你的帮助，看到你们在git的项目我觉得很兴奋
希望能和你们多交流

[2016-05-09 08:20] #528 closed

[2016-05-10 09:24] #14 closed

[2016-05-16 14:32] justinjdickow opened #541 "HMI Specification Inconsistencies"
The following inconsistencies have been noted by third parties

1. Press Mode is wrong.
In 8.3.1.2 ButtonPressMode in SDL Integration Guidelines 4.0, "SHORT" is 0 and "LONG" is 1. But it turns out that SDL Core expects "SHORT" to be 1 and "LONG" to be 0.

2. Alert timeout with soft buttons.
It seems that SDL Core set timeout as 0 for Alert with soft buttons, but SDL Integration Guidelines 4.0 says

[2016-05-18 21:05] madhuy commented on #452
Created PULL request
https://github.com/smartdevicelink/sdl_core/pull/549

[2016-05-20 17:01] MprenticeUIE commented on #479
Is there any evidence that an app would add more then 140 commands?

[2016-05-24 01:01] madhuy commented on #479
We experimented below as per Ford Recommendation in their Developer portal, It is working.

_Is there a limit to how fast I can send AddCommand requests?
If you need to send a large number of requests to set up your application up when leaving HMI Level of NONE, the following is recommended:
Send a small number of the most important requests immediately. These usually include button subscriptions,

[2016-06-01 12:31] justinjdickow opened #561 "Changes to better support non-VR head units"
#### Steps to Reproduce
- SDL receives `VR.IsReady(available:false)` and `UI.IsReady(available:true)` from HMI
- SDL receives a command which has optional params that can trigger messages to VR and UI (AddCommand, PerformInteraction, etc.) from an app
#### Current Behavior
- SDL returns `GENERIC_ERROR` to the app
#### Expected Behavior
- SDL returns success with warning info describing the unsuppo

[2016-06-02 03:16] BrandonHe opened #563 "Cannot download documentations from appbox"
@justinjdickow
Several developers said they can't download SDL documentations in yesterday. I just now verified, can open the link and review the documents successfully. But click **DOWNLOAD** button on app.box.com is no response.

Thanks!

[2016-06-06 10:28] lbtianya opened #572 "ARM cross compilation issue"
1.x86 path  /usr/local/include and /usr/local/lib always appear in  flag.make and link.txt , arm-gcc 4.4. will thow a error on them,
...
"include location "/usr/local/include" is unsafe for cross-compilation"
"library search path "/usr/local/lib" is unsafe for cross-compilation"

God, I need to comment such lines every time.  how to remove it in embedded env, but use my RPATH setting or LDFLAG/CFL

[2016-06-10 04:13] dustinrwh opened #590 "V4 Tester application cannot be downloaded"
The README.md links to an application that can be used for testing called V4 Tester application. This file is host at box.com here:
[https://app.box.com/s/eeloquc0fhqfmxjjubw7kousf12f3pzg](https://app.box.com/s/eeloquc0fhqfmxjjubw7kousf12f3pzg)

Unfortunately, the file cannot be downloaded. I tried in Safari, Chrome and Firefox.

Is there any alternate link or something I'm missing?

Thanks!

[2016-06-13 08:39] AnastasiyaBritanova commented on #541
About the inconsistencies:

1. Press Mode is wrong.
-> needs to be fixed in Guidelines

2. Alert timeout with soft buttons.
-> SDL has a requirement to **cancel** the internal timeout for **Alert with SBs**.
-> Per current requirements, if app -> SDL: Alert + SBs:
    - and with "duration" -> SDL must transfer "duration" to HMI via UI.ALert
    - and without "duration" -> SDL must omit "duration"

[2016-06-14 01:02] chinlin0924 commented on #488
@JackLivio I think it is necessary.

[2016-06-14 08:46] LuxoftAKutsan commented on #444
@justinjdickow  @JackLivio hello, what status of this issue?  I can see (coverity)[https://github.com/smartdevicelink/sdl_core/tree/coverity] branch with come yours commits.

[2016-06-14 15:12] justinjdickow opened #601 "libssl-dev and libudev-dev are not caught by cmake"
cmake should fail if these libraries are not installed.

[2016-06-14 21:34] #133 closed

[2016-06-15 09:06] LuxoftAKutsan commented on #444
@justinjdickow @JackLivio  is there are any updates?
We wan't to use static code analyse on SDL. And I am searching for best solution, coverity looks rather good. Is there are any obstacles  to use coverity?

[2016-06-15 20:23] madhuy commented on #412
This is been fixed. @justin Can we close this ?

[2016-06-15 20:23] #412 closed

[2016-06-16 06:57] LuxoftAKutsan commented on #444
@justinjdickow @JackLivio is there are any updates?

[2016-06-16 20:51] justinjdickow commented on #541
These will have to be fixed now that we have a documentation system in place that can support hmi requirements for releases as well as develop branches

[2016-06-17 15:38] madhuy opened #620 "CreateChoiceintercationSet with MAX param values - Performance improvement"
We have test case CreateChoiceintercationSet with all params MAX values( as per spec) .  It is taking 50 sec to 60 sec to process and respond back to Mobile app.

since default time out is 20 sec. this always returns TIMEOUT error

Below is the JSON data to SDL core. it might be useful to profile
[interactionChoiceSet_boundary_MAX.txt](https://github.com/smartdevicelink/sdl_core/files/320796/inter

[2016-06-17 15:46] madhuy opened #621 "Scrollablemessage with DEFAULT_ACTION/STEAL_FOCUS buttons does not send onBUttonPress notification if mobile app send scrollbale message twice."
1. Send Scrollmessage with DEFAULT_ACTION/STEAL_FOCUS buttons
2. Click Button  DEFAULT_ACTION/STEAL_FOCUS
3. send onBUttonPress notification to mobile app- works as expected.
4. send another scrollable message with DEFAULT_ACTION
5. Click Button  DEFAULT_ACTION/STEAL_FOCUS
6. Does NOT send onBUttonPress notification to mobile app- NOT working.

Please let me know if you need any info.

[2016-06-20 19:26] MprenticeUIE opened #626 "Generic DisplayType"
Current DisplayType is based on Ford head units.  This needs to be changed to generic enums.  Example Video_Ht_Wt or Text_#lines_Lines.

To this end, implement Video_800_480 included in the next SDL Core and Proxy Drop

[2016-06-21 07:11] BrandonHe opened #627 "Branch develop build failed: libusb.h No such file"
build fail with develop branch, attached failed log:
[code]

[2016-06-21 07:17] anosach-luxoft commented on #627
@BrandonHe `sudo apt-get install libusb-1.0`

[2016-06-21 08:44] BrandonHe commented on #627
@anosach-luxoft Thanks! As I build on Ubuntu, the issue is resolved. But I'm afraid remove libusb library from source code instead of installation by command may have an influence on port  transplantation. What's your opinion?

[2016-06-21 09:37] LuxoftAKutsan commented on #444
@justinjdickow @JackLivio is there are any updates?
I successfully used coverity for my fork from sdl https://scan.coverity.com/projects/luxoftakutsan-sdl_core
I need admin rights for using coverify on sdl.

[2016-06-21 13:49] justinjdickow commented on #444
@LuxoftAKutsan we'll add you to the coverity project so you can review issues.

[2016-06-21 13:49] #444 closed

[2016-06-21 13:55] justinjdickow commented on #444
@LuxoftAKutsan Please let @JackLivio and I know if you intend on changing anything before you do.

[2016-06-21 13:57] LuxoftAKutsan commented on #444
@justinjdickow we would like to process static code analyse on develop branch weakly.
For that purpose we will use specific target on build server and build server user https://github.com/JenkinsSDLOnCloud Will need access to submit static code analyse for project https://scan.coverity.com/projects/smartdevicelink-sdl_core

[2016-06-21 14:02] justinjdickow commented on #444
We are not okay with creating a dependency between our project and Luxoft owned CI servers, we'll have to discuss alternatives to this approach.

[2016-06-21 14:14] JackLivio opened #631 "What is CI/TeamCity?"
I have a pr that is not passing the CI/TeamCity Winx64 build. If i click on details it takes me to a private IP address I can't access.

How are developers supposed to fix their build failures if the CI server is private?

[2016-06-21 14:56] LuxoftAKutsan commented on #444
@justinjdickow Unfortunately we can't use free travis for it because collecting coverage is to long.
I will investigate other possibilities for weakly coverage collecting. If you have any  ideas, please share.

[2016-06-21 14:59] LuxoftAKutsan commented on #444
@justinjdickow another way is to submit build manually once a weak, but I don't like this way.

[2016-06-22 08:54] LuxoftAKutsan commented on #444
@justinjdickow  we cant use free TravisCI for code coverage collecting because of time restrictions.
We can use paid Travis CI. Also we can use Jenkins. Please note that analyse and reports will be available on scan.coverity.com Jenkins will perform collecting only collecting required artefacts for static code analyse and send to coverity. No  links will refer to Jenkins from open source repositor

[2016-06-22 17:26] AByzhynar commented on #631
@JackLivio Now you can go through `Details` links in pull request. Old links were leading to private IP, all new links are leading to public IP, which is accessible from everywhere.
P.S. If you need to re-run you PR in some configuration( Windows or QT) you have to register TeamCity account(via the same link). Just Add your real name and email (to avoid to be deleted as unknown user).
You can also

[2016-06-22 21:24] madhuy opened #636 "Policy update is been triggered Continiously if we enable flag ENABLE_EXTENDED_POLICY"
1) Enabled ENABLE_EXTENDED_POLICY in SDL core.
2) Policy update been triggered continuously

Please look for "BasicCommunication.PolicyUpdate" in logs.

[SmartDeviceLinkCore.txt](https://github.com/smartdevicelink/sdl_core/files/328778/SmartDeviceLinkCore.txt)

[2016-06-23 14:00] #631 closed

[2016-06-23 14:00] JackLivio commented on #631
@AByzhynar Thank you

[2016-06-23 14:01] justinjdickow commented on #631
@CMaylone fyi

[2016-06-23 14:32] JackLivio commented on #636
@madhuy looking into this

[2016-06-23 15:50] JackLivio commented on #636
@madhuy Do you see this behavior every time?

I am unable to replicate this behavior at the moment. Using recent versions of SPT, Core, and the web hmi I only see the initial policy update.

[2016-06-23 15:58] JackLivio commented on #636
I also do not see BasicCommunication.OnSystemRequest in your logs. I think you might have something hooked up wrong in your HMI?

[2016-06-23 19:49] madhuy commented on #636
@JackLivio
with ENABLE_EXTENDED_POLICY it calls the  "BasicCommunication.PolicyUpdate" NOT "BasicCommunication.OnSystemRequest" for policy update

I think I know the reason . We need to call
 policy::PolicyHandler::instance()->OnUpdateRequestSentToMobile(); to reset update_required_ value.

in [SendPolicyUpdate](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_man

[2016-06-23 20:28] madhuy commented on #636
@JackLivio  Please review change https://github.com/smartdevicelink/sdl_core/pull/644/files

[2016-06-24 03:04] #627 closed

[2016-06-25 05:22] #363 closed

[2016-06-25 05:31] chenbd commented on #393
@jinujose50  Is there any update on this issue?

[2016-06-27 17:21] madhuy opened #647 "RegisterAppInterface returns WARNING message if app has AppHMIType"
1. Added HMItype in app policies
2. send AppHMIType from mobile app

RegisterAppInterface responses WARNING with message
""info" : "Following AppHMITypes are not present in policy table:5,""

[2016-07-02 09:28] MayilrajC opened #665 "USB Device is detected but apps are not listed"
I have compiled the SDL core with Qt.
When i connect using USB, I was able see device name listed, but apps are not listed.
When is debug i found the code below in usb_device.h,

[code]

[2016-07-06 11:38] sztankatt opened #674 "Getting error during sdl_core make when installing with Qt"
When following this guide: https://github.com/smartdevicelink/sdl_core/wiki/SDL-on-Linux-with-QT, I get an error whe I try to make the project.

The error output is the followig:
`/home/tst/Documents/Projects/smartdevicelink/sdl_core/src/components/application_manager/src/commands/hmi/dial_number_response.cc: In member function ‘virtual void application_manager::commands::hmi::DialNumberResponse::

[2016-07-07 17:16] justinjdickow commented on #620
Is this happening on SDL Core or on a Ford TDK?

[2016-07-07 17:22] justinjdickow commented on #647
Can you send a snapshot of the policy table you're using and the AppHMIType that was defined by the mobile side?

[2016-07-08 13:45] AnastasiyaBritanova commented on #647
From requirements point of view, SDL returns RAI (WARNINGS) in case appHMITypes from RAI **partially** match appHMITypes from app's policies.

To receive RAI (SUCCESS) you need to make sure both RAI and app's policies have absolutely the same appHMITypes.

_Note:_ appHMITypes must be from "AppHMIType" enum of mobile_API only.

[2016-07-08 14:27] AnastasiyaBritanova commented on #636
Hi Guys!

Please - it seems you'll break the expected flow of events with these fixes :)

Correct flow for ENABLE_EXTENDED_POLICY: **ON**

1. policies update is triggered: SDL -> HMI: PolicyUpdate (with Snapshot of current policies)
2. HMI **must request** the policices urls via GetURLs RPC
3. Afterwards, **HMI must generate OnSystemRequest** through SDL to mobile app.

You should not fix SDL to g

[2016-07-08 14:34] AnastasiyaBritanova commented on #636
Please see the attached diagram for details.
![policies_proprietary_flow](https://cloud.githubusercontent.com/assets/11644716/16690788/3d946dde-4532-11e6-976c-f4a20d7d5318.png)

[2016-07-08 14:53] AnastasiyaBritanova commented on #621
SDL logs would be helpful in this case - to identify who's responsible: HMI for not providing or SDL for not transferring these notifications.

[2016-07-08 19:22] madhuy commented on #647
here is  the App policy I am using.
{
        "keep_context": false,
        "steal_focus": false,
        "priority": "NONE",
        "default_hmi": "NONE",
        "AppHMIType": [ "INFORMATION" ],
        "groups": [
          "Base",
          "Location",
          "Notifications",
          "DrivingCharacteristics",
          "VehicleInfo",
          "OnKeyboardInputOnlyGroup",
          "OnTo

[2016-07-08 19:39] madhuy opened #682 "RegisterAppInterface and DISALLOWED staus question"
Does SDL core need to check IsApplicationWithSameAppIdRegistered()?

https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/commands/mobile/register_app_interface_request.cc#L187

Here is use case(iOS):
1) launch the iOS app - it registers with SDL core
2) Kill the app in Mobile - Swipe out from Background
3) launch same app again - it try to register with S

[2016-07-11 11:53] AnastasiyaBritanova commented on #682
@madhuy - yes, that is SDL requirement to return RAI (DISALLOWED) to the 2nd app if its appName is the same as another already registered app's appName.

In your scenario, it looks like SDL does not recognize the app is disconnected in step 2).
Are you using app/SDL with heartbeat?
The heartbeat functionality was introduced to resolve exactly the described issue.

[2016-07-11 12:39] AnastasiyaBritanova commented on #647
If your app sends
<RAI ("AppHMIType": [ "INFORMATION" ])>
and you are still getting
<WARNING> with message <""info" : "Following AppHMITypes are not present in policy table:5,"">
- it's a defect and needs to be investigated in the SDL code.

[2016-07-12 00:54] justinjdickow commented on #469
@joeygrover Is this something we should move to the sdl_android repo?

[2016-07-12 01:02] justinjdickow commented on #621
@madhuy Please see Ana's comments and provide logs to this issue.

[2016-07-12 01:06] justinjdickow commented on #647
@madhuy Can you confirm so we can label this a bug and move forward with that investigation?

[2016-07-12 01:48] #563 closed

[2016-07-12 02:07] justinjdickow commented on #563
Thanks @BrandonHe. I've got a ticket internally to update all of the READMEs to point to smartdevicelink.com for documentation now.

[2016-07-12 02:56] joeygrover commented on #469
Is this issue still valid since multiplexing was merged into dev in the sdl_android repo?

[2016-07-12 05:05] BrandonHe commented on #563
@justinjdickow Yes, that's why I closed this issue. Thanks.

[2016-07-12 15:38] JackLivio commented on #636
@madhuy see proper flow above

[2016-07-12 17:47] JackLivio commented on #636
@madhuy After the HMI sends an OnSystemRequest to Core, [the application manager will call](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/application_manager_impl.cc#L1269)
[code]
when processing the OnSystemRequest message from the HMI before passing along the message to the mobile side.

[2016-07-12 21:35] madhuy commented on #682
@AnastasiyaBritanova I am using SDL core from https://github.com/smartdevicelink/sdl_core/releases/tag/4.0.12
iOS SDL proxy from https://github.com/smartdevicelink/sdl_ios/releases/tag/4.1.3

I am not sure this has Heartbeat functionality.

[2016-07-12 22:10] madhuy commented on #636
@JackLivio  I understand the Flow.  in our HMI, HMI does not create BC.OnSystemRequest to get Policy data from server.  we get Policy data with different mechanism(secure channel), store into the file and directly call the SDL.OnRecievedPolicyUpdate() .

my question , where the right place to set s 'update_required_' to 'false' in this case.

[2016-07-13 04:00] madhuy commented on #682
@AnastasiyaBritanova Please check this https://github.com/smartdevicelink/sdl_ios/pull/379/files
it looks like heartbeat functionality got deprecated in iOS

[2016-07-13 04:04] madhuy commented on #647
Yes , We are getting ""info" : "Following AppHMITypes are not present in policy table:5,"
and it is bug.

[2016-07-13 04:09] madhuy commented on #621
attaching SDL core logs
[SmartDeviceLinkCore.txt](https://github.com/smartdevicelink/sdl_core/files/360681/SmartDeviceLinkCore.txt)

[2016-07-13 04:10] madhuy commented on #370
@justinjdickow  Can we close this? or keep open by labelling as "Enhancement"

[2016-07-13 04:24] justinjdickow commented on #636
@madhuy Will test with using `set_update_required(false);` in `UpdateStatusManager::OnValidUpdateReceived()`

[2016-07-13 04:50] justinjdickow commented on #370
Since this is fixed in release 4.1.0, I believe we can close it. Documentation is just fragmented and reflects 4.1.0 behavior instead of 4.0.x

[2016-07-13 04:50] #370 closed

[2016-07-13 04:56] justinjdickow commented on #674
Looks like there was a previous PR #565 that fixed this issue. I'm not sure why it was closed.

[2016-07-13 04:58] justinjdickow commented on #665
@MayilrajC What SDL applications are on the device which support USB?

[2016-07-13 07:31] AnastasiyaBritanova commented on #682
@madhuy
-> SDL4.0.12 supports heartBeat.
-> please check smartDeviceLink.ini file (src/appMain/) -> [MAIN] -> `HeartBeatTimeout` must be non-zero to turn on HB on SDL.
-> mobile app in must also support HB.
-> HB is the feature of protocol v3: meaning, both SDL and app must negotiate (during startSession) they both support v3 protocol.
-> how HB works:
---- SDL sends HB_request and expects either

[2016-07-13 13:48] sztankatt commented on #674
Hmm, not sure about that.

It seems that the whole `hmi_apis::FunctionID` cant be found, as there is no FunctionID defined in the HMI_API.xml file.

Maybe I am installing the wrong version... currently on the master branch.

[2016-07-13 16:34] madhuy commented on #620
Yes, We are able to repro in FORD TDK as well.

[2016-07-13 20:56] MprenticeUIE commented on #626
quick clarification we want Video_480_800

[2016-07-14 15:18] jacobkeeler commented on #647
@madhuy I am having some difficulty reproducing the issue using the steps you gave, could you please post the RegisterAppInterface request that core receives from the mobile side?

[2016-07-14 17:20] madhuy commented on #647
Message from registerappinterface

Message to convert: protocol 2; json {"languageDesired":"EN-US","deviceInfo":{"osVersion":"9.2.1","os":"iPhone OS","carrier":"Verizon","hardware":"iPhone"},"appName":"CTS Policy Table App","appID":"000000005","appHMIType":["INFORMATION"],"hmiDisplayLanguageDesired":"EN-US","vrSynonyms":["C T S Policy Table"],"ngnMediaScreenAppName":"CTS Policy Table App","syncMsg

[2016-07-14 19:57] MayilrajC commented on #665
I have Pandora and iHeartRadio installed in the phone.

[2016-07-15 07:01] AnastasiyaBritanova commented on #647
@madhuy just to make sure all of preconditions are correct -
your app has the following representation in policies, right? (meaning: is placed in the correct section with the correct appID)
[code]

[2016-07-15 19:34] jacobkeeler commented on #647
Found the problem. [This line](https://github.com/smartdevicelink/sdl_core/blob/bcf8405bbcb80823ac8bda564115695826ca99c4/src/components/application_manager/src/commands/mobile/register_app_interface_request.cc#L614) retrieves the list of appHMITypes from the received message, but as it turns out, the elements in this array are in enum form, while the program seems to assume they are in string form

[2016-07-19 18:06] jacobkeeler commented on #621
I've not been able to reproduce the problem on my end using the steps you gave, the OnButtonPress still went through to the mobile side on my end.

Based on the logs you uploaded, it appears that the HMI is sending the OnButtonPress to core correctly, as I see the log with the message from the HMI.

[code]

The issue may be that your app is not being subscribed to the buttons in the ScrollableMess

[2016-07-19 19:46] JackLivio opened #704 "SDL.ini "LogsEnabled" Never Used"
[This setting in SmartDeviceLink.ini](https://github.com/smartdevicelink/sdl_core/blob/master/src/appMain/smartDeviceLink.ini#L26) has no effect on enabling/disabling logs.

LogsEnabled is never read by profile.cc or used anywhere in sdl core. The only way I have been able to disable logs is through the top level cmakelists or cmake -DENABLE_LOG=OFF.

[2016-07-20 07:41] AnastasiyaBritanova commented on #621
@madhuy @jacobkeeler - please pay attention to the **order of messages**:
line 16471: SDL -> HMI : UI.ScrollableMessage with SBs id=5506 and id=5507
line 17089: HMI -> SDL : UI.ScrollableMessage (SUCCESS)
line 17156: SDL -> app : ScrollableMessage (SUCCESS, success:true)
line 17201: HMI -> SDL : Buttons.OnButtonPress (**id=5506**)
==>
-> it's not about wrong subscription status
-> it's about the a

[2016-07-20 13:55] justinjdickow commented on #541
Closing in favor of the above reference

[2016-07-20 13:55] #541 closed

[2016-07-20 20:20] jacobkeeler commented on #621
@madhuy Are you are using a separate HMI from the example HTML5 HMI on GitHub?

If that is the case, then this issue can be closed since it is an HMI problem. I am unable to replicate the same problem using the example HMI, the messages are sent in the correct order, so it doesn't appear to be an issue on this side.

[2016-07-20 20:54] madhuy commented on #621
@jacobkeeler  Thanks, for the analysis
Yes, We are using different HMI.

HMI sends message order correctly. but SDL core processing in different order. Even we tried sending after some delay from HMI . but still behavior is same.

[2016-07-21 08:13] AnastasiyaBritanova commented on #621
@madhuy
from the logs it's seen that ScrollableMessage is immediately responded (like in 1 sec).
Please note, it's expected HMI to respond only **after** the ScrollableMessage dialog is closed (either by timeout or by button press).

@jacobkeeler
from the logs, SDL does not always send `"timeout"`which is mandatory for ScrollableMessage per HMI_API. That could be an issue (immediate response) if H

[2016-07-21 16:46] jacobkeeler commented on #621
@AnastasiyaBritanova Where in the log are you seeing this? I don't see any messages from SDL which are missing the timeout field

In the log, I see four UI.ScrollableMessage messages sent to the HMI, and each of them have a timeout value of 30000

[code]

[2016-07-22 06:55] AnastasiyaBritanova commented on #621
@jacobkeeler the timeouts you're referencing - are SDL's internal timeouts set for ScrollableMessage. But in addition, SDL must send these timeouts **within json** message to HMI as well.
See:
Line 12942: json -> no "timeout" in the json message
Line 16397: json -> no "timeout" in the json  message
Line 17678: json -> no "timeout" in the json  message

The only exception (how the ScrMes json messa

[2016-07-22 12:12] MayilrajC commented on #665
Can anyone tell me list of iPhone apps, which supports smartdevicelink.

[2016-07-22 18:21] jacobkeeler commented on #621
@AnastasiyaBritanova First off, thank you for all of your help 😀

Second, after looking through the code, it looks like the messages that you are referring to are the JSON messages which are **received** by SDL. The log you pointed out is in the ConvertMessageToSO function, which is only used for incoming messages from mobile or HMI.

This means that the messages that you pointed are the requests

[2016-07-25 21:07] #405 closed

[2016-07-26 14:18] jacobkeeler commented on #601
It looks like this can be easily fixed by adding find_package() commands in the main CMakeLists.txt where necessary.

We need an extra module to detect udev, but I was quickly able to find a cmake script for it [here](https://github.com/FreeRDP/FreeRDP/blob/master/cmake/FindUDev.cmake).

libudev-dev should only be necessary when usb support is enabled from what I can tell, though it looks like lib

[2016-07-27 21:29] jacobkeeler commented on #621
@madhuy Have you been able to determine whether including a timeout in the ScrollableMessage requests fixes the issue?

I've been unable to find anything obvious in the SDL code that would affect the outcome if a timeout is omitted (vs. included with the default value of 30000). If including the timeout works, I will know the this is where the issue lies on the SDL side, because on the HMI side th

[2016-08-02 17:36] asm09fsu opened #736 "Fix misspellings of "subscription""
It appears that we have many misspellings of the word "subscription", which is spelt as "subscribtions". The following files are affected:
- src/components/application_manager/src/resume_ctrl.cpp
- src/components/application_manager/include/application_manager/smart_object_keys.h
- src/components/application_manager/test/resumption/resume_ctrl_test.cc
- src/components/application_manager/test/resu

[2016-08-03 14:09] jacobkeeler opened #739 "Dead code in metric_wrapper.cc (Coverity CID 80092)"
[Coverity Report](https://scan9.coverity.com/reports.htm#v26942/p12036/fileInstanceId=7040670&defectInstanceId=1401215&mergedDefectId=80092)

Coverity found a piece of dead code in [MetricWrapper::grabResources()](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/telemetry_monitor/src/metric_wrapper.cc#L48), where for some reason the code attempts to flush stdout after returni

[2016-08-04 15:22] #647 closed

[2016-08-04 21:20] madhuy commented on #479
Some more points
1. we tried in TDK with Android device , TDK also returns GENERIC_ERROR for some requests
2. if AddCommand has VR Coomands , Mobile app gets SUCCESS response though it take some time
3. if AddCommand dont have any VR commands , Mobile app gets GENERIC_ERROR for few requests.  if we increase Timeout Value to 75 sec all of AddComand request gets Success.

Attaching Logs for same
Add

[2016-08-05 01:26] madhuy commented on #682
@AnastasiyaBritanova We tried by setting HeartBeat timeout value. the behavior is SDL core stopped communicating with Mobile apps. Attaching logs

[SDLCore_HeartBeat3_ios.log.zip]
(https://github.com/smartdevicelink/sdl_core/files/402989/SDLCore_HeartBeat3_ios.log.zip)

I think This could iOS SDL proxy may not support heartBeat.

@justinjdickow is HeartBeat deprecated in iOS SDL proxy ?

[2016-08-05 04:11] BrandonHe commented on #479
@madhuy @JackLivio We also find this GENERIC_ERROR issue caused by time_out, optional solution is to change the configuration in smartdevicelink.ini, but that's a workaround way. I sent a PR #660, and try to fix this issue by unblocking the waiting threads in RequestController. As @LuxoftAKutsan required, I will create Unit Test for this PR.

[2016-08-05 20:31] jacobkeeler commented on #704
A way to implement this would be to include a new macro in logger.h, since it doesn't look like there are any log4cxx commands which are used directly without the use of some macro wrapper. Something like:

[code]

The LogsEnabled option could then be implemented in profile.cc and a statement could be included after the config options are read in

[code]

The only issue with this is that Core will

[2016-08-05 21:59] jthrun commented on #469
I still see this happening on both the TDK and our dev system using the generic UUID build of SDLCore.  It seems like older SDL apps (like Pandora installed from Google Play store) don't have the problem.  That is, switching BT off then back on, Pandora icon is still shown in launcher and can be run but multiplexer apps aren't available.  Happens even if there isn't an older SDL app on the handset

[2016-08-08 17:58] #40 closed

[2016-08-08 18:54] joeygrover commented on #621
@madhuy have you been able to take a look at this?

[2016-08-08 19:06] joeygrover commented on #636
Current PR open and being discussed on #644

[2016-08-08 19:28] jacobkeeler commented on #704
This option is implemented already in the develop branch

[2016-08-08 19:28] #704 closed

[2016-08-09 02:24] #452 closed

[2016-08-10 10:02] yifili09 opened #751 "Compiling Error for "lock_taken_" is not defined."
@justinjdickow

I found there was no issue reported for that topic.

At least, a missing header file named **"lock.h"** messed up my compiling process on Ubuntu, **_codebase from latest Develop branch**_

where the header is included from **_"sdl_core/src/components/utils/src/lock_posix.cc"**_

**_The weird file path**_
- [**sdl_core/src/components/utils/include/utils/**](https://github.com/smartd

[2016-08-10 17:13] amiramo3 commented on #590
I too have this issue.

[2016-08-12 07:22] TaoheGit opened #755 "sh: line 1: bt-device: command not found"
when i test sdl via bluetooth,i found  the message "sh: line 1: bt-device: command not found" in shell.
i  use bluez4.95,and i dont know what is bt-device

[2016-08-12 19:55] asm09fsu opened #756 "PerformInteraction should not require an empty array for interactionLayout KEYBOARD"
Currently, we must pass an empty array for PerformInteraction's `interactionChoiceSetIDList` if we want to use the `interactionLayout` as `KEYBOARD`. Is there a reason for this?

This request body will work for PerformInteraction:

[code]

This will not:

[code]

[2016-08-14 13:51] chenbd commented on #572
sdl core needs a little more work when cross compile, and current cmake build system is not well supported when cross compile, specially for modules like apr apr-util apache-log4cxx dbus libusb.

i guess sdl core should do some work for better support cross compile

[2016-08-17 17:21] madhuy commented on #621
@joeygrover we were able to reproduce this issue with 60 sec timeout and latest SDL core.

Attaching logs.
[core93_sdl176.txt](https://github.com/smartdevicelink/sdl_core/files/423152/core93_sdl176.txt)

[2016-08-18 06:36] BrandonHe commented on #665
@MayilrajC You can try download app **Ford App Catalog** from App Store, in this app, all support SDL apps are listed, and it will keep update if new apps are added.

[2016-08-18 14:15] joeygrover commented on #469
Can you try this on a device running Android 6.x+? I will look into getting a device with an older Android OS either way.

Also, what version of software is running on the TDK?

[2016-08-18 14:16] joeygrover commented on #682
@joeljfischer please look into this.

[2016-08-18 14:30] joeljfischer commented on #682
Yes, heartbeat is now deprecated in the iOS SDL Proxy as a result of unsolvable issues with running an app in the background being unable to use any sort of timers.

[2016-08-18 14:33] joeljfischer commented on #682
There may be a fix if the iOS library watches for a termination and attempts to close the session quickly before termination occurs.

[2016-08-18 15:49] joeljfischer commented on #682
@madhuy We'll help fix this in iOS SDK 4.3, but for now, in your app's `AppDelegate` `applicationWillTerminate:` method, send an `unregister` RPC Request. In the 4.3 SDK, we'll provide a method call that will do that for you.

[2016-08-18 19:49] jthrun commented on #469
TDK says: SYNC 3.0, Software Version 1.0, Build 15139

looking for a 6.x device...

[2016-08-18 22:05] joeygrover commented on #469
Thank you. A final note, you can still get apps to connect if you press "find new apps" right? It just doesn't happen automatically sometimes on the TDK?

[2016-08-23 18:04] jacobkeeler commented on #621
@madhuy Alright, so based on the logs you sent, it doesn't appear that the manual inclusion of a timeout by the mobile app makes a difference, meaning that the successful cases in the previous log seem to be just a coincidence.

This implies to me that the issue is still with the HMI you are using, as using the sample HMI results in SDL Core consistently receiving the messages in the correct order

[2016-08-23 22:14] madhuy commented on #682
@joeljfischer I tried your suggestion. by adding below code in AppDelegate applicationWillTerminate. It still not working.

  SDLUnregisterAppInterface *unregister = [[SDLUnregisterAppInterface alloc] init];
  [unregister setCorrelationID:[self getNextCorrelationId]];
  [self sendRPC:unregister];

[2016-08-23 22:43] joeljfischer commented on #682
Hmm... I'll double check when I get to the office tomorrow. I'm not seeing this issue when I do it that way.

[2016-08-24 06:12] kshala-ford commented on #682
Copied from https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIApplicationDelegate_Protocol/

Thought core recognizes if remote peer on iap gets closed.

[2016-08-24 12:55] joeljfischer commented on #682
@kshala-ford This issue is related to when the app is force closed, which would call `applicationWillTerminate:`.

Are you referring to an iAP capability of recognizing when the remote peer gets closed?

[2016-08-24 16:20] madhuy commented on #469
But we are not sure what exactly, "Find New applications" does ? I was assuming this calls OnFindApplications but OnFindApplications is [deprecated](https://github.com/smartdevicelink/sdl_core/issues/480) .  Could you please provide me what exactly "Find New app" does in HMI level or SDL core level.

[2016-08-24 16:23] joeygrover commented on #469
@stefanek22 @JackLivio can you advise what happens between HMI and Core when this happens? Or even on the TDK?

[2016-08-26 00:09] jthrun commented on #469
@joeygrover I finally found a Nexus 6 with v6.0.1.  Tested with the TDK and after restarting BT on the device, the apps showed up, then went away and came back a couple times, then things stabilized and both apps were shown.  I was using HelloSdl as one of the apps and, after BT restart I had trouble launching it, got an error about "can't start the app" until I launched/foregrounded the app on th

[2016-08-29 15:34] joeygrover commented on #682
@madhuy are you seeing this the problem on Wifi or iAP connection?

[2016-08-29 18:09] madhuy commented on #621
@JackLivio in TDK, Scrollable messages shows only one button though mobile app send multiple buttons.

[2016-08-29 19:38] madhuy commented on #621
Here is HMI flow.
1) send onButtonPressNotifcation after user selecting Button on scrollable message
2) Send UI.Scrollblemessage with ABORTED.

But, SDL core processing
1) UI.Scrollblemessage, which causing [unsubscribe](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/commands/mobile/scrollable_message_response.cc#L56) the buttons
2) onButtonPressNoti

[2016-08-29 20:23] madhuy commented on #621
I did experiment by  commenting below
1. [Unsubscribe](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/commands/mobile/scrollable_message_response.cc#L56)
2. [check to add scrollable message button subscribe](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/commands/mobile/scrollable_message_response.cc#L5

[2016-08-29 21:20] madhuy commented on #682
@joeygrover iAP connection.

[2016-08-29 21:29] joeygrover commented on #682
In your Core implementation do you get any callback from the IAP api's that would indicate the IAP session has ended?

[2016-08-29 23:22] madhuy commented on #682
Let me communicate with our HU suppliers implementation. this is happening in only in HU's.

[2016-08-30 14:15] TMelnyk commented on #756
Hello asm09fsu,

Per the last actual version of MOBILE_API -> param _"interactionChoiceSetIDList"_ **_has NO "mandatory" field at all_**, it means that this param **is mandatory=true** **by default**

As result, the **valid** request from mobile app will be:
_"PerformInteraction":_
"initialText" : string
"initialPrompt" : [strings]
**"interactionMode" : MANUAL_ONLY**
**"interactionChoiceSetIDList"

[2016-08-30 14:37] TMelnyk opened #792 "SDL must start <DefaultTimeout>+<RPCs_own_timeout> for all RPCs with own timer"
_Issue:_
Currently SDL starts **only** _"RPCs_internal_timer"_ for waiting the response from HMI for all RPCs with own timer.
This _"RPCs_internal_timer"_ is spent also for transferring request to HMI, reading RPC, etc.
As result, some delays was observed at response from HMI side.

_Solution:_
SDL must start **DefaultTimeout** _(from .ini file)_ **\+ RPCs_internal_timeout** for waiting the respon

[2016-08-31 21:44] madhuy opened #798 "Code is not fallowing Spec (13.1.4.2 SDL.ActivateApp for the application registered and this application was unauthorized by the latest PT Update.)"
the sequence diagram 13.1.4.2 in SDL_Intgreation says SDL should send onAppUnregistered to HMI.

HMI never gets onAppUnregistered notification.

in case of Apprevoked , SDL sends
1. SDL.OnAppPermissionChanged with "Apprevoked" is true
2. BasicCommunication.ActivateApp with "Apprevoked" is true

as per SDL core [code](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/applicatio

[2016-09-06 18:31] sandeepf184 commented on #377
I have similar problem building sdl_core.
I followed all the steps mentioned in the instructions and also I got all the dependencies. Also tried installing and uninstalling liblog4cxx. Still i'm getting below error.

syerlank@syerlank-VirtualBox:~/Sandeep/sdl/sdl_core_build/src/appMain$ ./smartDeviceLinkCore
log4cxx: Could not instantiate class [SafeFileAppender].
log4cxx: Class not found: SafeFil

[2016-09-07 08:48] raspeeyan commented on #665
@justinjdickow

I am also experiencing the same problem. I have created a sample application which SDL Core detects via Bluetooth, but cannot through USB. SDL can detect the Android device, however.

I have added the needed permissions for Android Accessory in the manifest file. What else do I have to set up?

Much thanks!

[2016-09-07 17:13] jacobkeeler commented on #621
@AnastasiyaBritanova Is there any requirement-based reason why [Alert buttons](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/commands/mobile/alert_response.cc#L50) are not unsubscribed while [ScrollableMessage buttons](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/commands/mobile/scrollable_message_re

[2016-09-07 17:46] madhuy opened #805 "[SDLcore 4.1 release] iOS apps getting onHMIstatus NONE after 1 second of onHMIStatus FULL"
1. start iOS app
2. Mobile app receives onHMIStatus FULL
3. after 1 sec Mobile app  receives onHMIstatus NONE.

my question do we need to change any thing is HS to compatible with SDLCore 4.1.0.
same works fine with android.
attaching logs
[SmartDeviceLinkCore.txt](https://github.com/smartdevicelink/sdl_core/files/459972/SmartDeviceLinkCore.txt)

[2016-09-07 17:53] joeygrover commented on #805
@NicoleYarroch @joeljfischer can you take a look at this?

So Android apps do not receive the HMIStatus NONE after FULL?

[2016-09-07 17:55] madhuy commented on #805
@joeygrover Android app don't receive NONE after FULL

[2016-09-07 17:59] joeljfischer commented on #805
What version of sdl_ios, what version of iOS?

[2016-09-07 20:36] madhuy commented on #805
sdl_ios 4.2.2
iOS 9.3.2

more info, it works fine  if we launch app manually.
 it is not working, if app been launched by using onSystemRequest(LAUNCH_APP).

[2016-09-07 20:55] jacobkeeler commented on #620
I was able to reproduce the issue on a TDK as well (responds with GENERIC_ERROR), but not when testing the same command using the recently merged 4.1 release. In Core 4.1, it still takes about 60 seconds for Core to fully receive the message from an Android bluetooth application, but it does not seem to time out (Core responds with SUCCESS).

I also tested the same command using the ATF, and the c

[2016-09-07 21:36] madhuy commented on #620
@jacobkeeler Yes, our testcase uses Bluetooth transport

[2016-09-09 10:15] willard1218 opened #809 "log4cxx: Please initialize the log4cc system properly"
![2016-09-09 6 12 43](https://cloud.githubusercontent.com/assets/14361902/18383657/25b4aba8-76b9-11e6-92cb-6aa886155e7f.png)

error when I run ./smartDeviceLinkCode
How can I fix this?

[2016-09-09 13:15] BTPankow commented on #809
For the new master, I've found that the smartDeviceLinkCore executable should be run from inside the `build/bin/` directory, not `build/src/appMain/`.  I've submitted a pr to reflect this in the README.

[2016-09-09 13:29] jacobkeeler commented on #809
@willard1218 This is a result of the recently merged 4.1.0 release.

It is looking for the static log4cxx libraries which are put in the $SDL_BUILD/bin folder, the easiest way to get it working is to
1. Run `export LD_LIBRARY_PATH="."` (will only work for the current terminal session, you may want to put this in your `.bashrc` file)
2. As BTPankow said, start SDL Core from the $SDL_BUILD/bin folde

[2016-09-12 11:29] AnastasiyaBritanova commented on #621
@jacobkeeler SDL should stop processing UI.RPC-related SoftButtons notifications from HMI right after this UI.RPC is responded by HMI - it's true for both UI.Alert and UI.ScrollableMessage.

[2016-09-12 13:50] alrdguez commented on #809
Actually, running LD_LIBRARY_PATH=. ./smartDeviceLinkCore from bin directory doesn give initial error as @willard1218 posted but it throws another one related with log4cxx too:

[code]

Any suggestions?

[2016-09-12 18:34] madhuy commented on #805
@joeljfischer any update on this?

[2016-09-12 18:43] BTPankow commented on #805
@madhuy I'm taking a look at this.  It seems as though the iOS app sends a OnHMIStatus notification with `hmiLevel = FULL` and  core responds with an `hmiLevel = NONE`.  This can be seen in the attached log excerpt ([OnHMIStatus.txt](https://github.com/smartdevicelink/sdl_core/files/468098/OnHMIStatus.txt)).  Could this be what is happening?

Would you be able to supply iOS logs that show the issu

[2016-09-12 20:05] madhuy commented on #805
Attaching SDLcore and iOS logs
[ios_onHMIStatus_notworking.txt](https://github.com/smartdevicelink/sdl_core/files/468252/ios_onHMIStatus_notworking.txt)
[sdlcore_onHMIStatus_notwoking.txt](https://github.com/smartdevicelink/sdl_core/files/468253/sdlcore_onHMIStatus_notwoking.txt)

[2016-09-12 20:22] BTPankow commented on #809
@alrdguez This looks like an issue with permissions.  It seems as though log4cxx does not have permission to write the log files.

This is likely due to the fact that the log files are owned by root from previously running `./smartDeviceLinkCore` as root.  Running `ls -l *.log` should verify that the log files are owned by root.  Example:
[code]

The easiest solution would be to delete the log fil

[2016-09-12 21:03] BTPankow commented on #805
@madhuy Thanks for the logs, it definitely looks like something strange is occurring.

What HMI are you using?  Does this happen with the [sdl_hmi](https://github.com/smartdevicelink/sdl_hmi)?

[2016-09-12 22:03] madhuy commented on #805
@BTPankow it is our own HMI. it was perfectly fine with 4.0 release . I am not sure why it is happening in 4.1 SDL core.

[2016-09-13 07:26] alrdguez commented on #809
Thanks a lot @BTPankow but it doesnt work, at least for me. I have used SDL since 3.8 but never had this issue. Hope 4.1.1 solves this.

[2016-09-13 07:30] AnastasiyaBritanova commented on #798
@madhuy it's the documentation defect (description left from the older implementation).
Will be fixed in the referenced defect.

If the app gets revoked by Policies update - SDL should notify HMI about the event, keep such app registered and in NONE level and disallow its activation.

[2016-09-13 15:26] sandeepf184 commented on #809
I have the same issue

[2016-09-13 18:26] jacobkeeler commented on #620
@madhuy Are you still having the timeout issue with the new release?

I have also now tested the same command with iOS/TCP, and that takes around 16 seconds for that to complete, and around 10 seconds accounted for by communication with the web HMI. Based on the logs, Core only took around 1/10th of a second to actually process the message.

It seems to me like the Android Library might be the cau

[2016-09-14 13:28] jacobkeeler commented on #809
@alrdguez @sandeepf184 This may be because you installed using sudo. You should only run `make install` rather than `sudo make install`, otherwise the `build/bin` directory will be owned by root.

Try deleting the `bin` directory and rerunning `make install` without sudo, and that should fix the issue.

Alternatively, you could just change the owner of the folder to that of your user account using

[2016-09-15 07:06] alrdguez commented on #809
Thanks @jacobkeeler . That worked. :)

[2016-09-15 13:33] jacobkeeler commented on #755
It sounds like you just don't have the `bluez-tools` package installed, this should be easily fixed by just running:

[code]

[2016-09-15 13:34] sandeepf184 commented on #809
Thanks @jacobkeeler. For me export LD_LIBRARY_PATH="." worked.

[2016-09-15 13:38] willard1218 commented on #809
Thanks @jacobkeeler . its worked.

[2016-09-15 14:33] BTPankow commented on #805
I have a few more questions about the issue.  First, how is the app launched?  Is the HMI giving an explicit OnSystemRequest(LAUNCH_APP) or is it using the ActivateApp RPC (sequence diagram: [ActivateAppAppLaunch](https://d83tozu1c8tt6.cloudfront.net/media/builds/master/1/2a7691311b01e910c21316f915be72dfdc537733/sdl/activateapp/assets/ActivateAppAppLaunch.png))?  This could be something to check o

[2016-09-15 19:03] madhuy commented on #805
We are using OnSystemRequest(LAUNCH_APP) if the app is not registered with HMI.
if app registered with HMI we call ActivateApp.

we will check with your suggestion by deleting appinfo.dat and get back to you.

[2016-09-15 20:42] joeygrover opened #823 "SendLocation uses Doubles instead of Floats"
The lat and long params are of type Double when they should be floats in the MOBILE_API for the struct Coordinate and in the SendLocation RPC. The lat and long params of SendLocation are also not mandatory which is incorrect.

[See here for Coordinate](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/interfaces/MOBILE_API.xml#L2293)

[See here for SendLocation](https://github

[2016-09-15 21:11] madhuy commented on #805
We deleted appinfo.dat and tried still not working.

attaching logs
[sdlcore_ios_deleted_appinfo.txt](https://github.com/smartdevicelink/sdl_core/files/475584/sdlcore_ios_deleted_appinfo.txt)

[2016-09-15 21:48] jacobkeeler commented on #460
@jgrix @yang1070 This appears to be an issue with the HMI having implemented something that isn't yet in Core.

To start, it looks like this is happening because the ButtonCapabilities are not actually being updated with the Button.GetCapabilities response from the HMI. This is because Core thinks that the response that it received is incorrectly formed.

The reason for this is that the HMI includ

[2016-09-16 19:44] jacobkeeler commented on #621
@AnastasiyaBritanova From what I can tell, ScrollableMessage is currently the only RPC in which Core unsubscribes from the softbuttons when a response is received, should an issue be created for this?

[2016-09-16 20:35] #112 closed

[2016-09-19 17:02] madhuy commented on #682
It is fixed

[2016-09-19 17:02] #682 closed

[2016-09-19 17:04] joeygrover commented on #682
Was this fixed via the Core 4.1.0 release or was it an implementation specific issue that was fixed?

[2016-09-19 17:24] joeygrover commented on #823
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;qTbl1j66&#x2F;93-sendlocation-uses-doubles-not-floats"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> SendLocation uses doubles not floats</a>

[2016-09-19 17:26] joeygrover commented on #621
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;zNWWdEHX&#x2F;70-qa-onbuttonpress-not-delivered"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> QA - OnButtonPress not delivered</a>

[2016-09-19 18:06] madhuy commented on #805
I noticed this works, it does works some times. attaching working case logs
[sdlCore_onHMIstatusWorking.txt](https://github.com/smartdevicelink/sdl_core/files/480736/sdlCore_onHMIstatusWorking.txt)

the difference between Working case and not working case

Working case
-----------------
1. BasicCommunication.OnAppRegistered @ 12 Sep 2016 12:04:33,837
2. BasicCommunication.UpdateAppList with 2 apps

[2016-09-19 19:57] madhuy commented on #805
FYI. works fine with Wifi and SDL iOS proxy.

[2016-09-19 20:55] BTPankow commented on #805
Thanks for the logs and information.  As an update, I was able to reproduce this issue by activating the application from the HMI immediately after it is registered.
If there is a delay of about one second or more before sending ActivateApp, the issue does not appear and the iOS application does not receive an HMI status of NONE after FULL.
I'll try to take a closer look at what happens during thi

[2016-09-20 00:46] madhuy commented on #805
@BTPankow I did experiment by adding 2 sec delay to activate app after it is registered. it is working.

[2016-09-20 00:59] madhuy commented on #682
it is implementation specific issue and it is fixed.

[2016-09-20 18:19] BTPankow commented on #805
I just submitted a pull request that should fix the issue.

It turns out that is was an issue with resumption like I had initially thought.  If the application is activated (and given HMI FULL) before it is resumed, the application will then receive an HMI NONE once resumption has finished.  PR #829 should fix this.

[2016-09-20 19:29] madhuy commented on #805
@BTPankow Thanks for quick fix. does resumption happens even if there is  no app_info.dat file ?

[2016-09-20 20:22] BTPankow commented on #805
@madhuy The `StartResumption` function will be called even if there was no preexisting app_info.dat file.  In most cases resumption will at least start (which had caused the apps to receive a new onHMIStatus notification).

[2016-09-20 20:59] madhuy commented on #805
@BTPankow your fix is working. Verified with our HMI.

[2016-09-20 21:00] jacobkeeler commented on #411
@LuxoftAKutsan Is there any reason that this code is still included in this repository, or can it be safely removed?

[2016-09-20 22:02] madhuy opened #831 "[SDLcore 4.1 release] onPhoneCall notification is removed ?"
if onPhoneCall is removed what is the best way to notify phone call status? it fails this flow(6.26.2.1 OnPhoneCall) in HMI spec

[2016-09-20 22:13] madhuy commented on #831
All these files are removed
on_emergency_event_notification.cc
on_play_tone_notification.cc
on_phone_call_notification.cc

[2016-09-21 14:25] joeygrover commented on #831
@AnastasiyaBritanova can you comment?

[2016-09-21 14:37] AnastasiyaBritanova commented on #831
@joeygrover yes, it was replaced with [OnEventChanged](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/interfaces/HMI_API.xml#L2468)
It also replaces OnEmergencyEvent, OnDeactivateHMI - when sent with the appropriate eventTypes.

[2016-09-21 14:59] joeygrover commented on #831
[EventTypeEnums](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/interfaces/HMI_API.xml#L1182)

@madhuy Does this satisfy your issue?

[2016-09-21 15:19] madhuy commented on #831
@joeygrover Could you please provide me updated sequence diagrams or updated SDL_integration guidlines?

[2016-09-21 17:46] joeygrover commented on #831
@AnastasiyaBritanova are there updated diagrams for this new flow?

[2016-09-21 17:51] madhuy commented on #831
@joeygrover @AnastasiyaBritanova Could you please let us know if any API's removed or added in 4.1 release. I know Playtone Notification removed and added the param("Playtone") in TTS.Speak .

[2016-09-22 09:19] AnastasiyaBritanova commented on #831
@madhuy @joeygrover
1. the diagrams are attached
2. will prepare the list of changes and update you here
![oneventchanged deactivate_hmi](https://cloud.githubusercontent.com/assets/11644716/18742810/cbe270c8-80be-11e6-8d98-7d9b83da9b9b.png)
![oneventchanged emergency_event](https://cloud.githubusercontent.com/assets/11644716/18742809/cbdfc5ee-80be-11e6-91cf-71f1aa75ea66.png)
![oneventchanged phone

[2016-09-22 16:43] tayloead opened #835 "PerformAudioPassThru Delayed Notifications"
There seems to be an issue where a message isn't occurring at a rate we see on Sync 3. Whenever the performaudiopassthru message is sent from the phone to the sync3 emulator, I am receiving performaudiopassthru notifications, going to sdl_core back to the phone, at a rate of about one notification per 5 seconds, compared to receiving these notifications once every .05 seconds when testing with the

[2016-09-22 18:37] madhuy commented on #805
@BTPankow This issue is reproducible even in 4.0 but frequency is very low and with different repro steps.

Repro Steps in 4.0
-------------------
1. SDL app is running in HU
2. Kill app ( swipe out from back ground in iOS)
3. Launch SDL app by using APP_LAUNCH

we observe similar behavior. but frequency is very low. attaching logs
[sdlcore_4.0_onHMIStatus_NONE.txt](https://github.com/smartdevicel

[2016-09-22 19:06] BTPankow commented on #805
@madhuy Thanks for the logs and investigation.  I agree that this issue should be reproducible in earlier sdl versions.  This issue looks like it should occur when an application is activated immediately after it is registered with the HMI.

The fact that it is inconsistent likely has to do with timing and the speed with which sdl_core receives and processes the ActivateApp command.  However, I'll

[2016-09-22 19:41] sandeepf184 opened #838 "Web SDL HMI doesn't follow the HMI flow"
According to the HMI flow, when we send messages like dialnumber it should check for high priority events like Alert and Emergency Call etc. But I have seen in web hmi that when alert message is displayed and made a request for dialnumber , the dialnumber popup is displayed over alert message.  Can anyone please check with it and help me with that.

[2016-09-22 19:43] sandeepf184 commented on #823
Yeah Even I noticed that.

[2016-09-22 21:22] #16 closed

[2016-09-22 21:29] #54 closed

[2016-09-22 21:32] #74 closed

[2016-09-22 21:34] #110 closed

[2016-09-23 13:16] #154 closed

[2016-09-23 13:45] jacobkeeler commented on #755
@TaoheGit Did this fix your issue?

[2016-09-23 14:29] #601 closed

[2016-09-23 14:38] jacobkeeler commented on #739
Could be fixed along with #407

[2016-09-23 17:59] jacobkeeler commented on #809
Closing with the merge of #810

[2016-09-23 17:59] #809 closed

[2016-09-23 19:23] JackLivio opened #842 "App does not activate when policies are disabled"
Using the web hmi, after activating an app, the alert shows "Activating App..." and nothing follows.

Same effect if built using extended policy or not.

[2016-09-23 19:39] JackLivio commented on #842
[This is the line crashing the policy thread when policies are disabled, causing the activate message to be lost](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/policies/policy_handler.cc#L962)

[2016-09-23 20:22] JackLivio commented on #838
@sandeepf184 Here's a fix
https://github.com/smartdevicelink/sdl_hmi/pull/5

[2016-09-23 20:33] BTPankow commented on #805
Submitted a second pull request (#840) that should fix this issue.  The other pull request (#829) may have had more side effects and may not have conformed to requirements.

Also, I checked the root cause and was able to reproduce the issue by just sending an ActivateApp from the HMI immediately after OnAppRegistered received.

[2016-09-23 20:56] jacobkeeler commented on #411
or @AnastasiyaBritanova

[2016-09-23 22:52] madhuy commented on #479
@BrandonHe is your PR #660 merged to 4.1?

[2016-09-26 17:42] madhuy commented on #831
@AnastasiyaBritanova

Could you please provide me list of changes in 4.1?

[2016-09-26 21:41] jacobkeeler opened #847 "Build fails on develop if ENABLE_EXTENDED_POLICY=OFF"
Currently, if the develop branch is compiled ENABLE_EXTENDED_POLICY is set to OFF, the build will fail due to the improper use of a macro. The reason for this is that two of the macros were not properly updated in [this commit](https://github.com/smartdevicelink/sdl_core/commit/7b817d1b7577586bb4a91fca7ba7ff3330103366)

[sdl_policy_update.cc](https://github.com/smartdevicelink/sdl_core/blob/develo

[2016-09-27 13:10] AnastasiyaBritanova commented on #831
hi @madhuy
attached providing the diff of HMI_APIs between releases 4.0.12 and 4.1.0 (excel file).
Will get back a bit later with the list of related functional changes.

[HMI_API_diff_release4.0.12_vs_release4.1.0.xlsx](https://github.com/smartdevicelink/sdl_core/files/495541/HMI_API_diff_release4.0.12_vs_release4.1.0.xlsx)

[2016-09-28 10:11] TMelnyk commented on #823
Hello @joeygrover
1. "Double" type is **_correct type_** for _"latitudeDegrees"_ and _"longtitudeDegrees"_ params per existing requirements for SDL - as result, type will not be changed

2.  The mandatory of _"latitudeDegrees"_ and _"longtitudeDegrees"_ params of _SendLocation_ is planned to be changed from 'false' to 'true' in the next releases

[2016-09-28 14:12] jacobkeeler commented on #823
@TMelnyk Is there any reason why both of these parameters are "Float" type in [GPSData](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/interfaces/MOBILE_API.xml#L1537-L1542)?

[2016-09-28 17:31] joeygrover commented on #823
I don't believe that's a correct requirement. We don't use doubles anywhere else in the Mobile_Api.

@stefanek22 @tpulatha Can you comment?

Also, changing from not required to required will introduce extra corner cases between versions and would require the RPC API version to be increased.

[2016-09-28 18:48] #461 closed

[2016-09-29 13:11] TMelnyk commented on #823
Hello @jacobkeeler , @joeygrover ,
Per discussion with Ford team the type of "_latitudeDegrees_" and "_lotitudeDegrees_" will be changed to **Float** at SendLocation_request and Coordinate struct
GPSData struct will remain without changes

[2016-09-30 07:41] wzhhnet opened #860 "The reference of wild pointer cause to memory leak"
https://github.com/smartdevicelink/sdl_core/blob/master/src/components/dbus/src/dbus_adapter.cc
`bool DBusAdapter::SetValue(...
...
    case ford_message_descriptions::ParameterType::String:
      type = DBUS_TYPE_STRING;
      stringValue = param.asString().c_str();
`
temporary string object was returned, but it was not copied, it's internal pointer member was copied by stringValue. after this, t

[2016-09-30 21:01] jthrun commented on #469
I can not reproduce this using 4.1rc1 of SDL Android and the 4.1 of SDL Core.  Tried both in dev environment and on TDK (older SDL Core, but using 4.1rc1 of SDL Android seems to resolve the issue).  However, on dev environment, if a non-multiplexing SDL app makes connection first then no multiplexing apps show up.  I think this is not an issue for us since our build of SDL Core will only connect t

[2016-10-03 23:05] madhuy commented on #620
with 60 seconds timeout it is not happening.

[2016-10-03 23:05] #620 closed

[2016-10-03 23:14] madhuy commented on #479
it looks like #660 is closed with out merging. We changed to 60 sec time out as workaround it works . it is work around. what is the ETA on this ?

[2016-10-03 23:21] #831 closed

[2016-10-03 23:22] #798 closed

[2016-10-03 23:22] #469 closed

[2016-10-04 05:51] BrandonHe commented on #479
@madhuy #660 is not merged to 4.1, because @LuxoftAKutsan said it has same logic with previous code in ```RequestController```,but I do add thread wait in ```RequestController::onTimer()``` to make request process not time out and passed ATF test [ATF_AddSubMenu_fix_test_result.txt](https://github.com/smartdevicelink/sdl_core/files/342777/ATF_AddSubMenu_fix_test_result.txt), maybe you can take som

[2016-10-04 06:47] madhuy commented on #479
@BrandonHe I can test. but is this changes going to merge in future with separate PR?

[2016-10-04 07:29] BrandonHe commented on #479
@madhuy Nope, if this change also effective for your code, I can reopen to ask for merging.

[2016-10-04 07:31] madhuy commented on #621
@AnastasiyaBritanova Could you please your input on this issue?

[2016-10-04 08:03] AnastasiyaBritanova commented on #621
@madhuy, @jacobkeeler  i could comment from requirements point of view only:

if a SoftButton was added via RPC other than `Show` (`Alert, ScrollableMessage, ShowConstatntTBT, AlertManeuver, UpdateTurnList`)
-> SDL will allow notifications from such buttons only while the related RPC is active (= drop the notification after the related RPC is responded).

[2016-10-04 08:10] madhuy commented on #621
@AnastasiyaBritanova in that case, only scrollableMessage fallowing requirment I guess.

[2016-10-04 20:47] jacobkeeler commented on #823
PR: #837

[2016-10-05 00:10] goelgoldi commented on #626
@joeygrover, Any update on this request?

[2016-10-05 13:43] joeygrover commented on #626
This was discussed on a while back, but not finally decision has been reached.

I believe an evolution proposal is needed here. I think the change will be more than adding an enum for a specific resolution. We might be able to add a generic enum like "SDL_Generic". Then I believe we want to add things like resolution/screen size/etc into the display capabilities.

@tpulatha Can you comment? I know

[2016-10-05 20:29] goelgoldi commented on #626
@tpulatha Please let us know when its doable?

[2016-10-06 14:47] jacobkeeler commented on #636
New PR: #865

[2016-10-07 17:33] joeygrover commented on #626
@goelgoldi There is now a pull request open that should address the addition of the enum. #884

[2016-10-07 18:06] jacobkeeler opened #885 "For some RPCs, Core does not unsubscribe from softbuttons after receiving a response"
For all of the popup-based RPCs which contain softButtons, Core is supposed to stop processing softButton events once a response is received for the RPC. Currently the only one that does this is [ScrollableMessage](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/application_manager/src/commands/mobile/scrollable_message_response.cc#L55), for all of the others Core stays subs

[2016-10-10 14:15] JackLivio commented on #479
@BrandonHe Wanted to bump this issue. Were you going to revisit your PR?

[2016-10-11 13:46] yang1070 opened #890 "Build fails if -DEXTENDED_MEDIA_MODE=ON"
[ 95%] Building CXX object src/components/media_manager/CMakeFiles/MediaManager.dir/src/media_manager_impl.cc.o
In file included from /home/zhimin/github/sdl_core/src/components/media_manager/src/media_manager_impl.cc:45:0:
/home/zhimin/github/sdl_core/src/components/media_manager/include/media_manager/audio/a2dp_source_player_adapter.h: In member function ‘void media_manager::A2DPSourcePlayerAdap

[2016-10-11 15:39] theresalech commented on #402
Fixed with [Release 4.0.12](https://github.com/smartdevicelink/sdl_core/releases/tag/4.0.12)

[2016-10-11 15:39] #402 closed

[2016-10-11 17:03] jacobkeeler commented on #890
@yang1070 Working on this, I believe I have fixed all of the issues with the build and will likely be submitting a PR for it later this week

[2016-10-11 19:59] yang1070 commented on #890
@jacobkeeler  How do you set up the GStreamer? I mean the include path and link libs. I changed the code locally to remove the connection_handler error. Then I met a "utils/logger.h" file cannot find error. I think somehow the FindGstreamer-1.0.cmake file in the project should be called to setup the Macro, but I didn't figure out how.

[2016-10-12 18:33] jacobkeeler commented on #890
@yang1070 The connection_handler issue should have been fixed with the merge of #880.

I went through all of the build issues and fixed them in #900, so the changes in that PR should fix your issues. Note that you will need to manually specify the gstreamer directory as well:

[code]

[2016-10-12 19:41] joeygrover commented on #805
Pull request #840 was merged to fix this issue.

[2016-10-12 19:41] #805 closed

[2016-10-12 23:14] madhuy commented on #479
@BrandonHe after integrating  PR #660 . AddCommand responses properly.
@JackLivio Please prioritize #660

[2016-10-12 23:15] madhuy commented on #621
With 4.1 and integrating #660 this issue also fixed.

[2016-10-13 18:03] yang1070 commented on #890
@jacobkeeler Thank you very much for the quick response. The pull request #880 and #900 together do fix the build and core crash issue.
however, the html hmi associated with the repository has anthoer issue https://github.com/smartdevicelink/sdl_hmi/issues/8

[2016-10-13 22:36] madhuy opened #905 "SDL core 4.1 - policy.sqlite file crated in current directory instead of 'AppStorageFolder'"
in 4.0, it was creating in 'AppStorageFolder' path
in 4.1 it is creating in current directory

Looked at the code,
can we add below code [here](https://github.com/smartdevicelink/sdl_core/blob/master/src/components/policy/src/sql_pt_representation.cc#L322)

[code]

[2016-10-13 22:38] madhuy opened #906 "Investigation on 'year 2038 integer overflow' issue"

[2016-10-14 13:08] joeygrover commented on #906
Can you please include your concerns and what you think this might affect in the description?

[2016-10-14 14:27] jacobkeeler commented on #905
It looks like the change was made in this commit: https://github.com/smartdevicelink/sdl_core/commit/96f5dd24e02a6f769248c4c6b2db055fca82cadd for #477.

@Kozoriz, @LuxoftAKutsan, or @AByzhynar is there any reason that this path was changed?

[2016-10-14 15:54] joeygrover commented on #626
Fixed with merge of #884

[2016-10-14 15:54] #626 closed

[2016-10-14 17:35] madhuy commented on #906
@joeygrover We need support HU software until 2050. our partner asked us to investigate impact of integer over flow issue.
Does SDL core uses dates or times for either computation or diagnostic logging ? if Yes, How does it impacts the overall SDL functionality?

[2016-10-17 20:13] #823 closed

[2016-10-18 06:28] madhuy commented on #479
@BrandonHe Could you please prioritize the #660 PR?

[2016-10-18 10:28] LuxoftAKutsan commented on #905
@jacobkeeler I agree, seems like it was deleted my mistake. By note, that there is redundant ifdefs that probably should be removed ( __QNX__), in other case this code will not work on QNX.

[2016-10-18 13:24] jacobkeeler commented on #905
@LuxoftAKutsan So, the `ifndef __QNX__` statement should not be added back in then?

I'll make a PR with these changes...

[2016-10-18 13:39] LuxoftAKutsan commented on #905
@jacobkeeler right

[2016-10-19 13:07] jacobkeeler commented on #905
PR: #908

[2016-10-19 19:58] theresalech commented on #636
Pull request #865 was merged to fix this issue.

[2016-10-19 19:58] #636 closed

[2016-10-19 20:12] JackLivio commented on #906
@madhuy We set our time to the year 2050 and first glance nothing seemed to be broken. Have you tried doing this on your system?

[2016-10-20 05:04] madhuy commented on #906
@JackLivio

better way to test this is

1. Change Time to "03:13:00 UTC on Tuesday, 19 January 2038"
2. start SDL core
3. wait until "03:14:07 UTC on Tuesday, 19 January 2038 " , here it will overflows.
4. Check behavior of SDL core

More [Info](https://en.wikipedia.org/wiki/Year_2038_problem)

[2016-10-20 13:16] joeygrover commented on #906
@madhuy have you done this test? What results did you have?

[2016-10-21 14:06] yang1070 opened #913 "release/4.2.0 coredump when SyncProxyTester was trying to connect from wifi"
zhimin@SYNC3:~/github/sdl/bin$  ./smartDeviceLinkCore
accept_buf: yfQA9drYMhYefsSbledbcH21eI8=
accept_buf: buzEt3UgddaH3VN/lu0SsO60gVU=
accept_buf: J41AtZuOVFrmnr4Yiv/AeM4PKI8=
accept_buf: d3D8XKuIT52ncEpTy7pLaV1rJ+w=
accept_buf: YsxVNyySNxbTejiU7+RsWxfYk/Y=
accept_buf: iQVr7UD05PedsiHqMnIyudcg00c=
accept_buf: xXT5rD1syWNwxAosQ20sI4pSqKU=
ERROR!!! /home/zhimin/github/sdl_core/src/3rd_party-static/

[2016-10-21 14:11] pankaj2590 commented on #590
I am also facing same issue.
Is there any alternate link or alternate application for same.

Thanks,

[2016-10-24 13:24] #479 closed

[2016-10-24 13:28] joeygrover commented on #621
Fixed with #909

[2016-10-24 13:28] #621 closed

[2016-10-24 13:29] joeygrover commented on #479
Fixed with #909

[2016-10-24 14:02] jacobkeeler commented on #885
![](https://github.trello.services/images/mini-trello-icon.png) [Alert & Show Constant TBT & Alert Maneuver & Update Turn List Do not unsubscribe after conclusion of pop up.](https://trello.com/c/iNwelphz/111-alert-show-constant-tbt-alert-maneuver-update-turn-list-do-not-unsubscribe-after-conclusion-of-pop-up)

[2016-10-24 14:28] jacobkeeler commented on #890
Fixed with #900

[2016-10-24 14:28] #890 closed

[2016-10-24 17:13] #755 closed

[2016-10-24 17:18] JackLivio commented on #913
@yang1070 What HMI are you connecting to SDL Core?

[2016-10-26 07:00] pankaj2590 commented on #35
Hi,

I am facing same issue. Above mentioned solution also not working for me on linux i386 platform.
Below is the error message i am getting after AOA connection:

TRACE [26 Oct 2016 12:23:53,960][0xac27db40][TransportManager] /home/pankaj/Projects/smartdevicelink/sdl_core/src/components/transport_manager/src/usb/libusb/usb_handler.cc:110 transport_adapter::UsbHandler::DeviceArrived: enter. libus

[2016-10-26 13:30] #905 closed

[2016-10-27 17:59] #44 closed

[2016-10-27 18:02] #78 closed

[2016-10-27 18:06] jacobkeeler commented on #214
Outdated, but the PR for this is #274

[2016-10-27 18:09] jacobkeeler commented on #307
Closing due to no response

[2016-10-27 18:09] #307 closed

[2016-10-28 14:24] #177 closed

[2016-10-28 14:27] #263 closed

[2016-10-28 14:28] #267 closed

[2016-10-28 14:28] #345 closed

[2016-10-28 14:29] #377 closed

[2016-10-28 14:31] JackLivio commented on #393
Sorry but IAP is not currently supported in the open source version of SDL Core.

[2016-10-28 14:31] #393 closed

[2016-10-28 14:32] #434 closed

[2016-10-28 14:37] JackLivio commented on #15
Strange. Referenced PR says it was merged into Master yet we can't find the FindBluetooth Cmake module anywhere or the commit that added it.

Leaving open to re-add the find bluetooth cmake module.

[2016-10-31 14:37] joeygrover commented on #838
Can you reference which guide you found this information?

[2016-10-31 14:41] sandeepf184 commented on #838
https://smartdevicelink.com/en/docs/hmi/master/basiccommunication/dialnumber/

Refer the sequence diagrams

[2016-11-03 13:54] TMelnyk opened #932 "[Policy] "EXTERNAL_PROPRIETARY" flow: appID Management"
_**Description:**_
To "switch on" the extended Policies -> SDL should be built with ***-DEXTENDED_POLICY: EXTERNAL_PROPRIETARY*** flag.

***Impact:***
SDL
HTML5 HMI
SPT
TestCases
Requirements

[2016-11-03 13:55] TMelnyk opened #933 "[Policy] "EXTERNAL_PROPRIETARY" flow: Policy Table Update"

[2016-11-03 13:55] TMelnyk opened #934 "[Policy] "EXTERNAL_PROPRIETARY" flow: App Permissions"

[2016-11-03 13:56] TMelnyk opened #935 "[Policy] "EXTERNAL_PROPRIETARY" flow: General SDL behavior"

[2016-11-03 13:56] TMelnyk opened #936 "[Policy] "EXTERNAL_PROPRIETARY" flow: Related HMI API"

[2016-11-03 13:57] TMelnyk opened #937 "[Policy] "EXTERNAL_PROPRIETARY" flow: Policies Security"

[2016-11-03 13:57] TMelnyk opened #938 "[Policy] "EXTERNAL_PROPRIETARY" flow: Validation of PolicyTables"

[2016-11-03 13:58] TMelnyk opened #939 "[Policy] "EXTERNAL_PROPRIETARY" flow: user-consent in terms of Policies"

[2016-11-03 13:59] TMelnyk opened #940 "[Policy] "Proprietary" flow: SDL must be build with "-DEXTENDED_POLICY: PROPRIETARY""

[2016-11-03 14:00] TMelnyk opened #941 "[Policy] "HTTP" flow: SDL must be build with "-DEXTENDED_POLICY: HTTP""

[2016-11-03 14:00] TMelnyk opened #942 "[Policy] "EXTERNAL_PROPRIETARY" flow: SDL must be build with "-DEXTENDED_POLICY: EXTERNAL_PROPRIETARY""

[2016-11-04 14:37] Itileda opened #943 "[SDL-RC Merge] Update architecture of SDL-RC according needs of OpenSDL"
1. Removing of singletons and other minor changes
2. UT updates
3. Requirements cloning

[2016-11-04 14:39] Itileda opened #944 "[SDL-RC Merge] Workout of SDL-RC Component Model"
1. Adapting component model for OpenSDL specifics
2. UT updates

[2016-11-04 14:42] Itileda opened #945 "[SDL-RC Merge] SDL-RC functional components refactoring"
1. Components refactoring
2. UT updates

[2016-11-04 14:44] Itileda opened #946 "[SDL-RC Merge] Stabilization: Defect fixing"
In scope of this task should be fixed all found defects

[2016-11-04 14:45] Itileda opened #947 "[SDL-RC Merge] Requirements cloning"
RA(BA):
- Analysis of existing req-s
- Clone SDL-RC requirements to OpenSDL
- Adjust cloned requirements to OpenSDL "standards"
- Resolve requirements conflicts (if any)
- Meeting with Customers
- Questions from team

[2016-11-04 14:46] Itileda opened #948 "[SDL-RC Merge] Stabilization: Regression testing"
- Full regression testing
- Defects fix re-check

[2016-11-04 14:52] Itileda opened #949 "[SDL-RC Merge] SDL-RC functionality merging"
Assumptions:

- All RevSDL requirements would be cloned to OpenSDL requirements.
- There is no conflicts in OpenSDL and RevSDL requirements
- Rev SDL functionality should work on Qt and WinNative
- RevSDL functionality is not required to be tested on hardware.
- Supported systems for OpenSDL and RevSDL functinality does not changed : Ubuntu 16.04. WinNative. WinQt
- After merging OpenSDL will supp

[2016-11-07 13:42] DrachenkoAnastasiia opened #955 "Incorrect response on send SystemRequest (file name - /test)"
### Bug Report
Incorrect response on send SystemRequest (file name - /test)

##### Reproduction Steps
1. Send SystemRequest (choose any file from sdcard on mobile), specify request type - PROPRIETARY, Use file name - /test

##### Expected Behavior
SDL responses with INVALID DATA result code

##### Observed Behavior
SDL responses with REJECTED result code

##### OS & Version Information
* OS/Versio

[2016-11-07 13:53] DrachenkoAnastasiia opened #956 "putFile does not copy file with .\\ before the name to AppStorageFolder"
**Occurrence:**
Always

**Preconditions:**
1. SDL and HMI are started
2. App is registered("Set app icon" after registration checkbox is unchecked)
3. App HMIlevel=FULL
**Steps to reproduce:**
1. Send PutFile (choose any file from sdcard on mobile), specify Sync File Name - .
syncFileName (dot two backslashes before the name)
**Actual result:**
the SPT displays PutFile(response):SUCESS, but chosen

[2016-11-07 13:54] KhrystynaDubovyk opened #957 "SDL should respond "IGNORED" with correct result code for UnSubscribeVehicleData in case vi interface isn't available"
**Occurence:**
Always

**Preconditions:**
1. Move IsReady_Template folder into sdl_atf\user_modules
2. SubscribeVehicleData and UnSubscribeVehicleData are allowed in PT

**Steps to reproduce:**
Or: (Go to atf folder -> Run command: ./start.sh ../ATF_VehicleInfo_IsReady_available_false_SingleRPC.lua)
1. RegisterApp incase HMI does not respond
2. Activate app
3. Send SubscribeVehicleData with gps =

[2016-11-07 13:57] KhrystynaDubovyk opened #958 "[Policy]: SDL does not send RequestType:HTTP in OnSystemRequest to app"
**Occurrence:**
Always

**Preconditions:**
1. SDL built with DEXTENDED_POLICY: *OFF*
2. Core, HMI started.
3. First SDL life cycle.
4. Policy autoreplay checkbox is unchecked on app.

**Steps to reproduce:**
1. Register App

**Actual result:**
SDL send OnSystemRequest with requestType:PROPRIETARY and fileType:Json to app.

**Expected result:**
SDL should send OnSystemRequest with requestType:HTTP

[2016-11-07 14:01] KhrystynaDubovyk opened #959 "HMILevel is not resumed to LIMITED for non-media applications"
**Occurrence:**
Always

**Preconditions:**
1. Values configured in .ini file:
AppSavePersistentDataTimeout =10000;
ResumptionDelayBeforeIgn = 30;
ResumptionDelayAfterIgn = 30;
ApplicationResumingTimeout = 5000
2. Core and HMI are started.
3. Non-media application(COMMUNIATION) is registered and activated. -> HMI level = FULL
4. Go to menu Apps. HMI level of application becomes LIMITED
5. Stop WiFi

[2016-11-07 14:03] DrachenkoAnastasiia opened #960 "SDL retry send StartStream/StartAudioStream less on one time than configured in .ini file"
**Occurrence:**
Always

**Preconditions:**
1. Core, HMI started.
2. StartStreamRetry = 3, 3 in .ini file.
3. Navi app registered and activated on HMI.

**Steps to reproduce:**
1. Start Audio/Video service.
2. Press cancel on HTML5 HMI (emulate REJECT from HMI) => SDL start retry sequence.
3. Press Cancel on all appeared pop-ups.

**Actual result:**
After unsuccessful StartStream/StartAudioStream (

[2016-11-07 14:06] KhrystynaDubovyk opened #961 "[Policy]: SDL dos not select url from PT for specified appID during GetURLs request."
## Occurrence
Always.

## Preconditions
1. Move IsReady_Template folder into sdl_atf\user_modules
2. SubscribeVehicleData and UnSubscribeVehicleData are allowed in PT

## Steps to reproduce
Or: (Go to atf folder -> Run command: ./start.sh ../ATF_VehicleInfo_IsReady_available_false_SingleRPC.lua)
1. RegisterApp incase HMI does not respond
2. Activate app
3. Send SubscribeVehicleData with gps = true

[2016-11-07 14:09] DrachenkoAnastasiia opened #962 "[Policies] PM should verify that "seconds_between_retries" array has maxlength 5"
## Occurrence
Always

## Preconditions
Change "seconds_between_retries" in the sdl_preloaded_pt.json to: [1, 5, 25, 250, 625, 891]

## Steps to reproduce
Start SDL.

## Actual result
SDl continue working, no errors in log observed.

## Expected result
Policy Manager must consider Policy Table as invalid if section "seconds_between_retries" has more than 5 values in array of integers and thus log e

[2016-11-07 14:17] DrachenkoAnastasiia opened #963 "SDL forwards OnButtonPress(CUSTOM_BUTTON) with wrong appID to current App."
**Occurrence:**
Always

**Preconditions:**
1. Core, HMI started.
2. App is registered on HM and has HMIlevel BACKGROUND

**Steps to reproduce:**
1. Send from HMI OnButtonPress(CUSTOM_BUTTON, SHORT/LONG, wrong appID)

**Actual result:**
SDL resends it to currently registered App.

**Expected result:**
SDL must ignore the notification.

**Environment:**
Issue is still reproduced on:
SDL:
Repository:

[2016-11-07 14:25] KhrystynaDubovyk opened #964 "SDL sends to mobile "APPLICATION_NOT_REGISTRED" in setAppIcon responce if HMI responds with "INVALID_DATA""
**Occurrence:**
Always

**Precondition:**
SDL Core and HMI are started. App is registered, HMI level = FULL

**Steps:**
1. Send PutFile with file name =\syncFileName
SDL returns SUCCESS result, success:true
2. Send SetAppIcon with file name =\syncFileName
3. Send from HMI INVALID_DATA to SDL.

**Actual result:**
-SDL returns "APPLICATION_NOT_REGISTRED" to mobile

**Expected result:**
-SDL should s

[2016-11-07 14:27] DrachenkoAnastasiia opened #965 "[API] App is not unregistered by reason = REQUEST_WHILE_IN_NONE_HMI_LEVEL"
**Occurrence:**
Always

**Preconditions:**
- SDL Core and HMI are started.
- App is registered
- Set AppHMILevelNoneTimeScaleMaxRequests= 1 in the ini file

**Steps to reproduce:**
1. Send 10 ListFiles request from app
**Note:** Should use the attached lua file to reproduce this defect automatically

**Actual result:**
App is not unregistered by REQUEST_WHILE_IN_NONE_HMI_LEVEL reason

**Expected r

[2016-11-07 14:34] DrachenkoAnastasiia opened #966 "[SDL4.0]SDL does not send OnSystemRequest to app on second device"
## Occurrence
always

## Preconditions
SDL4.0 feature is enabled in .ini file, SDL and HMI are started. App app_1 is registered via 4th on first device,has already received OnSystemRequest(Query_apps)and sent query json.

## Steps to reproduce
1. Register app via 4th protocol on second device.

## Expected result
After app is registered and sends to SDL OnHMIStatus(FULL) SDL sends OnSystermRequest

[2016-11-07 14:40] KhrystynaDubovyk opened #967 "CCB: SDL forw OnButtonEvent of CUSTOM_BTN to BACKGROUND"
### Bug Report
SDL not forwards OnButtonEvent notification of CUSTOM_BUTTON to BACKGROUND App

##### Reproduction Steps
1. Make sure app is in BACKGROUND HMI level
2. Send OnButtonEvent(CUSTOM_BUTTON, SHORT/LONG) from HMI

##### Expected Behavior
Notification is re-sent to App

##### Observed Behavior
SDL didn't resend notification to App

##### OS & Version Information
commit:
* OS/Version: Ubunt

[2016-11-07 14:40] DrachenkoAnastasiia opened #968 "Ubuntu: Policy table can't be loaded when RPCs added in functional_group is greater than 50."
## Occurrence
Always

## Preconditions
1. Add to sdl_preloaded_pt.json 51 RPCs.

## Steps to reproduce
1. Start SDL.
2. SDL tries to load Policy table.

## Actual result
1. SDL gets "Parsed table is not valid policy_table.policy_table.functional_groupings["Base-4"].rpcs: map has invalid size" and closed.

## Expected result
1. Policy table is loaded successfully.
2. SDL continues to work normally.

[2016-11-07 14:44] DrachenkoAnastasiia opened #969 "[Policy] PM doesn't validate required section/key in case it is invalid and SDL continue running."
## Occurrence
Always

## Preconditions
- Change "exchange_after_x_ignition_cycles": "abc" in sdl_preloaded_pt.json;
- SDL is the first life cycle.

## Steps to reproduce
1. Start SDL.

## Actual result
PM sets "exchange_after_x_ignition_cycles": 0 and SDL continue working.

## Expected result
PM should shut SDL down and log an error internally.

# Environment
SDL repo: https://github.com/smartdevi

[2016-11-07 14:47] DrachenkoAnastasiia opened #970 "[Policies] Redundant keys are present in Policy DB - usage_and_error_counts"
## Occurrence
Always

## Preconditions
1. Policy DB is absent on FS.

## Steps to reproduce
1. Start SDL.

## Actual result
SDL creates DB with table usage_and_error_counts.

## Expected result
All counters of usage_and_error_counts are Ford-specific.

# Environment
Branch: https://github.com/smartdevicelink/sdl_core/tree/release/4.1.0
SDL: fa05b5f5b1af6fae7d684a5cc156ec2e68dbc197
HMI: HTMI5 commi

[2016-11-07 14:50] KhrystynaDubovyk opened #971 "SDL should respond "IGNORED" with correct result code for UnSubscribeVehicleData in case vi interface isn't available"
## Occurrence
Always.

## Preconditions
1. Move IsReady_Template folder into sdl_atf\user_modules
2. SubscribeVehicleData and UnSubscribeVehicleData are allowed in PT

## Steps to reproduce
Or: (Go to atf folder -> Run command: ./start.sh ../ATF_VehicleInfo_IsReady_available_false_SingleRPC.lua)
1. RegisterApp incase HMI does not respond
2. Activate app
3. Send SubscribeVehicleData with gps = true

[2016-11-07 14:55] KhrystynaDubovyk opened #972 "SDL should respond "IGNORED" with correct result code for UnSubscribeVehicleData in case vi interface isn't available"
**Occurence:**
Always

**Preconditions:**
1. Move IsReady_Template folder into sdl_atf\user_modules
2. SubscribeVehicleData and UnSubscribeVehicleData are allowed in PT

**Steps to reproduce:**
Or: (Go to atf folder -> Run command: ./start.sh ../ATF_VehicleInfo_IsReady_available_false_SingleRPC.lua)
1. RegisterApp incase HMI does not respond
2. Activate app
3. Send SubscribeVehicleData with gps =

[2016-11-07 15:25] DrachenkoAnastasiia opened #973 "[Policies] PT is considered as valid with no items in "groups" sub-section from "default""
## Occurrence
Always

## Preconditions
Erase items of "group" from "default" of sdl_preloaded_pt.json.

## Steps to reproduce
Start SDL.

## Actual result
SDL continue running.

## Expected result
PoliciesManager must consider Preloaded PolicyTable as invalid in case "groups" sub-section in "default" section has empty value, log error then shut SDL down.

_**Note:**_ the same SDL behavior with mis

[2016-11-07 15:53] KhrystynaDubovyk opened #974 "CCB: fix UpdateDeviceList conten"
### Bug Report
SDL sends UpdateDeviceList with disconnected device in the deviceList

##### Reproduction Steps
1. Connect several devices.
2. Disconnect devices
3. Initiate sending UpdateDeviceList from SDL

##### Expected Behavior
SDL sends UpdateDeviceList without disconnected devices.

##### Observed Behavior
Disconnected devices are presented in UpdateDeviceList

##### OS & Version Information

[2016-11-07 15:55] DrachenkoAnastasiia opened #975 "[TV] SDL must respond with INVALID_DATA on SystemRequest that uploads a file containing `../` sequences"
## Occurrence
Always.

## Preconditions
1. SDL and HMI are started.
2. App is registered.
3. App HMIlevel=FULL.
4. Save any file to sdcard on mobile.

## Steps to reproduce
1. Select SystemRequest in "Send Message" (SPT).
2. Use for request file from precondition, specify file name - /test.
3. Set request type - PROPRIETARY.
4. Send SystemRequest.

## Actual result
SUCCESS is returned to SystemReq

[2016-11-07 15:59] DrachenkoAnastasiia opened #976 "[IVSU] SDL doesn't reject SystemRequest with filenam=IVSU but w/o binary data."
## Occurrence
Always

## Preconditions
1. Core, HMI started.
2. App is registered and activated on HMI.

## Steps to reproduce
1. Send systemRequest. specify name IVSU, don't select a file on sdcard.

## Actual result
SDL replies with SUCCESS and resend this SystemRequest to HMI.

## Expected result
SDL should reject such request.

# Environment
SDL repo: https://github.com/smartdevicelink/sdl_cor

[2016-11-07 16:01] KhrystynaDubovyk opened #977 "[SDL4.0]SDL sends appName in vrSynonyms and ttsName in case of lower and upper bound values of params in json file"
## Occurrence
Always.

## Preconditions
SDL4.0 feature is enabled in .ini file, SDL and HMI are started.

## Steps to reproduce
1. Register app via 4th protocol.
2. App sends via SystemRequest json file JSONWithLanguageDefaultVrTtsLowerBound.json
JSONWithLanguageDefaultVrTtsUpperBound.json

## Expected result
SDL sends in BC.UpdateAppList values of vrSynonyms and ttsName from json file

## Actual

[2016-11-07 16:04] DrachenkoAnastasiia opened #978 "[Policies] PM doesn't validate the size of section "default" in "endpoints" of Policy Table"
## Occurrence
Always

## Preconditions
Edit sdl_prealoaded_pt.json to have 4 items in "default" section of "endpoints".

## Steps to reproduce
Start SDL.

## Actual result
SDl continue working, no errors in log observed.

## Expected result
Policy Manager must verify that section "default" in Policy Table has value as array from 1 to 3 string elements so PM must log error and shut SDL down.

_**No

[2016-11-07 16:08] DrachenkoAnastasiia opened #980 "[APIs] AlertManeuver: SDL responds GENERIC_ERROR instead of INVALID_DATA when soft button has Type is Image or Both and Text is whitespace or \t or \n or empty"
## Occurrence
 Always

## Preconditions
- AlertManeuver is allowed by policy for "default" group.
- SDL core and HMI are started.
- App is connected and at the FULL.

## Steps to reproduce
1. Send AlertManeuver sure that soft button has Type is Image or Both and Text is whitespace or \t or \n or empty.
_**Note:**_ Should you the attached lua file and reproduce this defect automatically.

## Actual

[2016-11-07 16:10] KhrystynaDubovyk opened #981 "[Policies] PM doesn't update "notifications_per_minute_by_priority""
## Occurrence
Always.

## Preconditions
1. sdl_preloaded is original after SDL was built

## Steps to reproduce
1. Start SDL
2. Register an application
3. Initiate PTU
4. Wait PTU completed then check "notifications_by_priority" table in Policy Data base

## Actual result
"EMERGENCY": 60,
"NAVIGATION": 15,
"VOICECOM": 20,
"COMMUNICATION": 6,
"NORMAL": 4,
"NONE": 0

## Expected result
"EMERGENCY":

[2016-11-07 16:17] DrachenkoAnastasiia opened #982 "SDL responds "resultCode: SUCCESS" while dataType:VEHICLEDATA_EXTERNTEMP is VEHICLE_DATA_NOT_AVAILABLE and not in subscribed list store"
## Occurrence
Always

## Preconditions
1. Core and HMI are started.
2. SubscribeVehicleData (speed, externalTemperature), OnVehicleData is allowed by policy for app_1 and app_2.
3. Navi App1 and navi app2 are registered and activated.

## Steps to reproduce
1. Send SubscribeVehicleData (speed, externalTemperature) from app_1
=> SDL responds SubscribeVehicleData ((speed:success),(externalTemperatur

[2016-11-07 16:22] KhrystynaDubovyk opened #983 "SDL does not disallow API of revoked App"
**Occurrence:**
Always

**Preconditions:**
1. Core, HMI started 1st time.

**Steps to reproduce:**
1. Register App
2. Iniitiate PTU, after which App should be allowed to register with only some nicks.

**Actual result:**
nicknames table is empty after PTU

**Expected result:**
nicknames table should contain all nicks from PTU

**Environment:**
SDL branch: master
SDL commit: a6c32b4
HMI: HTML5
OS:

[2016-11-07 16:22] DrachenkoAnastasiia opened #984 "No response to App on UI.Slider sent if no HMI response during <DefaultTimeout>"
## Occurrence
Always

## Preconditions
1. SDL and HMI are started.
2. HMI is initialized and didn't respond on UI.IsReady:
SDL -> HMI: UI.IsReady;
HMI -> SDL: HMI didn't repond to UI.IsReady.

## Steps to reproduce
1. App is registered.
2. App sends to SDL single UI.Slider => SDL resends it, but no HMI response comes.

[code]
[code]

## Actual result
SDL doesn't respond to App for this RPC.

## Ex

[2016-11-07 16:26] DrachenkoAnastasiia opened #985 "[Policy]: SDL does not apply url from PT for specified appID for OnSystemRequest"
## Occurrence
Always

## Preconditions
1. SDL built with DEXTENDED_POLICY: OFF.
2. Core, HMI started using attached sdl_preloaded_pt.json.
3. SPT is configured to send attached PTU - PTFromCloud_smoke%20test__2.json.

## Steps to reproduce
1. Register App with appID "584421907" - PTU trigered successfully.
2. Register app "Base", appID = 12345.

## Actual result
After Registration second app SDL t

[2016-11-07 16:27] KhrystynaDubovyk opened #986 "SDL creates redundant device_consent table in Policy DB"
## Occurrence
Always.

## Preconditions
1. Core, HMI started 1st time.

## Steps to reproduce
1. Register App.

## Actual result
SDL do not add all device related info to Policy DB

## Expected result
SDL should add all device related info to Policy DB (according to dictionary identifier should be present)

# Environment
SDL branch: master
SDL commit: a6c32b4
HMI: HTML5
OS: Ubuntu 14.04 LTS
Transp

[2016-11-07 16:30] DrachenkoAnastasiia opened #987 "INVALID_DATA received in case wayPointType with correct parameter was sent"
## Occurrence
Always.

## Actions
GetWayPoints with valid param (ALL or DESTINATION) was sent. resultCode: INVALID_DATA was received in responce (script_001.lua in attachment could be used to reproduce this step).

## Actual result
GetWayPoints_wayPointType_IsExistentValues_ALL_SUCCESS and GetWayPoints_wayPointType_IsExistentValues_DESTINATION_SUCCESS are failed; INVALID_DATA is received.

## Expe

[2016-11-07 16:32] KhrystynaDubovyk opened #988 "[Protocol] App becomes unregistered if PutFile is sent from any of two sessions (protocols v.2 and v.3)"
## Occurrence
1/3

## Precondition
1. SDL and HMI are started
2. Session 1 of App registered using v2 protocol
3. Session 2 of App registered using v3 protocol
4. "MaximumPayloadSize" = is empty or default value in smartDeviceLink.ini file
5. Wireshark is configured to listen SDL protocol

## Steps to reproduce
1. Activate session 1 of App.
2. Send any PutFile less then 1488 from any session, for

[2016-11-07 16:35] DrachenkoAnastasiia opened #989 "[API] SDL responds "UNSUPPORTED_RESOURCE", success= false in case only have "UNSUPPORTED_RESOURCE" to Navigation.AlertManeuver"
## Occurrence
Always

## Preconditions
-SDL Core and HMI are started.
-Navigation interface is not supported.
-AlertManeuver is allowed by Policy.
-App is registered, HMI level = FULL.

## Steps to reproduce
1. Send AlertManeuver() to SDL.
2. HMI sends SUCCESS response to "TTS.Speak" and UNSUPPORTED_RESOURCE to "Navigation.AlertManeuver".
_**Note:**_ Please use the attached file for reproduce this

[2016-11-07 16:37] DrachenkoAnastasiia opened #990 "[Navigation] SDL does not respond info message in case GENERIC_ERROR watchdog timeout from HMI"
**Occurrence:**
Always

**Preconditions:**
1. Core and HMI started
2. SendLocation, ShowConstantTBT, UpdateTurnList, GetWayPoints, SubscribeWayPoints are allowed in Policy.

**Steps to reproduce:**
**Or:** (Go to atf folder -> Run command: ./start.sh ../ATF_Navigation_IsReady_no_response_single_RPC_no_response.lua)

1. Stop then start SDL
2. Init HMI, Send Navigation.IsReady from SDL to HMI
SDL->H

[2016-11-07 16:45] DrachenkoAnastasiia opened #991 "GetWayPoints: SDL does not reset the default watchdog timeout of GetWayPoints request if HMI sends OnResetTimeout notification for this request"
## Occurrence
Always

## Preconditions
ATF is configured to execute tests.
All related files are present in ATF directiry.

## Steps to reproduce
1. Execute ATF_GetWayPoints_OnResettimeout.lua (attached):
HMI sends OnResetTimeout after 8s aftyer GetWayPoints request from SDL (see "GetWayPoints_OnResetTimeout" test case).
==============>>>>

## Actual result
SDL does not reset watchdog timeout for

[2016-11-07 16:53] KhrystynaDubovyk opened #992 "[Policies] SDL should be case-insensetive to "AppID" against listed in policies manager"
## Occurrence
Always.

## Preconditions
1. SDL is started.
2. Application with appName="Test" and appID="123QWE" is present in local policy table.

## Steps to reproduce
Register mobile application with appName="Test" and appID="123qwe"

## Expected result
SDL must allow such appName registration. SDL responds to RegisterAppInterface with SUCCESS=true.

## Actual result
DISALLOWED came for Registe

[2016-11-07 16:55] DrachenkoAnastasiia opened #993 "HashID should not be updated on successful single UI.<RPC> if no UI.IsReady response"
## Occurrence
Always

## Preconditions
1. SDL and HMI are started.
2. HMI is initialized and didn't respond on UI.IsReady:
SDL -> HMI: UI.IsReady.
HMI -> SDL: HMI didn't respond to UI.IsReady.

## Steps to reproduce
1. App is registered.
2. App sends to SDL single <UI.RPC> => HMI responds with UNSUPPORTED_RESOURCE (success:true).
Example with UI.AddCommand:
    ===== TC_AddCommand_Only_UNSUPPORTED

[2016-11-07 16:57] KhrystynaDubovyk opened #994 "[SDL4.0] Json validation is failed in case language parameter does not contain vrSynonyms or ttsName"
## Occurrence
Always.

## Preconditions
 SDL4.0 feature is enabled in .ini file, SDL and HMI are started.

## Steps to reproduce
1. Register app via 4th protocol.
2. App sends via SystemRequest json file JSONWithTtsNameVrSynonymsInSeparatedStructs.json.

## Expected result
 SDL considers json file as valid and write a value of appName to the omitted param only.

## Actual result
SDL fails json val

[2016-11-07 17:01] KhrystynaDubovyk opened #995 "CCB: Fix sdl sends query apps to the app"
### Bug Report
SDL sends OnSystemRequest (QUERY_APPS) to the app after unsuccessful attempt

##### Reproduction Steps
1. Make sure SDL4.0 feature is enabled in .ini file
2. Register app via 4th protocol.
3. App sends incorrect json on SystemRequest and receives error code in response.
4. Bring app to background and then to foreground again or register new app via 4th protocol.

##### Expected Beha

[2016-11-07 17:04] DrachenkoAnastasiia opened #996 "Negative result code send instead of IGNORED for UnsubscribedVehicleData when VehicleInfo IsReady Missing"
## Occurrence
Always

## Preconditions
ATF is properly set-up according to note below.
In user_modules>IsReady_Template in test_run folder of ATF build put attached file ATF_Interface_IsReady_missing_SingleRPC_Template.lua.
In test_scripts folder in sdl_atf_test_scripts folder of ATF build put attached file ATF_VehicleInfo_IsReady_missing_SingleRPC_USER_DISALLOWED.lua.

## Steps to reproduce
Run s

[2016-11-07 17:07] DrachenkoAnastasiia opened #997 "SDL doesn't set unsuccessful "message" value to "info" param in case HMI responds via single UI.RPC when <Interface>.IsReady missing"
## Occurrence
Always

## Preconditions
1. SDL and HMI are started.
2. HMI is initialized and didn't respond on UI.IsReady:
SDL -> HMI: UI.IsReady
HMI -> SDL: HMI didn't repond to UI.IsReady.

## Steps to reproduce
1. App is registered.
2. App sends to SDL single UI.`<RPC>` => HMI responds with `<resultCode>`.

Example with UI.AddSubMenu:

    TC_AddSubMenu_Only_GENERIC_ERROR_Case_1_IsReady_HMI_Doe

[2016-11-07 17:12] KhrystynaDubovyk opened #998 "SDL returns IGNORED instead of UNSUPPORTED_RESOURCE for UnsubscribeButton"
## Occurrence
Always.

## Preconditions
1. In file hmi_capabilities.json "SEARCH" button exists in capabilities.
2. Core, HMI are started.
3. SDL receives Buttons.GetCapabilities response. "SEARCH" button is not in list for supported buttons.

## Steps to reproduce
1. Send RPC UnsubscribeButton with buttonName = "SEARCH".

## Expected result
SDL shall return result_code: UNSUPPORTED_RESOURCE, succ

[2016-11-07 17:27] KhrystynaDubovyk opened #999 "SDL does not send default vrHelp to HMI if App was registered with vrSynonyms"
## Occurrence
Always.

## Preconditions
1. Core, HMI started.
2. App is registered on HMI.
3. App provided vrSynonyms in RegisterAppInterface.

## Steps to reproduce
1. Send SetGlobalProperties with only "menuTitle" parameter

## Expected result
SDL should send default vrHelp and vrHelpTitle

## Actual result
SDL do not send vrHelp at all.

**Note:** Problem can be reproduced with attached ATF scr

[2016-11-07 17:29] DrachenkoAnastasiia opened #1000 "[Policies] PM shuts SDL down but doesn't log error in case any required section/key is absent in the sdl_prealoaded_pt.json"
## Occurrence
Always

## Preconditions
- SDL is at the first life cycle;
- Erase "endpoints" from sdl_preloaded_pt.json (should used attached file if needed).

## Steps to reproduce
1. Start SDL.

## Actual result
PM shuts SDL down without logging any internal error.

## Expected result
PM logs error and shut SDL down. Example like below:
FATAL [15:58:58,417][Policy] Parsed table is not valid poli

[2016-11-07 17:36] KhrystynaDubovyk opened #1001 "OnHashChange notification for UnsubscribeVehicleData when 2 applications are registered"
## Occurrence
Always.

## Preconditions
1. HMI and SDL are running.
2. Register and activate first application.
3. Register and activate second application.
4. Subscribe VehicleData Speed.

## Steps to reproduce
1. Unsubscribe VehicleData Speed.
2. SDL send SUCCESS to application. - OK

## Expected result
OnHashChange notification is sent.

## Actual result
OnHashChange notification is not sent.

[2016-11-07 17:36] DrachenkoAnastasiia opened #1002 "SDL does not send StopAudioStream() if exit app while Video service and Audio service are starting."
**Occurrence:**
Always

**Preconditions:**
1.SDL is started
2.HMI is started

**Steps to reproduce:**
1. Register Navi App
2. Activate App
3. Press "Video Service - Show" button
4. Press "Start Service"
5. Press "Ok" button on popup
6. Press "Audio Service - Show" button
7. Press "Start Service" popup
8. Press "Ok" button on popup
9. Press Exit App on menu app

**Actual result:**
SDL only sends St

[2016-11-07 17:40] DrachenkoAnastasiia opened #1003 "[SDL4.0]SDL does not create icons folder in case it was removed after SDL start"
## Occurrence
Always

## Preconditions
SDL4.0 feature is enabled in .ini file, ' Icons' values is set as AppIconsFolder value, SDL and HMI are started. Icons folder is created.

## Steps to reproduce
1. Remove Icons folder.
2. Register app via 4th protocol, app is set icon.

## Actual result
SDL does not create Icons folder.

## Expected result
SDL creates Icons folder to save icon for registered

[2016-11-07 17:42] KhrystynaDubovyk opened #1004 "App is disconnected due to PROTOCOL_VIOLATION when start audio streaming after rejected 2 times then accepted"
## Occurrence
Always.

## Preconditions
1. SDL is started.
2. HMI is started.

## Steps to reproduce
1. Register Navi App
2. Activate App
3. Press "Audio Service - Show" button
4. Press "Start Service"
5. Press "Cancel" on popup
6. Press "Cancel" on popup
7. Press "Ok" popup
8. Press "Start File Streaming"

## Expected result
Audio Streaming is started.

## Actual result
App is unregistered with r

[2016-11-07 17:45] DrachenkoAnastasiia opened #1005 "OpenSDL repo still contains old "generate_test_certificates.py" script."
## Occurrence:
Always

## Preconditions:
SDL is started.

## Steps to reproduce:
1. Execute https://github.com/smartdevicelink/sdl_core/tree/release/4.2.0/tools/Utils/generate_test_certificates.py

## Actual result:
Script does not generate pem certificate to put to DB.

## Expected result:
Script should generate pem certificate to put to DB.

**Enviroment:**
SDL:
Repository: https://github.com/sm

[2016-11-07 17:47] KhrystynaDubovyk opened #1006 "SDL responses with GENERIC_ERROR instead of UNSUPPORTED_RESOURCE"
## Occurrence
Always.

## Preconditions
SDL is started.

## Steps to reproduce
Send any single UI-related RPC , UI interface is not supported by the system (script.lua from attachment could be used to reproduce)
SDL receives UI.IsReady (available=false) from HMI

## Actual result
SDL responds with GENERIC_ERROR, success=false (logs are in attachment)

## Expected result
SDL must respond "UNSUPPORT

[2016-11-07 17:48] DrachenkoAnastasiia opened #1007 "[Policies] Ford-specific keys are present in Genivi Policy DB - DeviceData"
## Occurrence
Always

## Preconditions
1. Policy DB is absent on FS.

## Steps to reproduce
1. Start SDL

## Actual result
SDL creates DB, table "device" contains Ford-specific keys like "hardware", "firmware_rev" etc.

## Expected result
"DeviceData" secition is Ford-specific.

_**Note:**_ device_consent_group and consent_group also are present in the Genivi Policy DB.

# Environment
SDL repo: ht

[2016-11-07 17:51] DrachenkoAnastasiia opened #1008 "SDL doesn't add device identifier to Policy DB and not present in the snapshot"
**Occurrence:**
Always

**Steps to reproduce:**
1. Start SDL

**Actual result:**
SDL created redundant table in Policy DB (data_consent) and device
{device identifier} is not present in the Snapshot

**Expected result:**
SDL shloud create only needed tables and device{device identifier}
is present in the Snapshot

**Environment:**
SDL:
sdl_repository = "https://github.com/smartdevicelink/sdl_core/

[2016-11-07 17:54] KhrystynaDubovyk opened #1009 "SDL does not transfer all info parameters of unsuccess result codes when UI.IsReady = false"
## Occurrence
Always.

## Preconditions
In user_modules>IsReady_Template in test_run folder of ATF build put attached file ATF_Interface_IsReady_missing_SplitRPC_Template.lua.
In test_scripts folder in sdl_atf_test_scripts folder of ATF build put attached file ATF_UI_IsReady_missing_SplitRPC_GENERIC_ERROR.lua.

## Steps to reproduce
(Execute ATF_UI_IsReady_missing_SplitRPC_GENERIC_ERROR.lua )
1. D